<div fxLayout="column" fxFlex="100">

  <div fxFlex="100" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column"
    fxLayoutAlign="start center">

    <mat-toolbar-row class="breadcrumb-list" aria-label="breadcrumb" fxLayoutAlign="start center" fxFlex="30">
      <mat-list class="breadcrumb-padding" aria-label="breadcrumb" fxLayout="row" fxLayoutAlign="start center">
        <mat-list-item class="breadcrumb-padding-0" fxLayoutAlign="start center"><a href="#"
            [routerLink]="['/home/dashboard']">
            <mat-icon class="small-icon">home</mat-icon>
          </a>
          <mat-icon>keyboard_arrow_right</mat-icon>
        </mat-list-item>
        <mat-list-item class="breadcrumb-padding-0" fxLayoutAlign="start center" aria-current="page">{{'MENU_ASSET'|
          translate}} <mat-icon>keyboard_arrow_right</mat-icon>
        </mat-list-item>
        <mat-list-item class="breadcrumb-padding-0" fxLayoutAlign="start center" aria-current="page" (click)="Goto()">
          {{'MENU_INTERNAL_LOAN'| translate}} <mat-icon>keyboard_arrow_right</mat-icon>
        </mat-list-item>
        <mat-list-item class="breadcrumb-padding-0" fxLayoutAlign="start center" aria-current="page">{{headingDisplay}}
        </mat-list-item>
      </mat-list>
    </mat-toolbar-row>

    <div fxLayout="row" fxFlex="70" style="width: 100%;">
      <div fxFlex="100">
        <div fxLayoutAlign="center center" fxFlex="60">
          <!-- <div class="status-style mandatory-style">
            {{ 'COMMON_CREATED_BY_DT' | translate }} : {{loanCreateForm.controls.createdBy.value}} &nbsp;&nbsp;
            {{loanCreateForm.controls.createdDtDisp.value}}
          </div> -->
        </div>

        <div fxLayoutAlign="end end" fxFlex="40">
          <button mat-raised-button color="primary" class="space" (click)="exit()">{{'COMMON_BACK' | translate}}</button>

          <button mat-raised-button *ngIf="!modeDisplay" color="primary" [disabled]="disbleClear" class="space"
            (click)="clear()">{{ 'COMMON_CLEAR' |translate }}</button>

          <button
            *ngIf="approveButton"
            mat-raised-button class="space" color="primary" (click)="approveOrRejectLoan('APPROVED')">{{'COMMON_APPROVE'
            | translate}}</button>

          <button *ngIf="rejectButton" mat-raised-button
            color="primary" class="space" (click)="approveOrRejectLoan('REJECTED')">{{ 'COMMON_REJECT' | translate
            }}</button>

          <button *ngIf="!modeDisplay" [disabled]="loanCreateForm.invalid" mat-raised-button
            color="primary" (click)="save(displayButton)">
            <span *ngIf="!uploadLoanFlag">{{displayButton}}</span>
            <span *ngIf="uploadLoanFlag">{{'COMMON_LOADING' |translate }}</span>
          </button>

        </div>
      </div>
    </div>
  </div>

  <div fxLayout="row" style="margin-top: 10px;">
    <div class="content_section" fxFlex="100">
      <form [formGroup]="loanCreateForm">

        <div fxLayout="row" *ngIf="enablefieldsInAddMode">
          <div fxFlex="50">
            <div fxLayout="row">
              <span class="header-font">{{'LOAN_REQUEST_FROM' | translate}}</span>
            </div>
            <div fxLayout="row" class="h-65-px">
              <div fxFlex="48">
                <div class="form-group">
                  <div class="example-full-width">
                    <span class="input-label"> {{ 'LOCATION_NAME' | translate }} <span
                        class="mandatory-style">*</span></span>
                    <ng-select [items]="locationCombo" class="input-field" autofocus required #srLocFocus
                      bindLabel="locDisplayField" bindValue="locDisplayField" (search)="loadLocationComboData($event,true)"
                      (click)="loadLocationComboData($event,true)" [virtualScroll]="true"
                      (scrollToEnd)="loadLocationComboData({},true)" (keyup.backspace)="loadLocationComboData($event.target.value ? $event : 'back',true)" (clear)="loadLocationComboData('clear',true)" [loading]="scrollsyncLocation" loadingText="Loading..."
                      (change)="selectedFromLocationData($event)" formControlName="locationName"></ng-select>
                    <mat-error
                      *ngIf="loanCreateForm.controls.locationName.invalid && loanCreateForm.controls.locationName.touched">
                      <div class="err-field" *ngIf="loanCreateForm.controls.locationName.errors.required">
                        Kindly Select The "{{'LOCATION_NAME' | translate }}"</div>
                    </mat-error>
                  </div>
                </div>
              </div>
              <div fxFlex="4"></div>
              <div fxFlex="48">
                <div class="form-group">
                  <div class="example-full-width">
                    <span class="input-label"> {{ 'DEPARTMENT_NAME' | translate }}
                      <span class="mandatory-style">*</span>
                    </span>
                    <ng-select [items]="departmentComboList" class="input-field" required bindLabel="departmentName"
                      bindValue="departmentName"
                      (search)="loadDepartmentComboData($event,loanCreateForm.controls.locationId.value,1)"
                      (click)="loadDepartmentComboData($event,loanCreateForm.controls.locationId.value,1)"
                      [virtualScroll]="true" (scrollToEnd)="loadDepartmentComboData('','',1)" (keyup.backspace)="loadDepartmentComboData($event.target.value ? $event : 'back','',1)" (clear)="loadDepartmentComboData('clear','',1)"
                      [loading]="scrollsyncDepartment1" loadingText="Loading..."
                      (change)="selectedFromDepartmentData($event)" formControlName="fromDepartmentName">
                    </ng-select>
                    <mat-error
                    *ngIf="loanCreateForm.controls.fromDepartmentName.invalid && loanCreateForm.controls.fromDepartmentName.touched">
                    <div class="err-field" *ngIf="loanCreateForm.controls.fromDepartmentName.errors.required">
                      Kindly Select The "{{ 'DEPARTMENT_NAME' | translate }}"</div>
                  </mat-error>
                  </div>
                </div>
              </div>
            </div>
            <div fxLayout="row">
              <div fxFlex="48">
                <div fxLayout="row">
                  <div fxFlex="49">
                    <div class="form-group">
                      <mat-form-field class="example-full-width_calender" [floatLabel]="'always'">
                        <mat-label class="input-label">{{'START_DATE' | translate}}
                          <span class="mandatory-style">*</span>
                        </mat-label>
                        <input matInput class="input-field" formControlName="fromDtDisp" tabindex="6"
                          (click)="picker1.open()" [matDatepicker]="picker1"
                          [max]="loanCreateForm.controls.toDtDisp.value" (keypress)="dateValidationinstall($event)">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                        <mat-error
                          *ngIf="loanCreateForm.controls.fromDtDisp.invalid && loanCreateForm.controls.fromDtDisp.touched">
                          <div class="err-field" *ngIf="loanCreateForm.controls.fromDtDisp.errors.required">
                            Kindly Select The "{{ 'START_DATE' | translate }}"</div>
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div fxFlex="2">
                  </div>
                  <div fxFlex="49">
                    <div class="form-group">
                      <mat-form-field class="example-full-width_calender" [floatLabel]="'always'">
                        <mat-label class="input-label">{{'LOAN_END_DATE' | translate}}
                          <span class="mandatory-style">*</span>
                        </mat-label>
                        <input matInput class="input-field" formControlName="toDtDisp" tabindex="7"
                          (click)="picker2.open()" [matDatepicker]="picker2"
                          [min]="loanCreateForm.controls.fromDtDisp.value" (keypress)="dateValidationinstall($event)">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                        <mat-error
                          *ngIf="loanCreateForm.controls.toDtDisp.invalid && loanCreateForm.controls.toDtDisp.touched">
                          <div class="err-field" *ngIf="loanCreateForm.controls.toDtDisp.errors.required">
                            Kindly Select The "{{ 'LOAN_END_DATE' | translate }}"</div>
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <div fxFlex="4"> </div>
              <div fxFlex="48" class="mt-1-px">
                <mat-form-field [floatLabel]="'always'" class="example-full-width">
                  <mat-label class="input-label">{{'LOAN_REQUESTED_PERSON_NAME'| translate}}</mat-label>
                  <input matInput class="input-field" formControlName="loanedPersonName">
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row">
              <div fxFlex="48">
                <div class="form-group">
                  <mat-form-field [floatLabel]="'always'" class="example-full-width">
                    <mat-label class="input-label">{{'LOAN_REQUESTED_PERSON_CONTACT_NO'| translate}}
                    </mat-label>
                    <input matInput class="input-field" formControlName="loanedPersonContactNo" [maxlength]="15">
                    <mat-hint align="end">{{loanCreateForm.controls.loanedPersonContactNo.value?.length || 0}}/15
                    </mat-hint>
                    <mat-error
                      *ngIf="loanCreateForm.controls.loanedPersonContactNo.invalid && loanCreateForm.controls.loanedPersonContactNo.touched">
                      <div *ngIf="loanCreateForm.controls.loanedPersonContactNo.errors.pattern">
                        Kindly Enter Valid "{{ 'LOAN_REQUESTED_PERSON_CONTACT_NO' | translate }}"</div>
                        <div *ngIf="loanCreateForm.controls.loanedPersonContactNo.errors.pattern?false:loanCreateForm.controls.loanedPersonContactNo.errors.minlength">
                          "{{ 'LOAN_REQUESTED_PERSON_CONTACT_NO' | translate }}" Should Be Of Minimum 10 Digits</div>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div fxFlex="4"> </div>
              <div fxFlex="48">
                <div class="form-group">
                  <mat-form-field [floatLabel]="'always'" class="example-full-width">
                    <mat-label class="input-label input-label">{{'LOAN_REQUESTED_PERSON_EMAIL_ID'| translate}}
                    </mat-label>
                    <input matInput class="input-field" [maxlength]="50" formControlName="loanedPersonEmailId"style="text-transform: LowerCase;"  oninput="this.value = this.value.toLowerCase().trim()">
                    <mat-hint align="end">{{loanCreateForm.controls.loanedPersonEmailId.value?.length || 0}}/50
                    </mat-hint>
                    <mat-error
                      *ngIf="loanCreateForm.controls.loanedPersonEmailId.invalid && loanCreateForm.controls.loanedPersonEmailId.touched">
                      <div *ngIf="loanCreateForm.controls.loanedPersonEmailId.errors.pattern">
                        {{ 'COMMON_EMAIL_ID' | translate }} Format Should Be "xxx@yyy.zzz"</div>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>

          <div fxFlex="2"></div>
          <div fxFlex="48">
            <div fxLayout="row">
              <span class="header-font">{{'LOAN_REQUEST_TO' | translate}}</span>
            </div>
            <div fxLayout="row" class="h-60-px">
              <div fxFlex="48">
                <div class="form-group">
                  <span class="input-label"> {{ 'DEPARTMENT_NAME' | translate }} <span class="mandatory-style">*</span></span>
                  <ng-select [items]="departmentComboList" class="input-field" bindLabel="departmentName"
                    bindValue="departmentName"
                    (search)="loadDepartmentComboData($event,loanCreateForm.controls.loanedToId.value,2)"
                    (click)="loadDepartmentComboData($event,loanCreateForm.controls.loanedToId.value,2)"
                    [virtualScroll]="true" (scrollToEnd)="loadDepartmentComboData('','',2)"
                    [loading]="scrollsyncDepartment2" loadingText="Loading..."
                    (change)="selectedToDepartmentData($event)" formControlName="toDepartmentName">
                  </ng-select>
                  <mat-error
                  *ngIf="loanCreateForm.controls.toDepartmentName.invalid && loanCreateForm.controls.toDepartmentName.touched">
                  <div class="err-field" *ngIf="loanCreateForm.controls.toDepartmentName.errors.required">
                    Kindly Select The "{{ 'DEPARTMENT_NAME' | translate }}"</div>
                </mat-error>
                </div>
              </div>
              <div fxFlex="4">
              </div>
              <div fxFlex="48">
                <div class="form-group">
                  <span class="input-label"> {{ 'ASSET_GROUP' | translate }} </span>
                  <ng-select class=" input-field" formControlName="assetGroupName"
                    (click)="listOfAllAssetGroup({})" [virtualScroll]="true" (search)="listOfAllAssetGroup($event)"
                    (scrollToEnd)="listOfAllAssetGroup({})" (keyup.backspace)="listOfAllAssetGroup($event.target.value ? $event : 'back')" (clear)="listOfAllAssetGroup('clear')" (change)="getAssetGroupComboValue($event)"
                    [items]="assetGroupCombo" bindLabel="assetGroupName" bindValue="assetGroupName"
                    [loading]="scrollsyncAssetGroup" loadingText="Loading...">
                  </ng-select>
                </div>
              </div>
            </div>
            <div fxLayout="row">
              <div fxFlex="48">
                <div class="form-group">
                  <span class="input-label"> {{ 'ASSET_CODE' | translate }}</span>
                  <ng-select [items]="assetCodeCombo" class="input-field" bindLabel="assetCode" bindValue="assetCode"
                    (search)="loadAssetCodeComboData($event,true)" (click)="loadAssetCodeComboData($event,true)"
                    [virtualScroll]="true" (scrollToEnd)="loadAssetCodeComboData({},true)" (keyup.backspace)="loadAssetCodeComboData($event.target.value ? $event : 'back',true)" (clear)="loadAssetCodeComboData('clear',true)" [loading]="scrollsyncAssetCode"
                    loadingText="Loading..." tabindex="9" (change)="selectedAssetCodeData($event)"
                    formControlName="assetCode">
                  </ng-select>
                </div>
              </div>
              <div fxFlex="4">
              </div>
              <div fxFlex="48">
                <div class="form-group">
                  <span class="input-label"> {{ 'MODEL_NAME' | translate }} </span>
                  <ng-select class=" input-field" formControlName="modelName"
                    (click)="listOfAllModel({})" [virtualScroll]="true" (search)="listOfAllModel($event)"
                    (scrollToEnd)="listOfAllModel({})" (keyup.backspace)="listOfAllModel($event.target.value ? $event : 'back')"(clear)="listOfAllModel('clear')" (change)="getModelComboValue($event)" [items]="modelCombo"
                    bindLabel="modelName" bindValue="modelName" [loading]="scrollsyncModel" loadingText="Loading...">
                  </ng-select>
                </div>
              </div>
            </div>
            <div fxLayout="row" class="Asset-model-gap">
              <div fxFlex="100" fxLayoutAlign="end end">
                <div class="form-group">
                  <button mat-raised-button color="primary" (click)="fetchListOfAssets()">{{'COMMON_SEARCH' |
                    translate}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div fxLayout="row" *ngIf="!enablefieldsInAddMode">
          <div fxFlex="25">
            <div class="form-group">
              <mat-form-field [floatLabel]="'always'" class="example-full-width">
                <mat-label class="input-label">{{'LOAN_CODE'| translate}}</mat-label>
                <input matInput class="input-field" formControlName="loanNo" readonly>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field [floatLabel]="'always'" class="example-full-width">
                <mat-label class="input-label">{{'LOAN_STATUS'| translate}}</mat-label>
                <input matInput class="input-field" formControlName="loanStatus" readonly>
              </mat-form-field>
            </div>
            <div class="form-group">
              <span class="input-label"> {{ 'ASSET_CODE' | translate }}</span>
              <ng-select [items]="assetCodeCombo" class="input-field" bindLabel="assetCode" bindValue="assetCode"
                (search)="loadAssetCodeComboData($event,false)" (click)="loadAssetCodeComboData($event,false)"
                [virtualScroll]="true" (scrollToEnd)="loadAssetCodeComboData({},false)" (keyup.backspace)="loadAssetCodeComboData($event.target.value ? $event : 'back',false)" (clear)="loadAssetCodeComboData('clear',false)" [loading]="scrollsyncAssetCode1"
                loadingText="Loading..." (change)="selectedAssetCodeData($event)" formControlName="assetCode">
              </ng-select>
            </div>
          </div>
          <div fxFlex="3">
          </div>
          <div fxFlex="44">
            <div fxLayout="row">
              <span class="header-font">{{'LOAN_REQUEST_FROM' | translate}}</span>
            </div>

            <div fxLayout="row">
              <div fxFlex="48">
                <div class="form-group">
                  <div class="example-full-width">
                    <span class="input-label"> {{ 'LOCATION_NAME' | translate }} <span
                        class="mandatory-style">*</span></span>
                    <ng-select [items]="locationCombo" class="input-field" #srLocFocus bindLabel="locDisplayField"
                      bindValue="locDisplayField" (search)="loadLocationComboData($event,false)"
                      (click)="loadLocationComboData($event,false)" [virtualScroll]="true"
                      (scrollToEnd)="loadLocationComboData({},false)" (keyup.backspace)="loadLocationComboData($event.target.value ? $event : 'back',false)" (clear)="loadLocationComboData('clear',false)" [loading]="scrollsyncLocation" loadingText="Loading..."
                      (change)="selectedFromLocationData($event)" formControlName="locationName">
                    </ng-select>
                  </div>
                </div>
              </div>
              <div fxFlex="4">
              </div>
              <div fxFlex="48">
                <div class="form-group">
                  <div class="example-full-width">
                    <span class="input-label"> {{ 'DEPARTMENT_NAME' | translate }}</span>
                    <ng-select [items]="departmentComboList" class="input-field" bindLabel="departmentName"
                      bindValue="departmentName"
                      (search)="loadDepartmentComboData($event,loanCreateForm.controls.locationId.value,3)"
                      (click)="loadDepartmentComboData($event,loanCreateForm.controls.locationId.value,3)"
                      [virtualScroll]="true" (scrollToEnd)="loadDepartmentComboData('','',3)" (keyup.backspace)="loadDepartmentComboData($event.target.value ? $event : 'back','',3)" (clear)="loadDepartmentComboData('clear','',3)"
                      [loading]="scrollsyncDepartment3" loadingText="Loading..."
                      (change)="selectedFromDepartmentData($event)" formControlName="fromDepartmentName">
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>
            <div fxLayout="row">
              <div fxFlex="23">
                <div class="form-group">
                  <mat-form-field class="example-full-width_calender" [floatLabel]="'always'">
                    <mat-label class="input-label">{{'START_DATE' | translate}}</mat-label>
                    <input matInput class="input-field" formControlName="fromDtDisp" tabindex="6"
                      (click)="picker1.open()" [matDatepicker]="picker1" [max]="loanCreateForm.controls.toDtDisp.value"
                      (keypress)="dateValidationinstall($event)">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <div fxFlex="2">
              </div>
              <div fxFlex="23">
                <div class="form-group">
                  <mat-form-field class="example-full-width_calender" [floatLabel]="'always'">
                    <mat-label class="input-label">{{'LOAN_END_DATE' | translate}}</mat-label>
                    <input matInput class="input-field" formControlName="toDtDisp" tabindex="7" (click)="picker2.open()"
                      [matDatepicker]="picker2" [min]="loanCreateForm.controls.fromDtDisp.value"
                      (keypress)="dateValidationinstall($event)">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <div fxFlex="4">
              </div>
              <div fxFlex="48">
                <div class="form-group">
                  <mat-form-field [floatLabel]="'always'"  class="example-full-width">
                    <mat-label class="input-label">{{'LOAN_REQUESTED_PERSON_NAME'| translate}}</mat-label>
                    <input matInput class="input-field" formControlName="loanedPersonName">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div fxLayout="row" class="requested-person-details">
              <div fxFlex="48">
                <div class="form-group">
                  <mat-form-field [floatLabel]="'always'" class="example-full-width">
                    <mat-label class="input-label">{{'LOAN_REQUESTED_PERSON_CONTACT_NO'| translate}}</mat-label>
                    <input matInput class="input-field" formControlName="loanedPersonContactNo" [maxlength]="15">
                    <mat-hint align="end">{{loanCreateForm.controls.loanedPersonContactNo.value?.length || 0}}/15
                    </mat-hint>
                  </mat-form-field>
                </div>
              </div>
              <div fxFlex="4">
              </div>
              <div fxFlex="48">
                <div class="form-group">
                  <mat-form-field [floatLabel]="'always'" class="example-full-width">
                    <mat-label class="input-label">{{'LOAN_REQUESTED_PERSON_EMAIL_ID'| translate}}</mat-label>
                    <input matInput class="input-field" [maxlength]="50" formControlName="loanedPersonEmailId"style="text-transform: LowerCase;"  oninput="this.value = this.value.toLowerCase().trim()">
                    <mat-hint align="end">{{loanCreateForm.controls.loanedPersonEmailId.value?.length || 0}}/50
                    </mat-hint>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div fxFlex="3">
          </div>
          <div fxFlex="25">
            <div fxLayout="row">
              <span class="header-font">{{'LOAN_REQUEST_TO' | translate}}</span>
            </div>
            <div class="form-group">
              <span class="input-label"> {{ 'DEPARTMENT_NAME' | translate }}</span>
              <ng-select [items]="departmentComboList" class="input-field" bindLabel="departmentName"
                bindValue="departmentName"
                (search)="loadDepartmentComboData($event,loanCreateForm.controls.loanedToId.value,4)"
                (click)="loadDepartmentComboData($event,loanCreateForm.controls.loanedToId.value,4)"
                [virtualScroll]="true" (scrollToEnd)="loadDepartmentComboData('','',4)" (keyup.backspace)="loadDepartmentComboData($event.target.value ? $event : 'back','',4)" (clear)="loadDepartmentComboData('clear','',4)" [loading]="scrollsyncDepartment4"
                loadingText="Loading..." (change)="selectedToDepartmentData($event)" formControlName="toDepartmentName">
              </ng-select>
            </div>
            <div class="form-group" style="margin-top: 16px;">
              <mat-form-field class="example-full-width_calender" [floatLabel]="'always'">
                <mat-label class="input-label">{{'LOAN_EXP_DATE_OF_RETURN' | translate}}</mat-label>
                <input matInput class="input-field" formControlName="expReturnDateDisp" (click)="picker4.open()"
                  [matDatepicker]="picker4" (keypress)="dateValidationinstall($event)">
                <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                <mat-datepicker #picker4></mat-datepicker>
              </mat-form-field>
            </div>

          </div>
        </div>

        <div fxLayout="row" style="margin-top: 20px;">
          <div class="example-container" fxFlex="100" *ngIf="enablefieldsInAddMode">
            <div fxLayout="row">
              <table mat-table [dataSource]="dataSource" fxFlex="100">
                <ng-container matColumnDef="sno">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center"> {{'COMMON_S_NO' | translate}}
                  </th>
                  <td mat-cell *matCellDef="let element; let i=index;" style="text-align: center">
                    {{getIndexValue(i+1)}} </td>
                </ng-container>
                <ng-container matColumnDef="locationName">
                  <th mat-header-cell *matHeaderCellDef style="text-align: left">{{'LOCATION_NAME' | translate}}</th>
                  <td mat-cell *matCellDef="let element"
                    matTooltip="{{ element?.locationCode }} - {{element?.locationName}}" style="text-align: left">
                    {{ element?.locationCode }} - {{ element?.locationName }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="assetCode">
                  <th mat-header-cell *matHeaderCellDef>{{'ASSET_CODE_NAME_SERIAL_NO' | translate}}
                  </th>
                  <td mat-cell *matCellDef="let element"> {{element?.assetCode}} / <br />
                    {{element?.description}} / <br />
                    {{element?.serialNo}} / <br /> 
                   <span class="ASSET_CODE_CHANGE_REQUESTED" (click)="navigateToSourceScreen(element.assetTransactionSrcId,element.assetTransactionSrc,'edit')" *ngIf="element?.assetTransActive"> {{element?.assetTransactionSrcDesc | translate}} </span>       
                  </td>
                </ng-container>
                <ng-container matColumnDef="assetCategoryName">
                  <th mat-header-cell *matHeaderCellDef>{{'ASSET_CATEGORY_SUB_CATEGORY' | translate}}<br />
                    {{'SEARCH_GROUP' | translate}}</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element?.assetCategoryName }} <br />
                    {{ element?.subCategoryName }} <br />
                    {{ element?.assetGroupName }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="modelName">
                  <th mat-header-cell *matHeaderCellDef> {{'MODEL_NAME_MANKER_SUPPLIER' | translate}} </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element?.modelName }} <br />
                    {{ element?.manufacturerName }} <br />
                    {{ element?.supplierName }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="departmentName">
                  <th mat-header-cell *matHeaderCellDef>{{'DEPARTMENT_NAME' | translate}}</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element?.departmentName }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="assetStatus">
                  <th mat-header-cell *matHeaderCellDef style="word-wrap: break-word;">{{'ASSET_STATUS_CONDITION' | translate}}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <span>{{ element?.assetStatus | translate }} / <br /> {{ element?.assetCondition | translate}}</span>
                </ng-container>

                <ng-container matColumnDef="expDateOfReturn">
                  <th mat-header-cell *matHeaderCellDef>{{'LOAN_EXP_DATE_OF_RETURN' | translate}}</th>
                  <td mat-cell *matCellDef="let element; let i=index;">

                    <mat-form-field class="example-full-width_calender" [floatLabel]="'always'">
                      <input matInput class="input-field" tabindex="6" (keypress)="dateValidationinstall($event)"
                        (click)="picker3.open()" [matDatepicker]="picker3" [ngModelOptions]="{standalone: true}"
                         id="expReturnDateDisp" [(ngModel)]="element.expReturnDateDisp" formControlName="expReturnDateDisp">
                      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                      <mat-datepicker #picker3></mat-datepicker>
                    </mat-form-field>
                  </td>
                </ng-container>

                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef> {{'COMMON_ACTION' | translate}} </th>
                  <td mat-cell *matCellDef="let element; let i=index;">
                    <mat-checkbox [disabled]="element?.assetTransactionSrc == 'EXTERNAL LOAN' || element?.assetTransactionSrc == 'ASSET RELOCATE' || element?.assetTransactionSrc == 'GATE PASS'" [(ngModel)]="element.loaned" [ngModelOptions]="{standalone: true}" color="primary"
                      class="example-margin">
                    </mat-checkbox>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                <tr mat-row *matRowDef="let element; columns: displayedColumns;">
                </tr>
              </table>
            </div>

            <div fxLayout="row">
              <mat-card class="no_records_found" *ngIf="length=='0'">
                {{'COMMON_NO_RECORDS_FOUND' | translate}}
              </mat-card>
            </div>
          </div>
        </div>

        <div fxLayout="row" *ngIf="!enablefieldsInAddMode">
          <div fxFlex="100" style="margin-bottom:5%;">
            <mat-tab-group [@.disabled]="true">
              <mat-tab label="{{ 'ASSET_INFO' | translate }}">
                <mat-card class="card-style">
                  <mat-card-content fxFlex="100">
                    <div class="content-style">
                      <div fxLayout="row">
                        <div fxFlex="23">
                          <div class="form-group">
                            <mat-form-field class="example-full-width" [floatLabel]="'always'">
                              <mat-label class="input-label">
                                {{ 'ASSET_CATEGORY' | translate }}
                              </mat-label>
                              <input matInput class="input-field" formControlName="assetCategoryName" readonly>
                            </mat-form-field>
                          </div>
                          <div class="form-group">
                            <mat-form-field class="example-full-width" [floatLabel]="'always'">
                              <mat-label class="input-label">
                                {{ 'ASSET_SUB_CATEGORY' | translate }}
                              </mat-label>
                              <input matInput class="input-field" formControlName="subCategoryName" readonly>
                            </mat-form-field>
                          </div>
                          <div class="form-group">
                            <mat-form-field class="example-full-width" [floatLabel]="'always'">
                              <mat-label class="input-label">
                                {{ 'ASSET_GROUP' | translate }}
                              </mat-label>
                              <input matInput class="input-field" formControlName="assetGroupName" readonly>
                            </mat-form-field>
                          </div>
                        </div>
                        <div fxFlex="2">
                        </div>
                        <div fxFlex="23">
                          <div class="form-group">
                            <mat-form-field class="example-full-width" [floatLabel]="'always'">
                              <mat-label class="input-label">
                                {{ 'ASSET_DESCRIPTION' | translate }}
                              </mat-label>
                              <input matInput class="input-field" formControlName="description" readonly>
                            </mat-form-field>
                          </div>
                          <div class="form-group">
                            <mat-form-field class="example-full-width" [floatLabel]="'always'">
                              <mat-label class="input-label">
                                {{ 'MODEL_NAME' | translate }}
                              </mat-label>
                              <input matInput class="input-field" formControlName="modelName" readonly>
                            </mat-form-field>
                          </div>
                          <div class="form-group">
                            <mat-form-field class="example-full-width" [floatLabel]="'always'">
                              <mat-label class="input-label">
                                {{ 'MANUFACTURER' | translate }}
                              </mat-label>
                              <input matInput class="input-field" formControlName="manufacturerName" readonly>
                            </mat-form-field>
                          </div>
                        </div>
                        <div fxFlex="2">
                        </div>
                        <div fxFlex="23">
                          <div class="form-group">
                            <mat-form-field class="example-full-width" [floatLabel]="'always'">
                              <mat-label class="input-label">
                                {{ 'ASSET_STATUS' | translate }}
                              </mat-label>
                              <input matInput class="input-field" formControlName="assetStatus" readonly>
                            </mat-form-field>
                          </div>
                          <div class="form-group">
                            <mat-form-field class="example-full-width" [floatLabel]="'always'">
                              <mat-label class="input-label">
                                {{ 'EQUIPMENT_CODE' | translate }}
                              </mat-label>
                              <input matInput class="input-field" formControlName="equipmentCode" readonly>
                            </mat-form-field>
                          </div>
                          <div class="form-group">
                            <mat-form-field class="example-full-width" [floatLabel]="'always'">
                              <mat-label class="input-label">
                                {{ 'ASSET_SERIAL_NO' | translate }}
                              </mat-label>
                              <input matInput class="input-field" formControlName="serialNo" readonly>
                            </mat-form-field>
                          </div>
                        </div>
                        <div fxFlex="2">
                        </div>
                        <div fxFlex="25">
                          <div class="form-group">
                            <mat-form-field class="example-full-width" [floatLabel]="'always'">
                              <mat-label class="input-label">
                                {{ 'DEPARTMENT_NAME' | translate }}
                              </mat-label>
                              <input matInput class="input-field" formControlName="departmentName" readonly>
                            </mat-form-field>
                          </div>
                          <div class="form-group">
                            <mat-form-field class="example-full-width" [floatLabel]="'always'">
                              <mat-label class="input-label">
                                {{ 'SUB_DEPARTMENT_NAME' | translate }}
                              </mat-label>
                              <input matInput class="input-field" formControlName="subDepartment" readonly>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </mat-tab>
              <mat-tab label="{{ 'LOAN_RECEIVED_BY' | translate }}"
                *ngIf="loanCreateForm.controls.loanStatusId.value!=1">
                <mat-card class="card-style">
                  <mat-card-content fxFlex="100">
                    <div class="content-style">

                      <div fxLayout="row">
                        <div fxFlex="23">
                          <div class="form-group">
                            <span class="input-label"> {{ 'LOAN_RECEIVED_BY' | translate }} </span>
                            <ng-select [items]="employeeCombo" class="input-field" bindLabel="displayName"
                              bindValue="displayName" (search)="listOfEmployeeName($event,1)"
                              (click)="listOfEmployeeName($event,1)" [virtualScroll]="true"
                              (scrollToEnd)="listOfEmployeeName({},1)" (keyup.backspace)="listOfEmployeeName($event.target.value ? $event : 'back',1)" (clear)="listOfEmployeeName('clear',1)" [loading]="scrollsyncEmployee1"
                              loadingText="Loading..." formControlName="loanReceivedBy">
                            </ng-select>
                          </div>
                        </div>
                        <div fxFlex="2">
                        </div>
                        <div fxFlex="23" style="margin-top: 5px;">
                          <div class="form-group">
                            <mat-form-field class="example-full-width" [floatLabel]="'always'">
                              <mat-label class="input-label">{{'LOAN_RECEIVED_DT' | translate}}</mat-label>
                              <input matInput class="input-field" formControlName="loanReceivedDtDisp"
                                (click)="return.open()" [matDatepicker]="return"
                                (keypress)="dateValidationinstall($event)">
                              <mat-datepicker-toggle matSuffix [for]="return"></mat-datepicker-toggle>
                              <mat-datepicker #return></mat-datepicker>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </mat-tab>
              <mat-tab label="{{ 'LOAN_RETURN_INFO' | translate }}">
                <mat-card class="card-style">
                  <mat-card-content fxFlex="100">
                    <div class="content-style">

                      <div fxLayout="row">
                        <div fxFlex="23">
                          <div class="form-group return-date-field">
                            <mat-form-field class="example-full-width" [floatLabel]="'always'">
                              <mat-label class="input-label">{{'LOAN_DATE_OF_RETURN' | translate}}</mat-label>
                              <input matInput class="input-field" formControlName="dateOfReturnDisp"
                                (click)="return.open()" [matDatepicker]="return"
                                (keypress)="dateValidationinstall($event)">
                              <mat-datepicker-toggle matSuffix [for]="return"></mat-datepicker-toggle>
                              <mat-datepicker #return></mat-datepicker>
                            </mat-form-field>
                          </div>
                          <div class="form-group return-condition-field">
                            <span class="input-label"> {{ 'LOAN_RETURN_CONDITION' | translate }} </span>
                            <!-- <ng-select class=" input-field" bindLabel="name" bindValue="name"
                               [items]="assetCondition" formControlName="returnAssetCondition">
                            </ng-select> -->
                            <ng-select tabindex="9" appendTo="body" loadingText="Loading..."
                            (search)="loadAssetConditionComboData($event)" (click)="loadAssetConditionComboData($event)"
                             [virtualScroll]="true" (change)="selectedAssetCondition($event)"
                              (scrollToEnd)="loadAssetConditionComboData({})" (clear)="loadAssetConditionComboData('clear')" [loading]="scrollsyncAssetCondition"
                              formControlName="returnAssetCondition">
                              <ng-option *ngFor="let assetConditionList of assetConditionCombo" [value]="assetConditionList">
                                {{ assetConditionList.assetCondition | translate}}
                              </ng-option>
                            </ng-select>
                          </div>
                        </div>
                        <div fxFlex="2">
                        </div>
                        <div fxFlex="23">
                          <div class="form-group">
                            <span class="input-label"> {{ 'LOAN_RETURN_BY' | translate }} </span>
                            <ng-select [items]="employeeCombo" class="input-field" bindLabel="displayName"
                              bindValue="displayName" (search)="listOfEmployeeName($event,2)"
                              (click)="listOfEmployeeName($event,2)" [virtualScroll]="true"
                              (scrollToEnd)="listOfEmployeeName({},2)" (keyup.backspace)="listOfEmployeeName($event.target.value ? $event : 'back',2)" (clear)="listOfEmployeeName('clear',2)" [loading]="scrollsyncEmployee2"
                              loadingText="Loading..." formControlName="returnedByName"
                              (change)="receivedByDtls($event)">
                            </ng-select>
                          </div>
                          <div class="form-group return-contact-no">
                            <mat-form-field [floatLabel]="'always'" class="example-full-width">
                              <mat-label class="input-label">{{'LOAN_RETURN_BY_CONTACT_NO'| translate}}</mat-label>
                              <input matInput class="input-field" formControlName="returnedByContactNo" [maxlength]="15">
                              <mat-hint align="end">{{loanCreateForm.controls.returnedByContactNo.value?.length ||
                                0}}/15</mat-hint>
                              <mat-error
                                *ngIf="loanCreateForm.controls.returnedByContactNo.invalid && loanCreateForm.controls.returnedByContactNo.touched">
                                <div *ngIf="loanCreateForm.controls.returnedByContactNo.errors.pattern?false:loanCreateForm.controls.returnedByContactNo.errors.minlength">
                                  "{{ 'LOAN_RETURN_BY_CONTACT_NO' | translate }}" Should Be Of Minimum 10 Digits</div>
                                <div *ngIf="loanCreateForm.controls.returnedByContactNo.errors.pattern">
                                  Kindly Enter Valid "{{ 'LOAN_RETURN_BY_CONTACT_NO' | translate }}"</div>
                              </mat-error>
                            </mat-form-field>
                          </div>
                          <div class="form-group">
                            <mat-form-field [floatLabel]="'always'" class="example-full-width">
                              <mat-label class="input-label">{{'LOAN_RETURN_BY_EMAIL_ID'| translate}}</mat-label>
                              <input matInput class="input-field" formControlName="returnedByEmailId"style="text-transform: LowerCase;"  oninput="this.value = this.value.toLowerCase().trim()">
                              <mat-hint align="end">{{loanCreateForm.controls.returnedByEmailId.value?.length || 0}}/50
                              </mat-hint>
                              <mat-error
                                *ngIf="loanCreateForm.controls.returnedByEmailId.invalid && loanCreateForm.controls.returnedByEmailId.touched">
                                <div *ngIf="loanCreateForm.controls.returnedByEmailId.errors.pattern">
                                  {{ 'LOAN_RETURN_BY_EMAIL_ID' | translate }} Format Should Be "xxx@yyy.zzz"</div>
                              </mat-error>
                            </mat-form-field>
                          </div>
                        </div>
                        <div fxFlex="2">
                        </div>
                        <div fxFlex="23">
                          <div class="form-group">
                            <span class="input-label"> {{ 'LOAN_RETURN_REVEICED_BY' | translate }} </span>
                            <ng-select [items]="employeeCombo" class="input-field" bindLabel="displayName"
                              bindValue="displayName" (search)="listOfEmployeeName($event,3)"
                              (click)="listOfEmployeeName($event,3)" [virtualScroll]="true"
                              (scrollToEnd)="listOfEmployeeName({},3)" (keyup.backspace)="listOfEmployeeName($event.target.value ? $event : 'back',3)" (clear)="listOfEmployeeName('clear',3)" [loading]="scrollsyncEmployee3"
                              loadingText="Loading..." formControlName="returnReceivedBy"
                              (change)="returnReceivedByDtl($event)">
                            </ng-select>
                          </div>
                          <div class="form-group return-contact-no">
                            <mat-form-field [floatLabel]="'always'" class="example-full-width">
                              <mat-label class="input-label">{{'LOAN_RETURN_RECEIVED_BY_CONTACT_NO'| translate}}
                              </mat-label>
                              <input matInput class="input-field" formControlName="returnReceivedContactNo" [maxlength]="15">
                              <mat-hint align="end">{{loanCreateForm.controls.returnReceivedContactNo.value?.length ||
                                0}}/15</mat-hint>
                              <mat-error
                                *ngIf="loanCreateForm.controls.returnReceivedContactNo.invalid && loanCreateForm.controls.returnReceivedContactNo.touched">
                                <div *ngIf="loanCreateForm.controls.returnReceivedContactNo.errors.pattern">
                                  Kindly Enter Valid "{{ 'LOAN_RETURN_RECEIVED_BY_CONTACT_NO' | translate }}"</div>
                                  <div *ngIf="loanCreateForm.controls.returnReceivedContactNo.errors.minlength">
                                    "{{ 'LOAN_RETURN_RECEIVED_BY_CONTACT_NO' | translate }}" Should Be Of Minimum 10 Digits</div>
                              </mat-error>
                            </mat-form-field>
                          </div>
                          <div class="form-group">
                            <mat-form-field [floatLabel]="'always'" class="example-full-width">
                              <mat-label class="input-label">{{'LOAN_RETURN_RECEIVED_BY_EMAIL_ID'| translate}}
                              </mat-label>
                              <input matInput class="input-field" formControlName="returnReceivedEmailId"style="text-transform: LowerCase;"  oninput="this.value = this.value.toLowerCase().trim()">
                              <mat-hint align="end">{{loanCreateForm.controls.returnReceivedEmailId.value?.length ||
                                0}}/50</mat-hint>
                              <mat-error
                                *ngIf="loanCreateForm.controls.returnReceivedEmailId.invalid && loanCreateForm.controls.returnReceivedEmailId.touched">
                                <div *ngIf="loanCreateForm.controls.returnReceivedEmailId.errors.pattern">
                                  {{ 'LOAN_RETURN_RECEIVED_BY_EMAIL_ID' | translate }} Format Should Be "xxx@yyy.zzz"</div>
                              </mat-error>
                            </mat-form-field>
                          </div>
                        </div>
                        <div fxFlex="2">
                        </div>
                        <div fxFlex="25">
                          <div class="form-group">
                            <mat-form-field class="example-full-width" [floatLabel]="'always'">
                              <mat-label class="input-label">{{'LOAN_ACTUAL_DATE_OF_RETURN' | translate}}</mat-label>
                              <input matInput class="input-field" formControlName="actualDateOfReturnDisp"
                                (click)="actual.open()" [matDatepicker]="actual"
                                (keypress)="dateValidationinstall($event)">
                              <mat-datepicker-toggle matSuffix [for]="actual"></mat-datepicker-toggle>
                              <mat-datepicker #actual></mat-datepicker>
                            </mat-form-field>
                          </div>
                          <div fxLayout="row">
                            <div fxFlex="48">
                              <div class="form-group">
                                <mat-form-field [floatLabel]="'always'">
                                  <mat-label class="input-label">{{'LOAN_RETURN_AUTHORIZED_BY'| translate}}</mat-label>
                                  <input matInput class="input-field" formControlName="returnAuthorizedBy">
                                </mat-form-field>
                              </div>
                            </div>
                            <div fxFlex="4"></div>
                            <div fxFlex="48">
                              <div class="form-group">
                                <mat-form-field class="example-full-width" [floatLabel]="'always'">
                                  <mat-label class="input-label">{{'LOAN_RETURN_AUTHORIZED_DT' | translate}}</mat-label>
                                  <input matInput class="input-field" formControlName="returnAuthorizedDtDisp">
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <mat-form-field class="example-full-width" [floatLabel]="'always'"
                              hintLabel="{{ CommonhintMsg.MAX_500 }}">
                              <mat-label class="input-label"> {{ 'COMMON_REMARKS' | translate }}
                              </mat-label>
                              <textarea matInput class="input-field" formControlName="returnRemarks"
                                [maxlength]="500"></textarea>
                              <mat-hint align="end">{{loanCreateForm.controls.returnRemarks.value?.length || 0}}/500
                              </mat-hint>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
