<mat-icon class="close-icon-large" (click)="closePopUp()">highlight_off</mat-icon>
<div class="Modal_Content">
  <div class="Modal_Header">
      <h4> Delete Confirmation </h4>

  </div>
  <div class="Model_Body">
    <p> Do you want to Generate Gatepass?</p>

    <div class="Model_Footer rightbutton">
        <button class="space" mat-raised-button color="primary" (click)="proceed()"> Yes </button>
        <button class="Bg_Danger" mat-raised-button color="primary" (click)="cancel()"> No </button>
    </div>
  </div>
</div>
