<div class="example-container">
    <div class="row header_part">
      <div class="col-md-4">
        <mat-form-field class="example-full-width" [floatLabel]="'always'">
          <mat-label class="input-label"> {{ 'MENU_ITEM_CATEGORY' | translate }}
        </mat-label>
        <input matInput type="search" #searchFocus class="form-control frm-search" name="search" id="search" 
        (input)="onSearchChange($event.target.value)">
        </mat-form-field>
      </div>
     
      <div class="col-md-6">
          <mat-paginator #paginatorUsers  [pageSizeOptions]="[5, 10, 25, 50, 100]"
          [length]="length" [pageIndex]="pageIndex"
          [pageSize]="pageSize" (page)="getServerData($event)"></mat-paginator>
      </div>
      <div class="col-md-2 rightbutton">
        <button mat-raised-button color="primary" *ngIf="modelAccessModule.createFlagDisplay"
         (click)=openItemCategoryDialog(0)>{{ 'COMMON_CREATE' | translate }}</button>
      </div>
    </div>
    <table mat-table [dataSource]="itemCategorydataSource" matSort (matSortChange)="customSort($event)" matSortActive="name" matSortDirection="asc"
  matSortDisableClear>
        <ng-container matColumnDef="sno">
            <th mat-header-cell *matHeaderCellDef>{{ 'COMMON_S_NO' | translate }} </th>
            <td mat-cell *matCellDef="let element; let i=index;"> {{getIndexValue(i+1)}} </td>
        </ng-container>
        <ng-container matColumnDef="categoryName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'ITEM_CATEGORY' | translate }}</th>
          <td mat-cell *matCellDef="let element"> {{element.categoryName}} </td>
        </ng-container>
        <ng-container matColumnDef="createdBy">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:15%;"> {{ 'COMMON_CREATED_BY' | translate }}</th>
          <td mat-cell *matCellDef="let element"> {{element.createdBy}}</td>
          </ng-container>
      <ng-container matColumnDef="createdDt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:10%;"> {{ 'COMMON_CREATED_DT' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.createdDtDisp}}</td>
          </ng-container>
      <ng-container matColumnDef="updatedBy">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:15%;">{{ 'COMMON_UPDATED_BY' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.updatedBy}}</td>
          </ng-container>
      <ng-container matColumnDef="updatedDt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:10%;"> {{ 'COMMON_UPDATED_DT' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.updatedDtDisp}}</td>
          </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> {{ 'COMMON_ACTION' | translate }} </th>
            <td mat-cell *matCellDef="let element"> 
                <button mat-button class="mat-icon-button" matTooltip= "{{ 'COMMON_VIEW' | translate }}" *ngIf="modelAccessModule.readFlagDisplay"
                 (click)="openViewDialog(viewDialog, element, i)"><mat-icon color="primary">visibility</mat-icon></button>
                <button mat-button class="mat-icon-button" matTooltip= "{{ 'COMMON_EDIT' | translate }}" *ngIf="modelAccessModule.updateFlagDisplay"
                 (click)="openItemCategoryDialog(element)"><mat-icon color="primary">edit</mat-icon></button>
            </td>
          </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;">
        </tr>
      </table>
      <mat-card class="no_records_found" *ngIf="length=='0' && !subLoaderItemCategory">{{'COMMON_NO_RECORDS_FOUND' | translate}}</mat-card>
      <mat-card *ngIf="subLoaderItemCategory" class="no_records_found" fxLayoutAlign="center center"> 
          <mat-spinner style="margin:0px auto !important; width:100%;" [diameter]="40"></mat-spinner>
      </mat-card> 

    </div>
  
  
  <!-- view template -->

  <ng-template #viewDialog>
      <h2 matDialogTitle> {{'COMMON_VIEW' | translate}} {{ 'MENU_ITEM_CATEGORY' | translate }}</h2>
      <mat-dialog-content style="width: 500px; height: auto">
          <table class="model-table">
            <tr>
              <th>{{ 'ITEM_CATEGORY' | translate }}</th>
              <td>:</td>
              <td>{{tempViewData?.categoryName}}</td>
            </tr>
            <tr>
                <th>{{ 'COMMON_DESC' | translate }}</th>
                <td>:</td>
                <td>{{tempViewData?.categoryDesc}}</td>
              </tr>
           </table>
      </mat-dialog-content>
      <mat-dialog-actions align="end">
          <button mat-raised-button mat-dialog-close (click)="cancel()" class="space col-md-3 rightbutton" color="primary">{{ 'COMMON_BACK' | translate }}</button>
      </mat-dialog-actions>
    </ng-template>
