<mat-icon class="close-icon-large" (click)="closePurchaseNHModal()">highlight_off</mat-icon>
<div class="row page_header">
  <div class="col page_header_items">
    <div class="page_header_tilte">
      {{ 'PURCHASE_REQUEST_GROUP' | translate }}
    </div>
  </div>
</div>
<fieldset style="overflow: hidden;">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group row">
          <div class="col-md-2">
            <label id="example-radio-group-label">{{ 'PURCHASE_FOR' | translate }}</label>
          </div>
          <div class="col-md-10">
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
              [(ngModel)]="favoriteSeason" (change)="selectValue($event)">
              <mat-radio-button class="example-radio-button" value="Part Request">
                {{'PURCHASE_PART_REQUEST' | translate}}</mat-radio-button>
              <mat-radio-button class="example-radio-button" value="Physical damage">
                {{'PURCHASE_PHYSICAL_DAMAGE' | translate}}
              </mat-radio-button>
              <mat-radio-button class="example-radio-button" value="Local purchase">
                {{'PURCHASE_LOCAL_PURCHASE' | translate}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</fieldset>