<div fxLayout="column">
  <div fxLayout="row">

    <div fxFlex="50" class="dialogue-box-header">
      {{'SUPPLIER_SITE_MENU' | translate }}
    </div>

    <div fxFlex="50" class="mb-5">

      <button *ngIf="!modelSupplierSite" mat-raised-button class="space" color="primary" (click)="addSupplierSite()"
        [disabled]="supplierSiteForm.controls.supplierSiteName.invalid || supplierSiteForm.controls.supplierSiteWebSite.invalid ||
          supplierSiteForm.controls.suppLocCurCd.invalid || supplierSiteForm.controls.suppLocAddress1.invalid || 
          supplierSiteForm.controls.suppLocState.invalid || supplierSiteForm.controls.suppLocEmail.invalid || 
          supplierSiteForm.controls.suppLocArea.invalid || supplierSiteForm.controls.suppLocCountry.invalid || 
          supplierSiteForm.controls.suppLocCity.invalid || supplierSiteForm.controls.suppLocPinCode.invalid ||
          supplierSiteForm.controls.mobileNumber.invalid ">{{displayButton}}
      </button>
      <button mat-raised-button class="space" color="primary" (click)="clear()"
        [disabled]="disableClearButton">{{'COMMON_CLEAR' | translate}}</button>
      <button mat-raised-button class="space" color="primary" (click)="exit()">{{'COMMON_BACK' | translate}}</button>

    </div>

  </div>


  <form [formGroup]="supplierSiteForm">
    <div class="row">
      <div>
        <mat-tab-group [selectedIndex]="selectedIndex" (click)="changeTabValidation('tab1')" [@.disabled]="true">
          <mat-tab>

            <ng-template mat-tab-label>
              {{sourceHeadingDisplay }}
              <div *ngIf="!modelSupplierSite">
                <div class="tab-mini-fab-icon">
                  <mat-icon class="mandatory-style" *ngIf="!formOneValid" aria-hidden="true">error</mat-icon>
                </div>
              </div>
            </ng-template>

            <mat-card class="card-style">
              <mat-card-content>
                <div class="content-style">
                  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="space-between center">

                    <div fxFlex="30" fxLayout="column" fxLayout.sm="column" fxLayout.xs="column" style="width: 100%;">

                      <div class="form-group">
                        <mat-form-field class="example-full-width" [floatLabel]="'always'"
                          hintLabel="{{ CommonhintMsg.MAX_100 }}">
                          <mat-label class="input-label">{{sourceHeadingDisplay}}
                            <span class="mandatory-style">*</span>
                          </mat-label>
                          <input matInput class="input-field" #supplierSite formControlName="supplierSiteName"
                            [tabIndex]=1 (input)="formOneValidation()" [maxlength]="100"
                            oninput="this.value = this.value.toUpperCase()">
                          <mat-hint align="end">{{supplierSiteForm.controls.supplierSiteName.value?.length || 0}}/100
                          </mat-hint>
                          <mat-error
                            *ngIf="supplierSiteForm.controls.supplierSiteName.invalid && supplierSiteForm.controls.supplierSiteName.touched">
                            <div class="err-field" *ngIf="supplierSiteForm.controls.supplierSiteName.errors.required">
                              "{{sourceHeadingDisplay}}" Is Required </div>
                          </mat-error>
                        </mat-form-field>
                      </div>

                      <div class="form-group">
                        <mat-form-field class="example-full-width" [floatLabel]="'always'"
                          hintLabel="{{ CommonhintMsg.MAX_100 }}">
                          <mat-label class="input-label"> {{'COMMON_AREA' | translate }} 
                          </mat-label>
                          <input matInput class="input-field" formControlName="suppLocArea"
                            (input)="formOneValidation()" [tabIndex]=4 [maxlength]="100"
                            oninput="this.value = this.value.toUpperCase()">
                          <mat-hint align="end">{{supplierSiteForm.controls.suppLocArea.value?.length || 0}}/100
                          </mat-hint>
                          <mat-error
                            *ngIf="supplierSiteForm.controls.suppLocArea.errors && supplierSiteForm.controls.suppLocArea.touched">
                            <div class="err-field" *ngIf="supplierSiteForm.controls.suppLocArea.errors.notUnique">{{ErrorMsg}}</div>
                          </mat-error>
                        </mat-form-field>
                      </div>

                      <div class="form-group">
                        <div class="example-full-width">
                          <span class="input-label">{{'COMMON_CITY' | translate }}
                            <span class="mandatory-style">*</span>
                          </span>
                          <ng-select  [tabIndex]=5 formControlName="suppLocCity" [items]="cities"
                            (search)="supplierSiteCityMethod($event)" (click)="supplierSiteCityMethod({})"
                            (scrollToEnd)="supplierSiteCityMethod({})" (keyup.backspace)="supplierSiteCityMethod($event.target.value ? $event : 'back')" (clear)="supplierSiteCityMethod('clear')" required
                            (change)="formOneValidation();setCityData($event)" [loading]="scrollCitysync"
                            loadingText="Loading..." [virtualScroll]="true" bindValue= "cityName" bindLabel="cityName">
                          </ng-select>
                          <mat-error
                              *ngIf="supplierSiteForm.controls.suppLocCity.invalid && supplierSiteForm.controls.suppLocCity.touched">
                              <div class="err-field" class="ng-select-error" *ngIf="supplierSiteForm.controls.suppLocCity.errors.required">
                                Kindly Select The "{{ 'COMMON_CITY' | translate }}" </div>
                            </mat-error>
                        </div>
                      </div>

                      <div class="form-group">
                        <mat-form-field class="example-full-width" [floatLabel]="'always'"
                          hintLabel="{{ CommonhintMsg.MAX_50 }}">
                          <mat-label class="input-label">{{'COMMON_EMAIL_ID' | translate }}
                          </mat-label>
                          <input matInput class="input-field" formControlName="suppLocEmail"
                            (input)="formOneValidation()" [tabIndex]=10 [maxlength]="50"
                            oninput="this.value = this.value.toUpperCase()">
                          <mat-hint align="end">{{supplierSiteForm.controls.suppLocEmail.value?.length || 0}}/50
                          </mat-hint>
                          <mat-error
                            *ngIf="supplierSiteForm.controls.suppLocEmail.invalid && supplierSiteForm.controls.suppLocEmail.touched">
                            <div class="err-field" *ngIf="supplierSiteForm.controls.suppLocEmail.errors.pattern">
                              {{'COMMON_EMAIL_ID' | translate }} Format Should Be "xxx@yyy.zzz"</div>
                          </mat-error>
                        </mat-form-field>
                      </div>

                      <div class="form-group">
                        <span class="input-label">{{'SUPPLIER_PAYMENT_METHOD' | translate }}</span>
                        <ng-select class=" input-field" [tabIndex]=13 formControlName="paymentMethod"
                          [items]="paymentMethod" bindLabel="name" bindValue="name">
                        </ng-select>
                        <mat-error
                          *ngIf="supplierSiteForm.controls.paymentMethod.invalid && supplierSiteForm.controls.paymentMethod.touched">
                        </mat-error>
                      </div>

                    </div>

                    <div fxFlex="30" fxLayout="column" fxLayout.sm="column" fxLayout.xs="column" style="width: 100%;">

                      <div class="form-group">
                        <mat-form-field class="example-full-width" [floatLabel]="'always'"
                          hintLabel="{{ CommonhintMsg.MAX_100 }}">
                          <mat-label class="input-label">{{'COMMON_ADDRESS_1' | translate }}
                            <span class="mandatory-style">*</span>
                          </mat-label>
                          <input #streetFocus matInput class="input-field" formControlName="suppLocAddress1"
                            (input)="formOneValidation()" [tabIndex]=2 [maxlength]="100"
                            oninput="this.value = this.value.toUpperCase()">
                          <mat-hint align="end">{{supplierSiteForm.controls.suppLocAddress1.value?.length || 0}}/100
                          </mat-hint>
                          <mat-error
                            *ngIf="supplierSiteForm.controls.suppLocAddress1.invalid && supplierSiteForm.controls.suppLocAddress1.touched">
                            <div class="err-field" *ngIf="supplierSiteForm.controls.suppLocAddress1.errors.required">
                              "{{'COMMON_ADDRESS_1' | translate }}" Is Required </div>
                          </mat-error>
                        </mat-form-field>
                      </div>

                      <div class="form-group">
                        <div class="example-full-width">
                          <span class="input-label"> {{'COMMON_COUNTRY' | translate }} <span
                              class="mandatory-style">*</span> </span>
                          <ng-select class=" input-field" [tabIndex]=7 required
                            formControlName="suppLocCountry" [items]="countries" (search)="getCountryData($event)"
                            (click)="getCountryData({})" (change)=" formOneValidation(); setCountryData($event)"
                            (scrollToEnd)="getCountryData({})" (keyup.backspace)="getCountryData($event.target.value ? $event : 'back')" (clear)="getCountryData('clear')" [loading]="scrollCountrysync" loadingText="Loading..."
                            bindLabel="countryName" bindValue="countryName">
                          </ng-select>
                          <mat-error
                            *ngIf="supplierSiteForm.controls.suppLocCountry.invalid && supplierSiteForm.controls.suppLocCountry.touched">
                            <div class="err-field"
                              *ngIf="supplierSiteForm.controls.suppLocCountry.errors.required">
                              Kindly Select The "{{'COMMON_COUNTRY' | translate }}"</div>
                          </mat-error>
                        </div>
                      </div>

                      <div class="form-group">
                        <mat-form-field class="example-full-width" [floatLabel]="'always'"
                          hintLabel="{{ CommonhintMsg.MAX_10_DIG }}">
                          <mat-label class="input-label"> {{'COMMON_ZIP_CODE' | translate }}</mat-label>
                          <input matInput class="input-field" formControlName="suppLocPinCode"
                            (input)="formOneValidation()" [tabIndex]=8 [maxlength]="10"
                            oninput="this.value = this.value.toUpperCase()">
                          <mat-hint align="end">{{supplierSiteForm.controls.suppLocPinCode.value?.length || 0}}/10
                          </mat-hint>
                          <mat-error
                            *ngIf="supplierSiteForm.controls.suppLocPinCode.invalid && supplierSiteForm.controls.suppLocPinCode.touched">
                          </mat-error>
                        </mat-form-field>
                      </div>

                      <div class="form-group">
                        <mat-form-field class="example-full-width" [floatLabel]="'always'"
                          hintLabel="{{ CommonhintMsg.MAX_15_DIG }}">
                          <mat-label class="input-label">{{'COMMON_PHONE_NO' | translate }}</mat-label>
                          <input matInput class="input-field" formControlName="mobileNumber"
                            (input)="formOneValidation()" [tabIndex]=11 [maxlength]="15" [minlength]="10"
                            oninput="this.value = this.value.toUpperCase()">
                          <mat-hint align="end">{{supplierSiteForm.controls.mobileNumber.value?.length || 0}}/15
                          </mat-hint>
                          <mat-error
                            *ngIf="supplierSiteForm.controls.mobileNumber.invalid && supplierSiteForm.controls.mobileNumber.touched">
                            <div class="err-field" *ngIf="supplierSiteForm.controls.mobileNumber.errors.pattern">
                              Kindly Enter Valid "{{'COMMON_PHONE_NO' | translate }}" </div>
                            <div class="err-field" *ngIf="supplierSiteForm.controls.mobileNumber.errors.pattern?false:supplierSiteForm.controls.mobileNumber.errors.minlength">
                              "{{'COMMON_PHONE_NO' | translate }}" Should Be Of Minimum 10 Digits </div>
                          </mat-error>
                        </mat-form-field>
                      </div>

                      <div class="form-group">
                        <mat-form-field class="example-full-width" [floatLabel]="'always'"
                          hintLabel="{{ CommonhintMsg.MAX_50 }}">
                          <mat-label class="input-label">{{'SUPPLIER_PAYMENT_TERMS' | translate }}</mat-label>
                          <textarea matInput class="input-field" formControlName="paymentTerms" [tabIndex]=14
                            [maxlength]="50"></textarea>
                          <mat-hint align="end">{{supplierSiteForm.controls.paymentTerms.value?.length || 0}}/50
                          </mat-hint>
                        </mat-form-field>
                      </div>



                    </div>

                    <div fxFlex="30" fxLayout="column" fxLayout.sm="column" fxLayout.xs="column" style="width: 100%;">

                      <div class="form-group">
                        <mat-form-field class="example-full-width" [floatLabel]="'always'"
                          hintLabel="{{ CommonhintMsg.MAX_100 }}">
                          <mat-label class="input-label">{{'COMMON_ADDRESS_2' | translate }}</mat-label>
                          <input matInput class="input-field" formControlName="suppLocAddress2"
                            (input)="formOneValidation()" [tabIndex]=3 [maxlength]="100"
                            oninput="this.value = this.value.toUpperCase()">
                          <mat-hint align="end">{{supplierSiteForm.controls.suppLocAddress2.value?.length || 0}}/100
                          </mat-hint>
                          <mat-error
                            *ngIf="supplierSiteForm.controls.suppLocAddress2.invalid && supplierSiteForm.controls.suppLocAddress2.touched">
                          </mat-error>
                        </mat-form-field>
                      </div>

                      <div class="form-group">
                        <div class="example-full-width">
                          <span class="input-label"> {{'COMMON_STATE' | translate }} <span
                              class="mandatory-style">*</span>
                          </span>
                          <ng-select class=" input-field" [tabIndex]=6 formControlName="suppLocState"
                            [items]="states" bindLabel="stateName" (search)="getStateData($event)"
                            (click)="getStateData({})" [virtualScroll]="true" required
                            (scrollToEnd)="getStateData({})" (keyup.backspace)="getStateData($event.target.value ? $event : 'back')" (clear)="getStateData('clear')" [loading]="scrollStatesync" loadingText="Loading..."
                            (change)="formOneValidation();setStateData($event)" bindValue="stateName">
                          </ng-select>
                          <mat-error
                              *ngIf="supplierSiteForm.controls.suppLocState.invalid && supplierSiteForm.controls.suppLocState.touched">
                              <div class="err-field" *ngIf="supplierSiteForm.controls.suppLocState.errors.required">
                                Kindly Select The "{{ 'COMMON_STATE' | translate }}" </div>
                            </mat-error>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="example-full-width">
                          <span class="input-label">{{'CURRENCY_CD' | translate }}
                            <span class="mandatory-style">*</span>
                          </span>
                          <ng-select class=" input-field" [tabIndex]=9 formControlName="suppLocCurCd"
                            (search)="listOfCurrencyCd($event)" (click)="listOfCurrencyCd({})" [virtualScroll]="true"
                            (scrollToEnd)="listOfCurrencyCd({})" (keyup.backspace)="listOfCurrencyCd($event.target.value ? $event : 'back')" (clear)="listOfCurrencyCd('clear')" [loading]="scrollCurrencyCodesync"
                            loadingText="Loading..." (change)="formOneValidation();getCurrencyCodeData($event)"
                            [items]="currencycdList" bindLabel="curCd" bindValue="curCd">
                          </ng-select>
                          <mat-error
                              *ngIf="supplierSiteForm.controls.suppLocCurCd.invalid && supplierSiteForm.controls.suppLocCurCd.touched">
                              <div class="err-field" *ngIf="supplierSiteForm.controls.suppLocCurCd.errors.required">
                                Kindly Select The "{{ 'CURRENCY_CD' | translate }}"</div>
                            </mat-error>
                        </div>
                      </div>

                      <div class="form-group">
                        <mat-form-field class="example-full-width" [floatLabel]="'always'"
                          hintLabel="{{ CommonhintMsg.MAX_100 }}">
                          <mat-label class="input-label"> {{'COMMON_WEBSITE' | translate }} </mat-label>
                          <input type="url" class="input-field" #website matInput formControlName="supplierSiteWebSite"
                          [tabIndex]=12 [maxlength]="100" oninput="this.value = this.value.toUpperCase()">
                          <mat-hint align="end">{{supplierSiteForm.controls.supplierSiteWebSite.value?.length || 0}}/100
                          </mat-hint>
                        </mat-form-field>
                      </div>

                      <div fxLayout="row" class="form-group">

                        <div fxFlex="50" fxFlex.sm="50" fxFlex.xs="50" *ngIf="disableClearButton">
                          <div class="example-full-width check-box">
                            <mat-checkbox class="example-margin input-label" color="primary" formControlName="active"
                            [tabIndex]=15>
                              {{'SUPPLIER_ACTIVE' | translate }}
                            </mat-checkbox>
                          </div>
                        </div>

                        <div fxFlex="50" fxFlex.sm="50" fxFlex.xs="50">
                          <div class="example-full-width check-box">
                            <mat-checkbox class="example-margin input-label" color="primary"
                              formControlName="isServiceCenter" [tabIndex]=16>
                              {{'SUPPLIER_IS_SERVICE_CENTER' | translate }}
                            </mat-checkbox>
                          </div>
                        </div>

                      </div>

                    </div>

                  </div>
                </div>
              </mat-card-content>
            </mat-card>

          </mat-tab>

          <mat-tab label="{{'SUPPLIER_CONTACT_PERSON_INFO' | translate }}">

            <mat-card class="card-style">
              <mat-card-content>
                <div fxLayout="column" class="content-style">

                  <div fxLayout="row">
                    <div fxFlex="30">
                      <div class="form-group">
                        <mat-form-field class="example-full-width" [floatLabel]="'always'"
                          hintLabel="{{ CommonhintMsg.MAX_15_DIG }}">
                          <mat-label class="input-label"> {{'LOCATION_CONTACT_PERSON' | translate }} </mat-label>
                          <input #contactPerson matInput class="input-field" formControlName="contactPerson"
                            (input)="formThreeValidation()" [tabIndex]=16 [maxlength]="15"
                            oninput="this.value = this.value.toUpperCase()">
                          <mat-hint align="end">{{supplierSiteForm.controls.contactPerson.value?.length || 0}}/15
                          </mat-hint>
                          <mat-error
                            *ngIf="supplierSiteForm.controls.contactPerson.invalid && supplierSiteForm.controls.contactPerson.touched">
                          </mat-error>
                        </mat-form-field>
                      </div>

                      <!-- <div class="form-group">
                      <mat-form-field class="example-full-width" [floatLabel]="'always'"
                        hintLabel="{{ CommonhintMsg.MAX_15_DIG }}">
                        <mat-label class="input-label"> {{'COMMON_LAND_LINE_NO' | translate }} </mat-label>
                        <input matInput formControlName="landLineNumber" tabIndex="19" [maxlength]="15"
                          oninput="this.value = this.value.toUpperCase()">
                        <mat-hint align="end">{{supplierSiteForm.controls.landLineNumber.value?.length || 0}}/15
                        </mat-hint>
                      </mat-form-field>
                    </div> -->

                    </div>
                    <div fxFlex="30">
                      <div class="form-group">
                        <mat-form-field class="example-full-width" [floatLabel]="'always'"
                          hintLabel="{{ CommonhintMsg.MAX_50 }}">
                          <mat-label class="input-label"> {{'COMMON_EMAIL_ID' | translate }} </mat-label>
                          <input matInput class="input-field" formControlName="supplierSiteContactEmailId"
                            (input)="formThreeValidation()" [tabIndex]=17 [maxlength]="50"
                            oninput="this.value = this.value.toUpperCase()">
                          <mat-hint align="end">
                            {{supplierSiteForm.controls.supplierSiteContactEmailId.value?.length || 0}}/50</mat-hint>
                          <mat-error
                            *ngIf="supplierSiteForm.controls.supplierSiteContactEmailId.invalid && supplierSiteForm.controls.supplierSiteContactEmailId.touched">
                            <div class="err-field" *ngIf="supplierSiteForm.controls.supplierSiteContactEmailId.errors.pattern">
                              {{'COMMON_EMAIL_ID' | translate }} Format Should Be "xxx@yyy.zzz"</div>
                          </mat-error>
                        </mat-form-field>
                      </div>

                    </div>
                    <div fxFlex="30">
                      <div class="form-group">
                        <mat-form-field class="example-full-width" [floatLabel]="'always'"
                          hintLabel="{{ CommonhintMsg.MAX_15_DIG }}">
                          <mat-label class="input-label">{{'COMMON_PHONE_NO' | translate }}</mat-label>
                          <input matInput class="input-field" formControlName="supplierSitePersonPhoneNo"
                            (input)="formThreeValidation()" [tabIndex]=18 [maxlength]="15" [minlength]="10">
                          <mat-hint align="end">
                            {{supplierSiteForm.controls.supplierSitePersonPhoneNo.value?.length || 0}}/15</mat-hint>
                          <mat-error
                            *ngIf="supplierSiteForm.controls.supplierSitePersonPhoneNo.invalid && supplierSiteForm.controls.supplierSitePersonPhoneNo.touched">
                            <div class="err-field" *ngIf="supplierSiteForm.controls.supplierSitePersonPhoneNo.errors.pattern">
                              Kindly Enter Valid "{{'COMMON_PHONE_NO' | translate }}"</div>
                            <div class="err-field" *ngIf="supplierSiteForm.controls.supplierSitePersonPhoneNo.errors.pattern?false:supplierSiteForm.controls.supplierSitePersonPhoneNo.errors.minlength">
                              "{{'COMMON_PHONE_NO' | translate }}" Should Be Of Minimum 10 Digits</div>
                          </mat-error>
                        </mat-form-field>
                      </div>

                    </div>
                  </div>

                  <div fxLayout="row">
                    <div fxFlex="85"></div>

                    <div fxFlex="15">
                      <button mat-raised-button class="rightbutton" color="primary"
                        (click)="saveUpdateContactInfo(0,null)">
                        {{'COMMON_ADD'|translate}}
                      </button>
                    </div>
                  </div>

                  <div class="example-container">
                    <table mat-table [dataSource]="supplierSiteContactInfoDataSource" matSort>
                      <ng-container matColumnDef="sno">
                        <th mat-header-cell *matHeaderCellDef> {{ 'COMMON_S_NO' | translate }} </th>
                        <td mat-cell *matCellDef="let element; let i=index;"> {{i+1}} </td>
                      </ng-container>
                      <ng-container matColumnDef="supplierSiteContactPerson">
                        <th mat-header-cell *matHeaderCellDef>{{ 'LOCATION_CONTACT_PERSON' | translate }}</th>
                        <td mat-cell *matCellDef="let element"> {{element.supplierSiteContactPerson}} </td>
                      </ng-container>
                      <ng-container matColumnDef="supplierSitePersonPhoneNo">
                        <th mat-header-cell *matHeaderCellDef>{{ 'COMMON_PHONE_NO' | translate }}</th>
                        <td mat-cell *matCellDef="let element"> {{element.supplierSitePersonPhoneNo}} </td>
                      </ng-container>
                      <ng-container matColumnDef="supplierSiteContactEmailId">
                        <th mat-header-cell *matHeaderCellDef>{{ 'COMMON_EMAIL_ID' | translate }}</th>
                        <td mat-cell *matCellDef="let element"> {{element.supplierSiteContactEmailId}} </td>
                      </ng-container>
                      <ng-container matColumnDef="supplierSitePersonDesignation">
                        <th mat-header-cell *matHeaderCellDef>{{ 'USER_DESIGNATION' | translate }}</th>
                        <td mat-cell *matCellDef="let element"> {{element.supplierSitePersonDesignation}} </td>
                      </ng-container>
                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> {{ 'COMMON_ACTION' | translate }} </th>
                        <td mat-cell *matCellDef="let element; let i=index;">
                          <mat-icon class="action_icon"
                            style="color: red;cursor: pointer;font-size: 17px !important;text-align:center;"
                            matTooltip="{{'COMMON_DELETE' | translate}}"
                            (click)="deleteContactInfo(element.supplierSiteContactId,i)">delete</mat-icon>
                        </td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="supplierSiteContactInfoDispCol;sticky: true"></tr>
                      <tr mat-row *matRowDef="let element; columns: supplierSiteContactInfoDispCol;">
                    </table>
                  </div>

                </div>

              </mat-card-content>
            </mat-card>

          </mat-tab>

          <mat-tab label="{{'SUPPLIER_REGISTRATION_INFO' | translate }}">

            <mat-card class="card-style">
              <mat-card-content>
                <div class="content-style" fxLayout="row">
                  <div class="example-container" fxFlex="75">
                    <table mat-table [dataSource]="supplierRegistrationDataSource" matSort>
                      <ng-container matColumnDef="sno">
                        <th mat-header-cell *matHeaderCellDef> {{ 'COMMON_S_NO' | translate }} </th>
                        <td mat-cell *matCellDef="let element; let i=index;"> {{i+1}} </td>
                      </ng-container>
                      <ng-container matColumnDef="registrationName">
                        <th mat-header-cell *matHeaderCellDef>{{ 'REGISTRATION_NAME' | translate }}</th>
                        <td mat-cell *matCellDef="let element"> {{element.registrationName}} </td>
                      </ng-container>
                      <ng-container matColumnDef="registrationNo">
                        <th mat-header-cell *matHeaderCellDef>{{ 'REGISTRATION_NO' | translate }}</th>
                        <td mat-cell *matCellDef="let element"> {{element.registrationNo}} </td>
                      </ng-container>
                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> {{ 'COMMON_ACTION' | translate }} </th>
                        <td mat-cell *matCellDef="let element; let i=index;">
                          <mat-icon *ngIf="!modelSupplierSite" class="action_icon"
                            style="color: red;cursor: pointer;font-size: 17px !important;text-align:center;"
                            matTooltip="{{'COMMON_DELETE' | translate}}"
                            (click)="deleteRegistration(element.supplierSiteRegId,i)">delete </mat-icon>
                        </td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="supplierSiteDispCol;sticky: true"></tr>
                      <tr mat-row *matRowDef="let element; columns: supplierSiteDispCol;">
                    </table>
                  </div>
                  <div fxFlex="25" *ngIf="!modelSupplierSite" fxLayoutAlign="end start">
                    <button mat-raised-button class="rightbutton" color="primary"
                    (click)="saveUpdateRegistration(0,null)" [disabled]="modelSupplierSite"> {{'COMMON_ADD'|translate}}
                    </button>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>

          </mat-tab>

        </mat-tab-group>

      </div>
    </div>
  </form>
</div>