<mat-icon class="close-icon-large" (click)="closeMonthWise()">highlight_off</mat-icon>
  <fieldset style="overflow: hidden;">
    <div class="panel-body">
      <div class="row">    
        <div class="col-md-12">
          <div class="form-group row">
            <div class="col-md-4">
              <label id="example-radio-group-label">{{ 'DASHBOARD_SELECT_THE_STATUS' | translate }}</label>
            </div>
            <div class="col-md-8">
              <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                [(ngModel)]="dashboardStatus" (change)="selectValue($event)">
                <mat-radio-button class="example-radio-button" value="5">{{'DASHBOARD_RETIRED' | translate}}
                </mat-radio-button>
                <mat-radio-button class="example-radio-button" value="4">
                  {{'DASHBOARD_DISPOSED' | translate}}</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </div>
      </div>
    </div>
  </fieldset>