.timepicker__header[_ngcontent-trl-c11] {
    background-color: #445C8F;
}

.timepicker__header{
    background-color: #445C8F;
}

.timepicker-button[_ngcontent-dhf-c17] {
    color: #445C8F !important;
}