<form [formGroup]="otpForm">
<div class="Modal_Content">

  <div class="Modal_Header">
    <h4> Enter the Close Verification Otp </h4>
  </div>

  <div class="Model_Body">

    <div class="form-group">
      <mat-form-field class="example-full-width" [floatLabel]="'always'" hintLabel="{{ CommonhintMsg.MAX_6_DIG }}">
        <mat-label class="example-label input-label"> {{'COMMON_ENTER_OTP' | translate}} </mat-label>
        <input matInput formControlName="otp" required>
        <mat-hint align="end">{{otpForm.controls.otp.value?.toString().length || 0}}/6</mat-hint>
        <mat-error *ngIf="otpForm.controls.otp.invalid && otpForm.controls.otp.touched">
          <div *ngIf="otpForm.controls.otp.errors.required">{{ 'COMMON_ENTER_OTP' | translate }} is Required </div>
          <div *ngIf="otpForm.controls.otp.errors.maxlength">{{ 'COMMON_ENTER_OTP' | translate }} Maximum digit is 6</div>
          <div *ngIf="otpForm.controls.otp.errors.minlength">{{ 'COMMON_ENTER_OTP' | translate }} Minimum digit is 6</div>  
          <div *ngIf="otpForm.controls.otp.errors.pattern">{{'COMMON_ENTER_OTP' | translate}} contains only Numbers </div>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="rightbutton">
      <button mat-raised-button color="primary" (click)="Proceed()" [disabled]="otpForm.invalid">    
        <span *ngIf="!uploadFlag"> {{'COMMON_VALIDATE' | translate}} </span>
        <span *ngIf="uploadFlag"> {{'COMMON_LOADING' | translate}} </span> 
      </button>
      <button style="margin-left:5px;" mat-raised-button color="primary" (click)="Cancel()"> {{'COMMON_CANCEL' | translate}} </button>   
    </div>    

  </div>
</div>
</form>