<div fxLayout="column">
  <div fxFlex="100">
    <div fxLayout="row">
      <div fxFlex="95">
        <h4 class="section_title">{{headingDisplay}} {{ 'ASSET_STATUS' | translate }}</h4>
      </div>

      <div fxFlex="5" class="first-title">
        <mat-icon class="close-icon-large close-icon" (click)="closeModal()">highlight_off</mat-icon>
      </div>
    </div>

    <div fxLayout="row">
      <form class="modalform" fxFlex="100" [formGroup]="assetMainForm">
          <div class="form-group">
            <span class="input-label"> {{ 'STATUS_TYPE' | translate }}<span class="mandatory-style">*</span> </span>
            <ng-select tabindex="1" (search)="loadAssetStatusTypeComboData($event)"
              (click)="loadAssetStatusTypeComboData($event)" (change)="selectedAssetStatusType($event)" [virtualScroll]="true"
              (scrollToEnd)="loadAssetStatusTypeComboData({})" (keyup.backspace)="loadAssetStatusTypeComboData($event.target.value ? $event : 'back')" (clear)="loadAssetStatusTypeComboData('clear')" [loading]="scrollsyncAssetStatusType"
              formControlName ="statusType"
              loadingText="Loading..." [ngModelOptions]="{standalone: true}" class="input-field">
              <ng-option *ngFor="let statusTypeList of assetStatusTypeCombo" [value]="statusTypeList | translate"> {{ statusTypeList.statusType | translate}}</ng-option>
            </ng-select>
            <mat-error
                    *ngIf="assetMainForm.controls.statusType.invalid && assetMainForm.controls.statusType.touched">
                    <div class="err-field" *ngIf="assetMainForm.controls.statusType.errors.required">
                      Kindly Select The "{{ 'STATUS_TYPE' | translate }}" </div>
            </mat-error>
          </div>

          <div class="form-group">
            <span class="input-label"> {{ 'ASSET_STATUS' | translate }}<span class="mandatory-style">*</span> </span>
            <ng-select tabindex="2" (search)="loadAssetStatusComboData($event)" (click)="loadAssetStatusComboData($event)"
                [virtualScroll]="true" (scrollToEnd)="loadAssetStatusComboData({})" (keyup.backspace)="loadAssetStatusComboData($event.target.value ? $event : 'back')"  (clear)="loadAssetStatusComboData('clear')"
                [loading]="scrollsyncAssetStatus" loadingText="Loading..."
                formControlName="assetStatus" (change)="selectedAssetStatusList($event)"
                [ngModelOptions]="{standalone: true}"  class="input-field">
              <ng-option *ngFor="let assetStatus of assetStatusCombo" [value]="assetStatus | translate"> {{ assetStatus.assetStatusName | translate}}</ng-option>
            </ng-select>
            <mat-error
                  *ngIf="assetMainForm.controls.assetStatus.invalid && assetMainForm.controls.assetStatus.touched">
                  <div class="err-field" *ngIf="assetMainForm.controls.assetStatus.errors.required">
                    Kindly Select The "{{ 'ASSET_STATUS' | translate }}" </div>
            </mat-error>
          </div>

          <div class="form-group">
            <span class="input-label"> {{ 'ASSET_CONDITION' | translate }}<span class="mandatory-style">*</span> </span>
            <ng-select tabindex="3" loadingText="Loading..."
              (search)="loadAssetConditionComboData($event)" (click)="loadAssetConditionComboData($event)"
              [virtualScroll]="true" (change)="selectedAssetCondition($event)" [ngModelOptions]="{standalone: true}"
              (scrollToEnd)="loadAssetConditionComboData({})" (clear)="loadAssetConditionComboData('clear')" [loading]="scrollsyncAssetCondition"
              class="example-width input-field" formControlName="assetCondition">
              <ng-option *ngFor="let assetConditionList of assetConditionCombo" [value]="assetConditionList"> {{ assetConditionList.assetCondition | translate}}</ng-option>
            </ng-select>
            <mat-error
                  *ngIf="assetMainForm.controls.assetCondition.invalid && assetMainForm.controls.assetCondition.touched">
                  <div class="err-field" *ngIf="assetMainForm.controls.assetCondition.errors.required">
                    Kindly Select The "{{ 'ASSET_CONDITION' | translate }}" </div>
            </mat-error>
          </div>

          <div class="form-group">
            <mat-form-field class="example-full-width" [floatLabel]="'always'">
              <mat-label class="input-label">{{ 'COMMON_REMARKS' | translate }}<span class="mandatory-style">*</span></mat-label>
              <textarea matInput formControlName="remarks" tabindex="4"  [maxlength]="500"></textarea>
              <mat-hint align="end">{{assetMainForm.controls.remarks.value?.length || 0}}/500</mat-hint>
            </mat-form-field>
            <mat-error
                  *ngIf="assetMainForm.controls.remarks.invalid && assetMainForm.controls.remarks.touched">
                  <div class="err-field" *ngIf="assetMainForm.controls.remarks.errors.required">
                    "{{ 'COMMON_REMARKS' | translate }}" Required</div>
            </mat-error>
          </div>

          <div fxLayout="row" class="description-create-form">
            <button mat-raised-button class="space" color="primary" (click)="save()"
            [disabled]="assetMainForm.invalid || !assetMainForm.dirty || updateSrollBar">
            <span *ngIf="!updateSrollBar">{{displayButton}}</span>
            <span *ngIf="updateSrollBar">{{'COMMON_LOADING' | translate}} </span>
          </button>
          </div>

      </form>
    </div>
  </div>
</div>
