
.space {
    margin-right:5px;
}
.rightbutton {
    float: right;
}
h4{
    font-weight: 500;
}

.delete-content{
    font-size: 15px;
    font-weight: 400;
    font-family: Roboto,Helvetica Neue,sans-serif;
}
