<div fxLayout="column" fxFlexFill>

  <div fxFlex="100" fxLayout="row">
    <mat-toolbar-row *ngIf="pwdChangeCount > 0">
      <mat-list class="breadcrumb-padding" aria-label="breadcrumb" fxLayout="row" fxLayoutAlign="start center">
        <mat-list-item class="bread-crumb-content" fxLayoutAlign="start center"><a href="#"
            [routerLink]="['/home/dashboard']">
            <mat-icon>home</mat-icon>
            <mat-icon>keyboard_arrow_right</mat-icon>
          </a></mat-list-item>
        <mat-list-item class="bread-crumb-content" fxLayoutAlign="start center" aria-current="page">
          {{'MENU_CHANGE_PASSWORD' |
          translate}}
        </mat-list-item>
      </mat-list>
    </mat-toolbar-row>
  </div>


  <div fxLayout="row">
    <form [formGroup]="changePasswordFormGroup" fxFlex="100">
      <mat-card class="card-design">
        <h4 class="dialogue-box-header" style="margin-top:10px;">{{'PASSWORD_CHANGE' | translate}}</h4>
        <div class="content-style" fxLayout="column">

          <div class="form-group" [ngClass]="(pwdChangeCount === 0) ? 'displat-none' : ''">
            <mat-form-field class="example-full-width" [floatLabel]="'always'">
              <mat-label class="input-label"> {{'PASSWORD_OLD' | translate}} </mat-label>
              <input matInput #oldPassword *ngIf="pwdChangeCount > 0" type="password" required formControlName="oldPassword" tabindex="1">
              <input matInput #oldPassword *ngIf="pwdChangeCount === 0" type="password" formControlName="oldPassword" tabindex="1">
              <mat-error
                *ngIf="changePasswordFormGroup.controls.oldPassword.invalid && changePasswordFormGroup.controls.oldPassword.touched">
                <div *ngIf="changePasswordFormGroup.controls.oldPassword.errors.required">
                  {{'PASSWORD_OLD' | translate}} is required </div>
                <div *ngIf="changePasswordFormGroup.controls.oldPassword.errors.maxlength">
                  Max. length is 100 </div>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field class="example-full-width" [floatLabel]="'always'">
              <mat-label class="input-label"> {{'PASSWORD_NEW' | translate}} </mat-label>
              <mat-pass-toggle-visibility #toggle matSuffix></mat-pass-toggle-visibility>
              <input matInput autocomplete="new-password" [type]="toggle.type" required formControlName="newPassword" (input)="validationCheck()" tabindex="2">
              <mat-error
                *ngIf="changePasswordFormGroup.controls.newPassword.invalid && changePasswordFormGroup.controls.newPassword.touched">
                <div *ngIf="changePasswordFormGroup.controls.newPassword.errors.required">
                  {{'PASSWORD_NEW' | translate}} is required </div>
                <div *ngIf="changePasswordFormGroup.controls.newPassword.errors.maxlength">
                  Max. length is 100 characters</div>
                <div *ngIf="changePasswordFormGroup.controls.newPassword.errors.minlength">
                  Min. length should be 8 characters </div>
                <div
                  *ngIf="changePasswordFormGroup.controls.newPassword.errors.pattern && !changePasswordFormGroup.controls.newPassword.errors.minlength">
                  {{'PASSWORD_NEW' | translate}} pattern mismatch </div>
              </mat-error>
            </mat-form-field>
            <!-- <div fxLayout="row">
              <p fxFlex="27" class="password-strength">Password strength:</p>
              <mat-password-strength fxFlex="70" fxLayoutAlign="center center" #passwordComponent [password]="changePasswordFormGroup.controls.newPassword.value" class="progress-bar-style">
            </mat-password-strength>
          </div> -->
          </div>

          <div class="form-group">
            <mat-form-field class="example-full-width" [floatLabel]="'always'">
              <mat-label class="input-label"> {{'PASSWORD_CONFIRM' | translate}} </mat-label>
              <input matInput type="password" required formControlName="confirmPassword" tabindex="3">
              <mat-error
                *ngIf="changePasswordFormGroup.controls.confirmPassword.invalid && changePasswordFormGroup.controls.confirmPassword.touched">
                <div *ngIf="changePasswordFormGroup.controls.confirmPassword.errors.required">
                  {{'PASSWORD_CONFIRM' | translate}} is required </div>
                <div *ngIf="changePasswordFormGroup.controls.confirmPassword.errors.maxlength">
                  Max. length should is 100 characters</div>
                <div *ngIf="changePasswordFormGroup.controls.confirmPassword.errors.minlength">
                  Min. length should be 8 characters </div>
                <div
                  *ngIf="changePasswordFormGroup.controls.confirmPassword.errors.pattern && !changePasswordFormGroup.controls.confirmPassword.errors.minlength">
                  {{'PASSWORD_CONFIRM' | translate}} pattern mismatch </div>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="hint-style">
            <p class="mandatory-style">Password Requirements:</p>
            <div fxLayout="column">
              <div fxLayout="row">
                <div fxFlex="5">
                  <mat-icon class="close-icon" *ngIf="!lengthFlag">close</mat-icon>
                  <mat-icon class="done-icon" *ngIf="lengthFlag">done</mat-icon>
                </div>
                <p fxFlex="95">MUST contain at least 8 characters</p>
              </div>

              <div fxLayout="row">
                <div fxFlex="5">
                  <mat-icon class="close-icon" *ngIf="!upperCaseFlag">close</mat-icon>
                  <mat-icon class="done-icon" *ngIf="upperCaseFlag">done</mat-icon>
                </div>
                <p fxFlex="95">MUST contain at least one uppercase letter</p>
              </div>

              <div fxLayout="row">
                <div fxFlex="5">
                  <mat-icon class="close-icon" *ngIf="!lowerCaseFlag">close</mat-icon>
                  <mat-icon class="done-icon" *ngIf="lowerCaseFlag">done</mat-icon>
                </div>
                <p fxFlex="95">MUST contain at least one lowercase letter</p>
              </div>

              <div fxLayout="row">
                <div fxFlex="5">
                  <mat-icon class="close-icon" *ngIf="!numberFlag">close</mat-icon>
                  <mat-icon class="done-icon" *ngIf="numberFlag">done</mat-icon>
                </div>
                <p fxFlex="95">MUST contain at least one number</p>
              </div>

              <div fxLayout="row">
                <div fxFlex="5">
                  <mat-icon class="close-icon" *ngIf="!specialCharFlag">close</mat-icon>
                  <mat-icon class="done-icon" *ngIf="specialCharFlag">done</mat-icon>
                </div>
                <p fxFlex="95">MUST contain at least one special character (!#$%&'()*+,-./:;&lt;=>?@[\]^_`{{'{'}}|}~)</p>
              </div>

              <div fxLayout="row">
                <div fxFlex="5">
                  <mat-icon class="close-icon" *ngIf="spaceFlag">close</mat-icon>
                  <mat-icon class="done-icon" *ngIf="!spaceFlag">done</mat-icon>
                </div>
                <p fxFlex="95">MUST not contain space</p>
              </div>

            </div>
          </div>
          <div class="form-group" fxLayoutAlign="center center">
            <button mat-raised-button color="primary" class="space" (click)="changePassword()"
              [disabled]="changePasswordFormGroup.invalid">
              <span *ngIf="!uploadFlagPassword"> {{'COMMON_SUBMIT' | translate}} </span>
              <span *ngIf="uploadFlagPassword"> {{'COMMON_LOADING' | translate}} </span>
            </button>
            <button mat-raised-button color="primary" class="space" (click)="clear()">{{'COMMON_CLEAR' |
              translate}}</button>
          </div>

        </div>
      </mat-card>
    </form>
  </div>

</div>