.form-group{
    margin-bottom: 0.5rem !important;
    font-size: 15px !important; 
    font-weight: 400;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 95%;
  }



  button{
    float: right;
    margin-top:0.5%;
    color:white;
  }
  
  .space{
    margin-left: 10px;
  }

  .example-label{
    font-size: 20px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    color:#000000;
}

.card-design{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  height: 505px; 
  margin-top: 20px;
}

.mat-card-content>:first-child, .mat-card>:first-child {
  margin-top: 64px;
  margin-right: 20px;
  margin-left: 20px;
}

.content-style{
  min-height: 270px;
  margin: 21px;
}

.hint-style {
  margin-bottom: 15px;
}

.hint-style p{
  font-size: 10px;
  font-weight: 600;
  text-align: justify;
  line-height: 0px;
  margin: 10px 0;
}

/* p:first-of-type {
  font-size: 12px !important;
} */

.close-icon {
  font-size: 18px !important;
  color: red;
}

.done-icon {
  font-size: 18px !important;
  color: green;
}

.password-strength {
  font-size: 12px;
  font-weight: 500;
  margin: 0px;
}

.displat-none {
  display: none;
}