<!-- <p>asset-by-sub-category-v2 works!</p> -->

<div fxLayout="column">
  <div fxLayout="row">
    <div fxFlex="95">
      <p class="dialogue-box-header"> {{ header }} </p>
    </div>
    <div fxFlex="5" fxLayoutAlign="end start">
      <mat-icon class="close-icon" (click)="closeSubCategoryModal()">highlight_off</mat-icon>
    </div>
  </div>

  <div>
    <div echarts [options]="option" class="chart" (chartClick)="openAssetViewPage($event)"
       style="width: 100%; height: 100%;"></div>
  </div>
</div>
