<div fxLayout="column" fxFlexFill>

  <div fxLayout="row" fxLayoutAlign="start center">
    <div fxLayoutAlign="start center" fxFlex="35">
      <mat-toolbar-row style="position: sticky !important;" aria-label="breadcrumb">
        <mat-list fxLayoutAlign="start center">
          <mat-list-item fxLayoutAlign="start center">
            <a href="#" [routerLink]="['/home/dashboard']">
              <mat-icon class="small-icon">home</mat-icon>
            </a>
            <mat-icon>keyboard_arrow_right</mat-icon>
          </mat-list-item>
          <mat-list-item><a>{{'MENU_INVENTORY' | translate}}</a>
            <mat-icon>keyboard_arrow_right</mat-icon>
          </mat-list-item>
          <mat-list-item class="active" aria-current="page">{{'MENU_GRN' | translate}}</mat-list-item>
        </mat-list>
      </mat-toolbar-row>
    </div>
  </div>
  <div class="content_section_background">
    <div fxLayout="column">
      <div class="table_section ">

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title class="panel-header">
            {{'COMMON_SEARCH'| translate}}
          </mat-panel-title>
          <mat-panel-description fxLayoutAlign="end end">
            <mat-icon>search</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        
        <div fxFlex="100">
          <form fxFlex="100" fxLayout="row" fxLayout.lt-md="column" fxFlex.lt-md="100">
            <div fxLayout="row" fxFlex="85" fxLayout.lt-md="row" fxFlex.lt-md="100">
              
              <div fxFlex="35">
                <div class="form-group">
                  <div class="example-full-width">
                    <span class="input-label">{{'LOCATION_NAME' | translate}}</span>
                    <ng-select #focusLocationName class=" input-field" [(ngModel)]="grnHdrModel.selectedLocationNames"
                      (search)="listofLocationName($event)" (click)="listofLocationName({})"
                      (change)="setLocationNameComboValue($event)" [items]="locationCombo" [virtualScroll]="true"
                      (scrollToEnd)="listofLocationName({})"
                      (keyup.backspace)="listofLocationName($event.target.value ? $event : 'back')"
                      (clear)="listofLocationName('clear')" [loading]="scrollLocationNamesync" bindLabel="locDisplayField"
                      bindValue="locDisplayField" tabindex="1" required appendTo="body" multiple="true">
                    </ng-select>
                  </div>
                </div>
                
                <div class="form-group mt-20-px">
                  <div class="example-full-width">
                    <span class="input-label"> {{ 'GRN_STATUS' | translate }} </span>
                    <ng-select [items]="statusList" bindLabel="displayValue" bindValue="displayValue"
                      (search)="fetchCommonStatusList($event)" (click)="fetchCommonStatusList($event)" [virtualScroll]="true"
                      (scrollToEnd)="fetchCommonStatusList({})"
                      (keyup.backspace)="fetchCommonStatusList($event.target.value ? $event : 'back')"
                      (clear)="fetchCommonStatusList('clear')" [loading]="scrollStatussync" loadingText="Loading..."
                      (change)="selectedStatus($event)" [(ngModel)]="grnHdrModel.selectedGrnStatusNames" class="input-field"
                      appendTo="body" [ngModelOptions]="{standalone: true}" multiple="true">
                    </ng-select>
                  </div>
                </div>
                
              </div>

              <div fxFlex="40">
                <div class="form-group">
                  <div class="example-full-width">
                    <span class="input-label"> {{ 'SUPPLIER_NAME' | translate }} </span>
                    <ng-select tabindex="3" [(ngModel)]="grnHdrModel.selectedBusinessPartnerNames" [ngModelOptions]="{standalone: true}"
                      (search)="listOfSupplier($event)" (click)="listOfSupplier({})"
                      (change)="fetchIdOfSupplier($event)" (scrollToEnd)="listOfSupplier({})"
                      (keyup.backspace)="listOfSupplier($event.target.value ? $event : 'back')"
                      (clear)="listOfSupplier('clear')" [virtualScroll]="true" appendTo="body"
                      [loading]="scrollSupplierNamesync" [items]="supplierList" bindLabel="businessPartnerName"
                      bindValue="businessPartnerName" multiple="true">
                    </ng-select>
                  </div>
                </div>

                <div class="form-group mt-20-px">
                  <div class="example-full-width">
                    <span class="input-label"> {{ 'SUPPLIER_SITE_NAME' | translate }} </span>
                    <ng-select tabindex="4" [(ngModel)]="grnHdrModel.selectedBusinessPartnerSiteNames"
                      [ngModelOptions]="{standalone: true}" (search)="listOfSupplierApproved($event)"
                      (click)="listOfSupplierApproved({})" (change)="fetchIdOfSupplierApproved($event)"
                      (scrollToEnd)="listOfSupplierApproved({})"
                      (keyup.backspace)="listOfSupplierApproved($event.target.value ? $event : 'back')"
                      (clear)="listOfSupplierApproved('clear')" [virtualScroll]="true" appendTo="body"
                      [loading]="scrollApprovedSupplierNamesync" [items]="supplierLocationList" bindLabel="comboDisp"
                      bindValue="comboDisp" multiple="true">
                    </ng-select>
                  </div>
                </div>
                    
              </div>

              <div fxFlex="15" class="add-margin-top">
                <div class="form-group">
                  <div class="example-full-width">
                    <mat-form-field class="example-full-width" [floatLabel]="'always'">
                      <mat-label class=" input-label">{{ 'GRN_RECEIPT_NO' | translate }}</mat-label>
                      <input matInput tabindex="5" [(ngModel)]="grnHdrModel.doNo" [ngModelOptions]="{standalone: true}"
                        class="input-field"  oninput="this.value = this.value.toUpperCase()">
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-group">
                  <div class="example-full-width">
                    <mat-form-field class="example-full-width" [floatLabel]="'always'">
                      <mat-label class=" input-label">{{'GRN_DO_DT' | translate }}</mat-label>
                      <input matInput tabindex="2" (click)="doDate.open()" [matDatepicker]="doDate" [(ngModel)]="grnHdrModel.doDateDisp"
                        [ngModelOptions]="{standalone: true}" class="input-field"  oninput="this.value = this.value.toUpperCase()">
                      <mat-datepicker-toggle matSuffix [for]="doDate"></mat-datepicker-toggle>
                      <mat-datepicker #doDate></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div fxFlex="15" class="add-margin-top">
                <div class="form-group">
                  <div class="example-full-width">
                    <mat-form-field class="example-full-width" [floatLabel]="'always'">
                      <mat-label class=" input-label">{{ 'GRN_NO' | translate }}</mat-label>
                      <input matInput tabindex="1" [(ngModel)]="grnHdrModel.grnNo" [ngModelOptions]="{standalone: true}"
                        class="input-field"  oninput="this.value = this.value.toUpperCase()">
                    </mat-form-field>
                  </div>
                </div>  
                <div class="form-group">
                  <div class="example-full-width">
                    <mat-form-field class="example-full-width" [floatLabel]="'always'">
                      <mat-label class=" input-label">{{'GRN_DATE' | translate }}</mat-label>
                      <input matInput tabindex="6" (click)="grnDate.open()" [matDatepicker]="grnDate"
                        [(ngModel)]="grnHdrModel.grnDateDisp" [ngModelOptions]="{standalone: true}"
                        class="input-field">
                      <mat-datepicker-toggle matSuffix [for]="grnDate"></mat-datepicker-toggle>
                      <mat-datepicker #grnDate></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>  
              </div>
            </div>
            <div fxLayout="column" fxFlex="15" fxLayout.lt-md="row" fxFlex.lt-md="100">
              <div class="form-group">
                <div class="example-full-width">
                  <mat-form-field class="example-full-width" [floatLabel]="'always'">
                    <mat-label class=" input-label">{{ 'SUPPLIER_INVOICE_NO' | translate }}</mat-label>
                    <input matInput tabindex="1" [(ngModel)]="grnHdrModel.supplierInvoiceNo" [ngModelOptions]="{standalone: true}"
                      class="input-field"  oninput="this.value = this.value.toUpperCase()">
                  </mat-form-field>
                </div>
              </div>  
              <!-- <div class="form-group">
                <div class="example-full-width">
                  <mat-form-field class="example-full-width" [floatLabel]="'always'">
                    <mat-label class=" input-label">{{'SUPPLIER_INVOICE_DATE' | translate }}</mat-label>
                    <input matInput tabindex="6" (click)="supplierInvoiceDt.open()" [matDatepicker]="supplierInvoiceDt"
                      [(ngModel)]="grnHdrModel.supplierInvoiceDtDisp" [ngModelOptions]="{standalone: true}"
                      class="input-field">
                    <mat-datepicker-toggle matSuffix [for]="supplierInvoiceDt"></mat-datepicker-toggle>
                    <mat-datepicker #supplierInvoiceDt></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>  -->
              <div fxFlex="100" fxLayoutAlign="end end" fxHide.lt-md style="margin-bottom: 10px;">
                <button mat-raised-button class="space" color="primary" matTooltip="{{'COMMON_SEARCH' | translate}}"
                  [matTooltipPosition]="'below'" tabindex="7" (click)="searchGrn()">{{'COMMON_SEARCH' |
                  translate}}</button>
                <button mat-raised-button class="space" color="primary" matTooltip="{{'COMMON_CLEAR' | translate}}"
                  [matTooltipPosition]="'below'" tabindex="8" (click)="clear()">{{'COMMON_CLEAR' | translate}}</button>
                <button mat-raised-button class="space" color="primary" tabindex="9" matTooltip="{{'REPORT_EXPORT' | translate}}"
                  (click)="generateReport()">{{'REPORT_EXPORT' |
                  translate}}</button>
              </div>
              <div fxFlex="100" fxLayoutAlign="end end" fxHide.gt-md fxHide.md>
                <button mat-raised-button class="space" color="primary" matTooltip="{{'COMMON_SEARCH' | translate}}"
                  [matTooltipPosition]="'below'" tabindex="7" (click)="searchGrn()"><mat-icon>search</mat-icon></button>
                <button mat-raised-button class="space" color="primary" matTooltip="{{'COMMON_CLEAR' | translate}}"
                  [matTooltipPosition]="'below'" tabindex="8" (click)="clear()"><mat-icon>clear_all</mat-icon></button>
                <button mat-raised-button class="space" color="primary" tabindex="9" matTooltip="{{'REPORT_EXPORT' | translate}}"
                  (click)="generateReport()"><mat-icon>file_download</mat-icon></button>
              </div>
            </div>
          </form>
        </div>        
        

      </mat-expansion-panel>

      <hr />

      <mat-toolbar>
        <!-- <span>{{'MENU_GRN'| translate}} List</span> -->
        <span class="example-spacer"></span>

        <mat-paginator #paginatorUsers [pageSizeOptions]="[5 ,10 , 25, 50, 100]" [length]="length"
          [pageIndex]="pageIndex" [pageSize]="pageSize" (page)="getServerData($event)">
        </mat-paginator>
        <span class="example-spacer"></span>

        <button mat-raised-button class="space sqr-btn" color="primary" matTooltip="{{'COMMON_MANAGE_COLUMNS' | translate}}" [matTooltipPosition]="'below'" (click)="editManageColumns()">
          <mat-icon>view_week</mat-icon>
        </button>
  
        <div class="custom-dialog" *ngIf="showManageColumns">
          <div>
            <span>{{'COMMON_MANAGE_COLUMNS' | translate}}</span>
          </div>
          <hr>
          <div class="custom-dialog-body" *ngIf="showManageColumns">
            <div id="column1">        
              <input type="checkbox" [checked]="displayedColumns.includes('locationName')"(change)="toggleColumn('locationName')">
              <span>{{'LOCATION_NAME' | translate}}</span>
              <br>
              
              <input type="checkbox" [checked]="displayedColumns.includes('grnNo')"(change)="toggleColumn('grnNo')">
              <span>{{'GRN_NO' | translate}}</span>
              <br>
              
              <input type="checkbox" [checked]="displayedColumns.includes('grnFor')" (change)="toggleColumn('grnFor')">
              <span>{{'GRN_FOR' | translate}}</span>
              <br>
              
              <input type="checkbox" [checked]="displayedColumns.includes('supplierName')" (change)="toggleColumn('supplierName')">
              <span>{{'SUPPLIER_NAME' | translate}}</span>
              <br>
            </div>
      
            <div id="column2">
              <input type="checkbox" (change)="toggleColumn('supplierSiteName')" [checked]="displayedColumns.includes('supplierSiteName')">
              <span>{{'SUPPLIER_SITE_NAME' | translate}}</span> <br>
      
              <input type="checkbox" (change)="toggleColumn('doNo')" [checked]="displayedColumns.includes('doNo')">
              <span>{{'GRN_RECEIPT_NO' | translate}}</span> <br>
      
              <input type="checkbox" (change)="toggleColumn('grnStatus')" [checked]="displayedColumns.includes('grnStatus')">
              <span>{{'GRN_STATUS' | translate}}</span> <br>
      
              <input type="checkbox" (change)="toggleColumn('grnApprovalStatus')" [checked]="displayedColumns.includes('grnApprovalStatus')">
              <span>{{'APPROVAL_STATUS' | translate}}</span> <br>
            </div>
      
            <div id="column3">
              <input type="checkbox" (change)="toggleColumn('updatedDt')" [checked]="displayedColumns.includes('updatedDt')">
              <span>{{'COMMON_UPDATED_DT' | translate}}</span>
            </div>
          </div>
      
          <hr>
          
          <div fxLayoutAlign="end end">
            <button type="button" class="custom-button space" (click)="applyPreferredColumns()">
              {{'COMMON_OK' | translate}}
            </button>
            <button type="button" class="custom-button" (click)="resetPreferredColumns()">
              {{'COMMON_RESET' | translate}}
            </button>
          </div>
          
        </div>

        <button mat-raised-button color="primary" *ngIf="modelAccessModule.createFlagDisplay" class="space sqr-btn"
          matTooltip="{{ 'COMMON_CREATE' | translate }}" [matTooltipPosition]="'below'"
          (click)="createGrn('add')"><mat-icon>add</mat-icon></button>

        <button [disabled]="enableActionBtn || selectedGrnStatus == 'CANCELLED' || selectedGrnStatus == 'APPROVED'" mat-raised-button color="primary" class="space sqr-btn"
          matTooltip="{{ 'COMMON_EDIT' | translate }}" *ngIf="modelAccessModule.updateFlagDisplay"
          (click)="createGrn('Edit')">
          <mat-icon>edit</mat-icon></button>

        <button [disabled]="enableActionBtn" mat-raised-button color="primary" class="space sqr-btn"
          *ngIf="modelAccessModule.readFlagDisplay" matTooltip="{{ 'COMMON_VIEW' | translate }}"
          (click)="createGrn('view')">
          <mat-icon>visibility</mat-icon></button>

        <button [disabled]="enableActionBtn" mat-raised-button color="primary" class="space sqr-btn"
          matTooltip="{{ 'COMMON_PDF' | translate }}" (click)="generateGrnPDF()">
          <mat-icon>picture_as_pdf</mat-icon></button>

        <button [disabled]="checkApprovalValid()" color="primary" mat-raised-button class="space sqr-btn"
          matTooltip="{{ 'COMMON_APPROVE' | translate }}" (click)="grnWorkflowApproval(true)">
          <mat-icon>spellcheck</mat-icon>
        </button>

        <button [disabled]="checkApprovalValid()" color="primary" mat-raised-button class="space sqr-btn"
          matTooltip="{{ 'COMMON_REJECT' | translate }}" (click)="grnWorkflowReject()">
          <mat-icon>cancel</mat-icon>
        </button>

        <button [disabled]="checkApprovalValid()" color="primary" mat-raised-button class="space sqr-btn" 
        matTooltip="{{ 'COMMON_CANCEL' | translate }}" (click)="grnCancel()">
        <mat-icon>clear</mat-icon>
        </button>

      </mat-toolbar>

      <div class="example-container">

        <div fxLayout="row">
          <table class="grn-list-table" mat-table [dataSource]="grnDataSource" matSort (matSortChange)="customSort($event)"
            matSortActive="name" matSortDirection="asc" matSortDisableClear>
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef class="table-head-data">{{ 'COMMON_SELECT' | translate }} </th>
              <td mat-cell *matCellDef="let element;let i = index;">
                <mat-checkbox color="primary" class="example-margin" (change)="selectGRN(element)"
                  [checked]="compareValue(element)">
                </mat-checkbox>
              </td>
            </ng-container>
            <ng-container matColumnDef="sno">
              <th mat-header-cell *matHeaderCellDef> {{ 'COMMON_S_NO' | translate }} </th>
              <td mat-cell *matCellDef="let element; let i=index;"> {{i+1}} </td>
            </ng-container>
            <ng-container matColumnDef="locationName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'LOCATION_NAME' | translate}} </th>
              <td mat-cell *matCellDef="let element" (click)="selectGRN(element)">
                {{element.locationName}}
              </td>
            </ng-container>
            <ng-container matColumnDef="grnNo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'GRN_NO' | translate}} </th>
              <td mat-cell *matCellDef="let element" (click)="selectGRN(element)"> {{element.grnNo}} </td>
            </ng-container>
            <ng-container matColumnDef="grnFor">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'GRN_FOR' | translate}} </th>
              <td mat-cell *matCellDef="let element" (click)="selectGRN(element)" class="{{element?.grnFor}}"> {{element.grnFor}} </td>
            </ng-container>
            <ng-container matColumnDef="supplierName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'SUPPLIER_NAME' | translate}} </th>
              <td mat-cell *matCellDef="let element" style="text-overflow: ellipsis;" (click)="selectGRN(element)">
                {{element.supplierName}}
              </td>
            </ng-container>
            <ng-container matColumnDef="supplierSiteName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'SUPPLIER_SITE_NAME' | translate}} </th>
              <td mat-cell *matCellDef="let element" style="width:15%; text-overflow: ellipsis;"
                (click)="selectGRN(element)">
                {{element.supplierSiteName}}
              </td>
            </ng-container>
            <ng-container matColumnDef="doNo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'GRN_RECEIPT_NO' | translate}} </th>
              <td mat-cell *matCellDef="let element" (click)="selectGRN(element)"> {{element.doNo}} </td>
            </ng-container>
            <ng-container matColumnDef="grnStatus">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'GRN_STATUS' | translate}} </th>
              <td mat-cell *matCellDef="let element" (click)="selectGRN(element)" class="{{element?.grnStatus}}">
                {{element?.grnStatus}}
              </td>
            </ng-container>
            <!-- <ng-container matColumnDef="grnApprovalStatus">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'APPROVAL_STATUS' | translate}} </th>
              <td mat-cell *matCellDef="let element" (click)="selectGRN(element)">
                <span class="{{element?.grnApprovalStatus.replace(' ','')}}">
                  {{ element?.grnApprovalStatus }}</span>
              </td>
            </ng-container> -->
            <ng-container matColumnDef="grnApprovalStatus">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'APPROVAL_STATUS' | translate }}</th>
              <td mat-cell *matCellDef="let element" (click)="selectGRN(element)">
                <span *ngFor="let status of element.grnApprovalStatus.split('-')">
                  <span [ngClass]="{
                    'APPROVALPENDING': status.includes('PENDING'),
                    'APPROVED': status.includes('APPROVED'),
                    'REJECTED': status.includes('REJECTED'),
                    'CANCELLED': status.includes('CANCELLED')
                  }">
                    {{ status.trim() }}
                  </span>
                  <br> <!-- Add line break if needed -->
                </span>
              </td>
            </ng-container>
            
            
            <ng-container matColumnDef="updatedDt">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'COMMON_UPDATED_BY_DATE' | translate}} </th>
              <td mat-cell *matCellDef="let element" (click)="selectGRN(element)">
                {{element?.updatedBy}} / <br>{{element?.updatedDtDisp}}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns;">
            </tr>
          </table>

        </div>

        <div fxLayout="row">
          <mat-card class="no_records_found" *ngIf="length=='0'  && !subLoaderGrn">{{'COMMON_NO_RECORDS_FOUND' |
            translate}}</mat-card>
          <mat-card class="no_records_found" *ngIf="subLoaderGrn" fxLayoutAlign="center center">
            <mat-spinner [diameter]="40"></mat-spinner>
          </mat-card>
        </div>

      </div>

      </div>
    </div>
  </div>

</div>