<div fxLayout="column" fxFlexFill>

  <div fxLayout="row" fxLayoutAlign="start center">
    <div fxLayoutAlign="start center" fxFlex="35">
      <mat-toolbar-row style="position: sticky !important;" aria-label="breadcrumb">
        <mat-list fxLayoutAlign="start center">
          <mat-list-item fxLayoutAlign="start center" class="bread-crumb-content">
            <a href="#" [routerLink]="['/home/dashboard']">
              <mat-icon class="small-icon">home</mat-icon>
            </a>
            <mat-icon>keyboard_arrow_right</mat-icon>
          </mat-list-item>
          <mat-list-item class="bread-crumb-content"><a>{{'MENU_ASSET'| translate}}</a>
            <mat-icon>keyboard_arrow_right</mat-icon>
          </mat-list-item>
          <mat-list-item class="active bread-crumb-content" aria-current="page">{{'MENU_ASSET_RETIREMENT' | translate}}
          </mat-list-item>
        </mat-list>
      </mat-toolbar-row>
    </div>

  </div>
  
  <div class="content_section_background" style="padding-top:0.5%">
    <div fxLayout="column">
      <div class="table_section">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title class="panel-header">
              {{'COMMON_SEARCH'| translate}}
            </mat-panel-title>
            <mat-panel-description fxLayoutAlign="end end">
              <mat-icon class="mandatory-style">search</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div fxLayout="column">
            <div fxLayout="row" fxFlex="100" fxLayout.lt-md="column" fxLayout.md="column">
              <div fxLayout="row" fxFlex="75">
                <div fxFlex="34">

                  <div class="form-group">
                    <span class="spacing font-style-combo"> {{ 'LOCATION_NAME' | translate }} </span>
                    <ng-select [items]="locationCombo" bindLabel="locDisplayField" bindValue="locDisplayField"
                      (search)="loadLocationComboDataSearch($event)" (click)="loadLocationComboDataSearch($event)"
                      [virtualScroll]="true" appendTo="body" (scrollToEnd)="loadLocationComboDataSearch({})" (keyup.backspace)="loadLocationComboDataSearch($event.target.value ? $event : 'back')" (clear)="loadLocationComboDataSearch('clear')"
                      [loading]="scrollsyncLocation" loadingText="Loading..." (change)="selectedLocationData($event)"
                      [(ngModel)]="retirementDisposal.locationName" [ngModelOptions]="{standalone: true}"
                      class="example-full-width"></ng-select>
                  </div>

                  <div class="form-group pos-rel t-14-px" >
                    <mat-form-field class="example-full-width f-s-13-px"  [floatLabel]="'always'">
                      <mat-label class="example-label input-label"> {{ 'ASSET_RETIREMENT_NO' | translate }}
                      </mat-label>
                      <input matInput [(ngModel)]="retirementDisposal.retirementNo"
                        [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                  </div>

                  <div class="form-group">
                    <span class="input-label">{{ 'ASSET_CATEGORY' | translate }}</span>
                    <ng-select  [(ngModel)]="retirementDisposal.assetCategoryName"
                      [ngModelOptions]="{standalone: true}" (search)="listOfCategory($event)" appendTo="body"
                      (click)="listOfCategory({})" (change)="getCategoryComboValue($event)" [virtualScroll]="true"
                      (scrollToEnd)="listOfCategory({})" (keyup.backspace)="listOfCategory($event.target.value ? $event : 'back')" (clear)="listOfCategory('clear')" [loading]="scrollsyncAssetCategory" loadingText="Loading..."
                      [items]="assetCategoryName" bindLabel="assetCategoryName" bindValue="assetCategoryName" class="example-full-width">
                    </ng-select>
                  </div>
                 
                </div>

                <div fxFlex="33">

                  <div class="form-group">
                    <div class="example-full-width">
                      <span class="input-label">{{ 'ASSET_RETIREMENT_STATUS' | translate }}</span>
                      <ng-select [ngModelOptions]="{standalone: true}"
                      (search)="loadStatusComboData($event)" (click)="loadStatusComboData($event)"
                      [virtualScroll]="true" (scrollToEnd)="loadStatusComboData({})" (keyup.backspace)="loadStatusComboData($event.target.value ? $event : 'back')" (clear)="loadStatusComboData('clear')" [loading]="scrollsyncRetireStatus"
                      loadingText="Loading..." (change)="selectedRetirementStatusData($event)" appendTo="body"
                      class="input-field" [(ngModel)]="retirementDisposal.retirementStatus">
                      <ng-option *ngFor="let retirementStatus of assetRetireStatusStatusCombo" [value]="retirementStatus">
                        {{ retirementStatus.processStatusName | translate }}
                      </ng-option>
                    </ng-select>
                    </div>
                  </div>

                  <div class="form-group pos-rel t-8-px">
                    <div class="example-full-width">
                      <span class="input-label"> {{ 'ASSET_REQUESTED_BY' | translate }} </span>
                      <ng-select [items]="serviceEngineerCombo" bindLabel="employeeFirstName"
                        bindValue="employeeFirstName" (search)="loadServiceEngineerData($event)"
                        (click)="loadServiceEngineerData($event)" [virtualScroll]="true"
                        (scrollToEnd)="loadServiceEngineerData({})" (keyup.backspace)="loadServiceEngineerData($event.target.value ? $event : 'back')" (clear)="loadServiceEngineerData('clear')" [loading]="scrollServiceEngineersync"
                        loadingText="Loading..." appendTo="body" [(ngModel)]="retirementDisposal.requestedBy"
                        [ngModelOptions]="{standalone: true}">
                      </ng-select>
                    </div>
                  </div>

                  <div class="form-group" style="margin-top: 15px;">
                     <span class="input-label"> {{ 'ASSET_REQUEST_REASON' | translate }} </span>
                     <ng-select [items]="modeofDisposalCombo" required bindLabel="retirementReasonName"
                         bindValue="retirementReasonName" (search)="loadRequestReasonComboData($event)"
                         (click)="loadRequestReasonComboData($event)" [virtualScroll]="true" (change)="getRequestReason($event)"
                         (scrollToEnd)="loadRequestReasonComboData({})" (keyup.backspace)="loadRequestReasonComboData($event.target.value ? $event : 'back')" (clear)="loadRequestReasonComboData('clear')" [loading]="scrollsyncMode"
                         loadingText="Loading..." 
                         class="example-full-width" [(ngModel)]="retirementDisposal.requestReason">
                     </ng-select>
                 </div>


                </div>

                <div fxFlex="33">

                  <div class="form-group">
                    <div class="example-full-width">
                      <span class="input-label"> {{ 'ASSET_CODE' | translate }}</span>
                      <ng-select [items]="assetCodeCombo" bindLabel="assetCode" bindValue="assetCode"
                        (search)="loadAssetCodeComboData($event)" (click)="loadAssetCodeComboData($event)"
                        [virtualScroll]="true" (scrollToEnd)="loadAssetCodeComboData({})" (keyup.backspace)="loadAssetCodeComboData($event.target.value ? $event : 'back')" (clear)="loadAssetCodeComboData('clear')"
                        [loading]="scrollsyncAssetCode" loadingText="Loading..."
                        (change)="selectedAssetCodeData($event)" appendTo="body"
                        [(ngModel)]="retirementDisposal.assetCode" [ngModelOptions]="{standalone: true}">
                      </ng-select>
                    </div>
                  </div>

                  <div class="form-group pos-rel t-8-px">
                    <div class="example-full-width">
                      <span class="input-label"> {{ 'ASSET_GROUP' | translate }} </span>
                      <ng-select  [(ngModel)]="asset.assetGroupName"
                        [ngModelOptions]="{standalone: true}" (click)="listOfAllAssetGroup({})" [virtualScroll]="true"
                        (search)="listOfAllAssetGroup($event)" appendTo="body" (scrollToEnd)="listOfAllAssetGroup({})" (keyup.backspace)="listOfAllAssetGroup($event.target.value ? $event : 'back')" (clear)="listOfAllAssetGroup('clear')"
                        (change)="getAssetGroupComboValue($event)" [items]="assetGroup" bindLabel="assetGroupName"
                        bindValue="assetGroupName" [loading]="scrollsyncAssetGroup" loadingText="Loading...">
                      </ng-select>
                    </div>
                  </div>

                </div>
              </div>
              <div fxLayout="row" fxFlex="25">
                <div fxFlex="100" fxLayout="column" fxLayout.lt-md="row" fxLayout.md="row">

                  <div class="form-group pos-rel t-9-px" fxFlex.lt-md="34" fxFlex.md="34" >
                    <mat-form-field class="example-full-width" style="font-size: 13px;" [floatLabel]="'always'">
                      <mat-label class="example-label input-label">{{ 'FROM_DATE_DISP' | translate}}</mat-label>
                      <input matInput (click)="startDt.open()" [matDatepicker]="startDt"
                        [(ngModel)]="retirementDisposal.startDtDisp" [ngModelOptions]="{standalone: true}" (dateChange)="getFromDate($event)">
                      <mat-datepicker-toggle matSuffix [for]="startDt"></mat-datepicker-toggle>
                      <mat-datepicker #startDt></mat-datepicker>
                    </mat-form-field>
                  </div>

                  <div class="form-group pos-rel t-5-px" fxFlex.lt-md="33" fxFlex.md="33" >
                    <mat-form-field class="example-full-width" style="font-size: 13px;" [floatLabel]="'always'">
                      <mat-label class="example-label input-label">{{ 'TO_DATE_DISP' | translate}}</mat-label>
                      <input matInput (click)="endDt.open()" [matDatepicker]="endDt"
                        [(ngModel)]="retirementDisposal.endDtDisp" [ngModelOptions]="{standalone: true}" (dateChange)="getToDate($event)">
                      <mat-datepicker-toggle matSuffix [for]="endDt"></mat-datepicker-toggle>
                      <mat-datepicker #endDt></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <div fxLayout="row" fxFlex="100" fxLayoutAlign="end end" style="margin-right: 30px;">
              <div fxHide.lt-md>
                <button mat-raised-button class="space-button-left" color="primary"
                  tabindex="9" (click)="searchAsset()">{{'COMMON_SEARCH' | translate}}</button>
                <button mat-raised-button class="space" color="primary" tabindex="10"
                  (click)="clear()">{{'COMMON_CLEAR' | translate}}</button>
                <button mat-raised-button class="space" color="primary" tabindex="11"
                  (click)="generateAssetRetireDisposalReportExport()">{{'REPORT_EXPORT' | translate}}</button>
              </div>
              <div fxHide.gt-md fxHide.md>
                <button mat-raised-button class="space-button-left" color="primary"
                  matTooltip="{{'COMMON_SEARCH' | translate}}" [matTooltipPosition]="'below'" tabindex="9"
                  (click)="searchAsset()">
                  <mat-icon>search</mat-icon>
                </button>
                <button mat-raised-button class="space" color="primary" matTooltip="{{'COMMON_CLEAR' | translate}}"
                  [matTooltipPosition]="'below'" tabindex="10" (click)="clear()">
                  <mat-icon>clear_all</mat-icon>
                </button>
                <button mat-raised-button class="space" color="primary" matTooltip="{{'REPORT_EXPORT' | translate}}"
                  [matTooltipPosition]="'below'" tabindex="11" (click)="generateAssetRetireDisposalReportExport()">
                  <mat-icon>file_download</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <hr>

    <mat-toolbar>
      <span class="example-spacer"></span>
      <mat-paginator class="asset-list-paginator" #paginatorUsers [pageSizeOptions]="[5, 10, 25, 50, 100]" [length]="length" [pageIndex]="pageIndex"
      [pageSize]="pageSize" (page)="getServerData($event)"></mat-paginator>
        <span class="example-spacer"></span>

        <button mat-raised-button class="space sqr-btn" color="primary" matTooltip="{{'COMMON_MANAGE_COLUMNS' | translate}}" [matTooltipPosition]="'below'" (click)="editManageColumns()">
          <mat-icon>view_week</mat-icon>
        </button>
  
        <div class="custom-dialog" *ngIf="showManageColumns">
          <div>
            <span>{{'COMMON_MANAGE_COLUMNS' | translate}}</span>
          </div>
          <hr>
          <div class="custom-dialog-body" *ngIf="showManageColumns">
            <div id="column1">        
              <input type="checkbox" [checked]="displayedColumns.includes('locationName')"(change)="toggleColumn('locationName')">
              <span>{{'LOCATION_NAME' | translate}}</span>
              <br>
              
              <input type="checkbox" [checked]="displayedColumns.includes('retirementNo')"(change)="toggleColumn('retirementNo')">
              <span>{{'SR_NO' | translate}}/{{'ASSET_RETIREMENT_NO_BY' | translate}}</span>
              <br>
              
              <input type="checkbox" [checked]="displayedColumns.includes('requestedBy')" (change)="toggleColumn('requestedBy')">
              <span>{{'ASSET_REQUESTED_BY' | translate}}/{{ 'ASSET_REQUESTED_DT' | translate }}</span>
              <br>
              
              <input type="checkbox" [checked]="displayedColumns.includes('assetCode')" (change)="toggleColumn('assetCode')">
              <span>{{'ASSET_SERIAL_NO' | translate}}</span>
              <br>
            </div>
      
            <div id="column2">
              <input type="checkbox" (change)="toggleColumn('model')" [checked]="displayedColumns.includes('model')">
              <span>{{'MODEL_NAME' | translate}} / {{'MANUFACTURER' | translate}}</span> <br>
      
              <input type="checkbox" (change)="toggleColumn('group')" [checked]="displayedColumns.includes('group')">
              <span>{{'ASSET_GROUP' | translate}}</span> <br>
      
              <input type="checkbox" (change)="toggleColumn('departmentName')" [checked]="displayedColumns.includes('departmentName')">
              <span>{{'DEPARTMENT_NAME' | translate}} / {{'SUB_DEPARTMENT_NAME' | translate}}</span> <br>
      
              <input type="checkbox" (change)="toggleColumn('retirementStatus')" [checked]="displayedColumns.includes('retirementStatus')">
              <span>{{'ASSET_RETIREMENT_STATUS' | translate}}</span> <br>
            </div>
      
            <div id="column3">
              <input type="checkbox" (change)="toggleColumn('approvalStatus')" [checked]="displayedColumns.includes('approvalStatus')">
              <span>{{'APPROVAL_STATUS' | translate}}</span><br>
  
              <input type="checkbox" (change)="toggleColumn('requestReason')" [checked]="displayedColumns.includes('requestReason')">
              <span>{{'ASSET_REQUEST_REASON' | translate}}</span><br>

              <input type="checkbox" (change)="toggleColumn('updatedDt')" [checked]="displayedColumns.includes('updatedDt')">
              <span>{{'COMMON_UPDATED_DT' | translate}}</span>
            </div>
          </div>
      
          <hr>
          
          <div fxLayoutAlign="end end">
            <button type="button" class="custom-button space" (click)="applyPreferredColumns()">
              {{'COMMON_OK' | translate}}
            </button>
            <button type="button" class="custom-button" (click)="resetPreferredColumns()">
              {{'COMMON_RESET' | translate}}
            </button>
          </div>
          
        </div>

      <button mat-raised-button class="space sqr-btn" color="primary"
        matTooltip="{{ 'COMMON_CREATE' | translate }}" [matTooltipPosition]="'below'"
        *ngIf="modelAccessModule.createFlagDisplay"
        (click)="createAssetRetirement('add')"><mat-icon>add</mat-icon>
      </button>
      <button [disabled]="enableActionBtn || checkRetirementStatus()" color="primary" mat-raised-button class="space sqr-btn" *ngIf="modelAccessModule.updateFlagDisplay"
        matTooltip="{{ 'COMMON_EDIT' | translate }}" (click)="createAssetRetirement('edit')">
        <mat-icon>edit</mat-icon>
      </button>
        <button [disabled]="enableActionBtn" color="primary" mat-raised-button class="space sqr-btn" *ngIf="modelAccessModule.readFlagDisplay"
        matTooltip="{{ 'COMMON_VIEW' | translate }}" (click)="createAssetRetirement('view')">
        <mat-icon>visibility</mat-icon>
      </button>

      <button [disabled]="enableActionBtn" color="primary" mat-raised-button class="space sqr-btn"
        matTooltip="{{ 'COMMON_EXPORT' | translate }}" (click)="generateReportForAsset()">
        <mat-icon>file_download</mat-icon>
      </button>

      <button [disabled]="enableActionBtn" color="primary" mat-raised-button class="space sqr-btn"
        matTooltip="{{ 'COMMON_PDF' | translate }}" (click)="generateDisposalPDF(selectedItem)">
        <mat-icon>picture_as_pdf</mat-icon>
      </button>

      <button
       [disabled]="checkApprovalValid()" color="primary" mat-raised-button class="space sqr-btn"
        matTooltip="{{ 'COMMON_APPROVE' | translate }}" (click)="retirementWorkflowApproval(true)">
        <mat-icon>spellcheck</mat-icon>
      </button>

      <button [disabled]="checkApprovalValid()" color="primary" mat-raised-button class="space sqr-btn"
      matTooltip="{{ 'COMMON_REJECT' | translate }}" (click)="retirementWorkflowApproval(false)">
      <mat-icon>cancel</mat-icon>
      </button>

    </mat-toolbar>

        <div class="example-container">

          <table mat-table class="asset-retirement-list" [dataSource]="dataSourceAssetRetirement" matSort (matSortChange)="customSort($event)"
            matSortActive="name" matSortDirection="asc" matSortDisableClear>

            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef class="table-head-data"><mat-checkbox color="primary" [checked]="selectedAllAssest" class="example-margin" (change)="selectAllAssets($event)">
              </mat-checkbox>  </th>
              <td mat-cell *matCellDef="let element;let i = index;">
                <mat-checkbox color="primary" class="example-margin" (change)="selectAssets(element)" [checked]="compareValue(element)">
                </mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="sNo" >
              <th mat-header-cell *matHeaderCellDef style="width: 5%;"> {{'COMMON_S_NO' | translate }} </th>
              <td mat-cell *matCellDef="let element; let i=index;"> {{getIndexValue(i+1)}} </td>
            </ng-container>

            <ng-container matColumnDef="locationName">
              <th mat-header-cell *matHeaderCellDef> {{ 'LOCATION_NAME' | translate }} </th>
              <td mat-cell *matCellDef="let element; let i=index;" (click)="selectAssets(element)"> {{element?.locationName}}
              </td>
            </ng-container>
            <ng-container matColumnDef="retirementNo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%;"> {{ 'ASSET_RETIREMENT_NO_BY'
                | translate }}</th>
              <td mat-cell *matCellDef="let element" (click)="selectAssets(element)"> {{element.retirementNo}}
            </ng-container>

            <ng-container matColumnDef="requestedBy">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ 'ASSET_REQUESTED_BY' | translate }} / {{ 'ASSET_REQUESTED_DT' | translate }}</th>
              <td mat-cell *matCellDef="let element" (click)="selectAssets(element)">
                {{element.requestedBy}} / <br /> {{element.createdDtDisp}} </td>
            </ng-container>

            <ng-container matColumnDef="assetCode">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{'ASSET_CODE' | translate}} / {{'ASSET_SERIAL_NO' | translate}} </th>
              <td mat-cell *matCellDef="let element" (click)="selectAssets(element)"> {{element.assetCode}} / <br /> {{element?.serialNo}}
            </ng-container>

            <ng-container matColumnDef="model">
              <th mat-header-cell *matHeaderCellDef>{{'MODEL_NAME' | translate}} / {{'MANUFACTURER' | translate}}
              </th>
              <td mat-cell *matCellDef="let element" (click)="selectAssets(element)">
                {{element?.modelName}} / <br /> {{element?.manufacturerName}}
              </td>
            </ng-container>

            <ng-container matColumnDef="group">
              <th mat-header-cell *matHeaderCellDef>{{'ASSET_GROUP' | translate}}
              </th>
              <td mat-cell *matCellDef="let element" (click)="selectAssets(element)">
               {{element?.assetGroupName}}
              </td>
            </ng-container>

            <ng-container matColumnDef="departmentName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-head-data">
                {{'DEPARTMENT_NAME' | translate}} / {{'SUB_DEPARTMENT_NAME' | translate}} </th>
              <td mat-cell (click)="selectAssets(element)" *matCellDef="let element" class="table-cell-data">
                {{ element?.departmentName }} / <br /> {{ element?.subDepartment }}
              </td>
            </ng-container>

            <ng-container matColumnDef="assetStatusCondition">
              <th mat-header-cell *matHeaderCellDef> {{
                'ASSET_STATUS_CONDITION' | translate }} </th>
              <td mat-cell *matCellDef="let element" (click)="selectAssets(element)">
                <span>{{ element?.assetStatusName | translate}} / {{ element?.assetCondition | translate}}</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="approvalStatus">
              <th mat-header-cell *matHeaderCellDef> {{
                'ASSET_RETIREMENT_APPROVAL' | translate }} </th>
              <td mat-cell *matCellDef="let element" (click)="selectAssets(element)">
                <span class="{{element?.approvalStatusRetirement.replace(' ','')}}">
                  {{ element?.approvalStatusRetirement }}</span>
                  <br>
                  <mat-icon *ngIf="element?.approvalStatusRetirement.includes('REJECTED')" color="primary" (click)="viewRejectReason(element.rejectReason)" style="cursor: pointer;">info</mat-icon>
              </td>
            </ng-container>

            <ng-container matColumnDef="requestReason">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'ASSET_REQUEST_REASON' |
                translate }} </th>
              <td mat-cell *matCellDef="let element" (click)="selectAssets(element)"> {{element.requestReason}} </td>
            </ng-container>

            <ng-container matColumnDef="updatedDt">
              <th mat-header-cell *matHeaderCellDef mat-sort-header > {{'COMMON_UPDATED_BY_DATE' | translate}}
              </th>
              <td mat-cell *matCellDef="let element" (click)="selectAssets(element)" style="text-align: left">
                {{element?.updatedBy}} <br>
            {{element?.updatedDtDisp.split(" ")[0]}} <br />
            {{element?.updatedDtDisp.split(" ")[1]}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns;">
            </tr>
          </table>
          <mat-card class="no_records_found" *ngIf="length=='0' && !subloader" fxLayoutAlign="center center">
            {{'COMMON_NO_RECORDS_FOUND' | translate}}
          </mat-card>
          <mat-card class="no_records_found" *ngIf="subloader" fxLayoutAlign="center center">
            <mat-spinner [diameter]="40"></mat-spinner>
          </mat-card>

        </div>

      </div>
    </div>
  </div>

</div>
