<div fxLayout="column" fxFlexFill>
    <div class="content_section_background">
        <div fxLayout="column">
            <hr />
            <mat-toolbar>
                <span>{{'MENU_GRN'| translate}} List</span>
                <span class="example-spacer"></span>

                <mat-paginator #paginatorUsers [pageSizeOptions]="[5 ,10 , 25, 50, 100]" [length]="length"
                    [pageIndex]="pageIndex" [pageSize]="pageSize" (page)="getServerData($event)">
                </mat-paginator>
                <span class="example-spacer"></span>

                <button mat-raised-button class="space col-md-5" [disabled]="selectedItem == 0"  color="primary" (click)="addSelectedGRN()">
                    Add
                </button>

                <button mat-raised-button class="space col-md-5" color="primary" (click)="closeModal()">
                    Close
                </button>

            </mat-toolbar>

            <div class="example-container">

                <div fxLayout="row">
                    <table mat-table [dataSource]="grnDataSource" matSort (matSortChange)="customSort($event)"
                        matSortActive="name" matSortDirection="asc" matSortDisableClear>
                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef class="table-head-data"><mat-checkbox color="primary"
                                    [checked]="selectAllGRN" class="example-margin"
                                    (change)="selectAllGRNLists($event)">
                                </mat-checkbox> </th>
                            <td mat-cell *matCellDef="let element;let i = index;">
                                <mat-checkbox color="primary" class="example-margin" (change)="selectGRN(element)"
                                    [checked]="compareValue(element)">
                                </mat-checkbox>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="grnNo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:15%;"> {{'GRN_NO' |
                                translate}} </th>
                            <td mat-cell *matCellDef="let element" style="width:15%;" (click)="selectGRN(element)">
                                {{element.grnNo}} </td>
                        </ng-container>
                        <ng-container matColumnDef="createdDtDisp">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:15%;"> {{'GRN_DATE' |
                                translate}} </th>
                            <td mat-cell *matCellDef="let element" style="width:15%;" (click)="selectGRN(element)">
                                {{element.grnDateDisp}}</td>
                        </ng-container>
                        <ng-container matColumnDef="supplierName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:20%;"> {{'SUPPLIER_NAME'
                                | translate}} </th>
                            <td mat-cell *matCellDef="let element" style="width:20%; text-overflow: ellipsis;"
                                (click)="selectGRN(element)">
                                {{element.supplierName}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="supplierSiteName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:20%;">
                                {{'SUPPLIER_SITE_NAME' | translate}} </th>
                            <td mat-cell *matCellDef="let element" style="width:20%; text-overflow: ellipsis;"
                                (click)="selectGRN(element)">
                                {{element.supplierSiteName}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="doNo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:15%;"> {{'GRN_RECEIPT_NO'
                                | translate}} </th>
                            <td mat-cell *matCellDef="let element" style="width:15%;" (click)="selectGRN(element)">
                                {{element.doNo}} </td>
                        </ng-container>
                        <ng-container matColumnDef="createdBy">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:20%;">
                                {{'COMMON_CREATED_BY' | translate}} </th>
                            <td mat-cell *matCellDef="let element" style="width:20%;" (click)="selectGRN(element)">
                                {{element.createdBy}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                        <tr mat-row *matRowDef="let element; columns: displayedColumns;">
                        </tr>
                    </table>

                </div>

                <div fxLayout="row">
                    <mat-card class="no_records_found" *ngIf="length=='0'  && !subLoaderGrn">{{'COMMON_NO_RECORDS_FOUND'
                        | translate}}</mat-card>
                    <mat-card class="no_records_found" *ngIf="subLoaderGrn" fxLayoutAlign="center center">
                        <mat-spinner [diameter]="40"></mat-spinner>
                    </mat-card>
                </div>

            </div>

        </div>
    </div>

</div>