<div fxLayout="column" fxFlexFill>

<div fxLayout="row">
    <div fxFlex="90">
        <h6 class="dialogue-box-header">{{ 'PRINTER' | translate}}</h6>
    </div>
    <div fxFlex="10" fxLayoutAlign="end start">
        <mat-icon class="close-icon" (click)="exit()">highlight_off</mat-icon>
    </div>
</div>

<form [formGroup]="printerSubCategoryFormGroup">
<div fxLayout="column">
    <div fxLayout="row" fxFlex="100">

        <div fxFlex="35">

            <div>
                <span class="input-label">{{'PRINTER_MODEL' | translate}}<span
                        class="mandatory-style">*</span></span>
                <ng-select class=" example-full-width" required formControlName="printerModel"
                    (search)="listOfPrinterModel($event)" (click)="listOfPrinterModel({})"
                    (change)="setPrinterModel($event)" [items]="printerModelCombo" [virtualScroll]="true"
                    (scrollToEnd)="listOfPrinterModel({})" (keyup.backspace)="listOfPrinterModel($event.target.value ? $event : 'back')" (clear)="listOfPrinterModel('clear')" [loading]="scrollPrinterModelSync" bindLabel="printerModel"
                    bindValue="printerModel" tabindex="1" style="outline: none;">
                </ng-select>
                <mat-error
                    *ngIf="printerSubCategoryFormGroup.controls.printerModel.invalid && printerSubCategoryFormGroup.controls.printerModel.touched">
                    <div class="err-field"
                        *ngIf="printerSubCategoryFormGroup.controls.printerModel.errors.required">
                        Kindly Select The "{{'PRINTER_MODEL' | translate}}"</div>
                </mat-error>
            </div>

            <div style="margin-top: 22px;">
                <mat-form-field class="example-full-width" [floatLabel]="'always'" hintLabel="Max 2 Digits">
                    <mat-label class="input-label">{{ 'PRINTER_NO_OF_LABELS' | translate }} </mat-label>
                    <input matInput required formControlName="noOfLabels" [maxlength]="2" (input)="zeroValidation()"  
                        oninput="this.value = this.value.toUpperCase()" tabindex="2">
                    <mat-hint align="end">{{printerSubCategoryFormGroup.controls.noOfLabels.value?.length || 0}}/2
                    </mat-hint>
                    <mat-error
                        *ngIf="printerSubCategoryFormGroup.controls.noOfLabels.invalid && printerSubCategoryFormGroup.controls.noOfLabels.touched">
                        <div class="err-field" *ngIf="printerSubCategoryFormGroup.controls.noOfLabels.errors.required">
                            "{{ 'PRINTER_NO_OF_LABELS' | translate }}" Required	</div>
                        <div class="err-field" *ngIf="printerSubCategoryFormGroup.controls.noOfLabels.errors.pattern">
                            {{'PRINTER_NO_OF_LABELS' | translate }} should be in digits </div>
                        <div class="err-field" *ngIf="printerSubCategoryFormGroup.controls.noOfLabels.errors.maxlength">
                            {{ 'PRINTER_NO_OF_LABELS' | translate }} Maximum Length is 2 </div>
                    </mat-error>
                </mat-form-field>
            </div>

        </div>

        <div fxFlex="35">

            <div>
                <span class="input-label">{{ 'PRINTER_LABEL_SIZE' | translate }}<span
                        class="mandatory-style">*</span></span>
                <ng-select  formControlName="labelSize" (search)="listOfPrinterLabelSize($event)"
                    [virtualScroll]="true" (click)="listOfPrinterLabelSize({})"
                    (scrollToEnd)="listOfPrinterLabelSize({})" (keyup.backspace)="listOfPrinterLabelSize($event.target.value ? $event : 'back')" (clear)="listOfPrinterLabelSize('clear')" [loading]="scrollPrinterLabelSizeSync"
                    loadingText="Loading..." (change)="setPrinterLabelSize($event)" [items]="printerLabelSizeCombo"
                    bindLabel="labelSize" bindValue="labelSize" required tabindex="2" style="outline: none;">
                </ng-select>
                <mat-error
                    *ngIf="printerSubCategoryFormGroup.controls.labelSize.invalid && printerSubCategoryFormGroup.controls.labelSize.touched">
                    <div class="err-field"
                        *ngIf="printerSubCategoryFormGroup.controls.labelSize.errors.required">
                        Kindly Select The "{{ 'PRINTER_LABEL_SIZE' | translate }}" </div>
                </mat-error>
            </div>


            <div>
                <span class="input-label">{{ 'PRINTER_TEMPLATE' | translate }}<span
                        class="mandatory-style">*</span></span>
                <ng-select  formControlName="templateName"
                    (search)="listOfPrinterTemplate($event)" [virtualScroll]="true" (click)="listOfPrinterTemplate({})"
                    (scrollToEnd)="listOfPrinterTemplate({})" (keyup.backspace)="listOfPrinterTemplate($event.target.value ? $event : 'back')" (clear)="listOfPrinterTemplate('clear')" [loading]="scrollPrinterTemplateSync"
                    loadingText="Loading..." (change)="setPrinterTemplate($event)" [items]="printerTemplateCombo"
                    bindLabel="templateName" bindValue="templateName" required>
                </ng-select>
                <mat-error
                    *ngIf="printerSubCategoryFormGroup.controls.templateName.invalid && printerSubCategoryFormGroup.controls.templateName.touched">
                    <div class="err-field"
                        *ngIf="printerSubCategoryFormGroup.controls.templateName.errors.required">
                        Kindly Select The "{{ 'PRINTER_TEMPLATE' | translate }}" </div>
                </mat-error>
            </div>
        </div>

        <div fxFlex="30" fxLayoutAlign="end end" style="margin-bottom: 16px;">
            <button mat-raised-button class="space" color="primary" matTooltip="{{'COMMON_SUBMIT' | translate}}"
                [matTooltipPosition]="'below'" (click)="saveUpdate()" [disabled]="printerSubCategoryFormGroup.invalid">
                {{'COMMON_SUBMIT' | translate}}</button>
            <button mat-raised-button class="space" color="primary" matTooltip="{{'COMMON_CLEAR' | translate}}"
                [matTooltipPosition]="'below'" (click)="clear()">{{'COMMON_CLEAR' | translate}}</button>
        </div>

    </div>

    <hr>


    <div>
        <table mat-table [dataSource]="printerSubCategoryDataSource">

            <ng-container matColumnDef="sNo">
                <th mat-header-cell *matHeaderCellDef>{{ 'COMMON_S_NO' | translate }}</th>
                <td mat-cell *matCellDef="let element;let i = index;"> {{i+1}} </td>
            </ng-container>
            <ng-container matColumnDef="printerModel">
                <th mat-header-cell *matHeaderCellDef> {{ 'PRINTER_MODEL' | translate }}</th>
                <td mat-cell *matCellDef="let element"> {{element.printerModel}} </td>
            </ng-container>
            <ng-container matColumnDef="labelSize">
                <th mat-header-cell *matHeaderCellDef> {{ 'PRINTER_LABEL_SIZE' | translate }}</th>
                <td mat-cell *matCellDef="let element"> {{element.labelSize}} </td>
            </ng-container>
            <ng-container matColumnDef="templateName">
                <th mat-header-cell *matHeaderCellDef> {{ 'PRINTER_TEMPLATE_NAME' | translate }}</th>
                <td mat-cell *matCellDef="let element"> {{element.templateName}} </td>
            </ng-container>
            <ng-container matColumnDef="noOfLabels">
                <th mat-header-cell *matHeaderCellDef> {{ 'PRINTER_NO_OF_LABELS' | translate }}</th>
                <td mat-cell *matCellDef="let element"> {{element.noOfLabels}} </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> {{ 'COMMON_ACTION' | translate }} </th>
                <td mat-cell *matCellDef="let element">
                  <mat-icon class="action_icon" style="color: red;cursor: pointer;font-size: 17px !important;text-align:center;"
                  matTooltip="{{'COMMON_DELETE' | translate}}"  
                  (click)="deleteMappedTemplate(element.printerSubCategoryMappingId)">delete</mat-icon> 
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;let i = index"></tr>
        </table>

        <mat-card class="no_records_found" *ngIf="length==0 && !subloader" fxLayoutAlign="center center">{{'COMMON_NO_RECORDS_FOUND' | translate}}
        </mat-card>
        <mat-card class="no_records_found" *ngIf="subloader" fxLayoutAlign="center center">
            <mat-spinner [diameter]="40"></mat-spinner>
        </mat-card>
    </div>
</div>
</form>
</div>