<div fxLayout="column" fxFlexFill>

    <div fxLayout="row" fxLayoutAlign="start center">
        <div fxLayoutAlign="start center" fxFlex="60">
            <mat-toolbar-row style="position: sticky !important;" aria-label="breadcrumb">
                <mat-list fxLayoutAlign="start center">
                    <mat-list-item fxLayoutAlign="start center">
                        <a href="#" [routerLink]="['/home/dashboard']">
                            <mat-icon>home</mat-icon>
                        </a>
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </mat-list-item>
                    <mat-list-item fxLayoutAlign="start center" class="bread-crumb-content">{{'MENU_ASSET'| translate}}
                        <mat-icon>keyboard_arrow_right</mat-icon>
                      </mat-list-item>
                      <mat-list-item class="bread-crumb-content">{{'MENU_MASTER'| translate}}
                        <mat-icon>keyboard_arrow_right</mat-icon>
                      </mat-list-item>
                    <mat-list-item><a (click)="backToPreviousPage()" style="cursor: pointer;">{{'BATCH_ASSET_SUB_MENU' |
                            translate}}</a>
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </mat-list-item>
                    <mat-list-item class="active" aria-current="page">{{headingDisplay}}</mat-list-item>
                </mat-list>
            </mat-toolbar-row>
        </div>

        <div fxLayoutAlign="end start" fxFlex="40">
            <div fxFlex="100" fxLayoutAlign="end start">
                <div fxflex="30">
                    <button mat-raised-button color="primary" class="space" (click)="exit()">{{ 'COMMON_BACK' |
                        translate }}</button>
                </div>
                <div fxflex="30">
                    <button *ngIf="!modeDisplay" mat-raised-button color="primary" class="space" (click)="clear()"
                        [disabled]="disableClear" tabindex="50">{{ 'COMMON_CLEAR' | translate }}</button>
                </div>
                <div fxflex="30">
                    <button *ngIf="!hideButtonInViewMode" mat-raised-button class="space" color="primary"
                        (click)="save()" [disabled]="batchHdrFormGroup.invalid || uploadAssetFlag " tabindex="54">
                        <span *ngIf="!uploadAssetFlag">{{buttonDisplay}}</span>
                        <span *ngIf="uploadAssetFlag">{{'COMMON_LOADING' | translate}}</span>
                    </button>

                </div>
            </div>
        </div>
    </div>

    <div fxLayout="column">
        <div fxLayout="row" fxFlex="100">
            <form [formGroup]="batchHdrFormGroup" style="width: 100%;">

                <div fxLayout="row">
                    <mat-card style="width: 100%;">
                        <mat-card-content>
                            <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center" style=" width: 100%;">
                                <div fxFlex="30">
                                    <div>
                                        <mat-form-field [floatLabel]="'always'" class="example-full-width"
                                            hintLabel="{{ CommonhintMsg.MAX_100 }}">
                                            <mat-label class="input-label"> {{'BATCH_ASSET_BATCH_NAME' | translate}}
                                                <span class="mandatory-style"> *</span>
                                            </mat-label>
                                            <input id="batch-name-field" #batchName matInput formControlName="batchName"
                                                oninput="this.value = this.value.toUpperCase()" [maxlength]="100">
                                            <mat-hint align="end">{{batchHdrFormGroup.controls.batchName.value?.length
                                                || 0}}/100</mat-hint>
                                            <mat-error
                                                *ngIf="batchHdrFormGroup.controls.batchName.invalid && batchHdrFormGroup.controls.batchName.touched">
                                                <div class="err-field"
                                                    *ngIf="batchHdrFormGroup.controls.batchName.errors.required">
                                                    "{{'BATCH_ASSET_BATCH_NAME' | translate}}" Is Required </div>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div fxFlex="30">
                                    <div>
                                        <mat-form-field [floatLabel]="'always'" class="example-full-width"
                                            hintLabel="{{ CommonhintMsg.MAX_100 }}">
                                            <mat-label class="example-label input-label"> {{'BATCH_ASSET_REMARKS' |
                                                translate}}
                                            </mat-label>
                                            <input id="batch-name-field" matInput formControlName="remarks"
                                                oninput="this.value = this.value.toUpperCase()" [maxLength]="100">
                                            <mat-hint align="end">{{batchHdrFormGroup.controls.remarks.value?.length ||
                                                0}}/100</mat-hint>
                                            <mat-error
                                                *ngIf="batchHdrFormGroup.controls.remarks.invalid && batchHdrFormGroup.controls.remarks.touched">
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div fxFlex="20">
                                    <div style="padding: 25px;">
                                        <mat-checkbox color="primary" formControlName="active">
                                            {{'COMMON_ACTIVE' | translate}}
                                        </mat-checkbox>
                                    </div>
                                </div>
                                <div fxFlex="20"></div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>

                <div fxLayout="column">

                    <mat-tab-group>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                {{'MENU_ASSET' | translate }}
                            </ng-template>
                            <mat-card>
                                <mat-card-content>
                                    <div class="content-style">
                                        <!-- <div fxLayout="column">
                                            <div class="rightbutton" *ngIf="!hideButtonInViewMode">
                                                <button mat-raised-button color="primary" (click)="addAssetToBatch()"
                                                    [disabled]="batchHdrFormGroup.invalid"
                                                    matTooltip="{{ 'BATCH_ASSET_ADD' | translate }}">
                                                    {{'COMMON_ADD' | translate }}
                                                </button>
                                            </div>
                                        </div> -->

                                        <div fxLayout="column">
                                            <mat-expansion-panel hideToggle>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title class="panel-header">
                                                        {{'COMMON_SEARCH'| translate}} {{'MENU_ASSET'| translate}}
                                                    </mat-panel-title>
                                                    <mat-panel-description fxLayoutAlign="end end">
                                                        <mat-icon>search</mat-icon>
                                                      </mat-panel-description>
                                                </mat-expansion-panel-header>


                                                <div fxFlex="100" fxLayout="row" fxLayout.lt-md="column"
                                                    fxFlex.lt-md="100">
                                                    <div fxFlex="75" fxLayout="row" fxLayout.lt-md="row"
                                                        fxFlex.lt-md="100">
                                                        <div fxFlex="34">

                                                            <div class="hight-60px">
                                                                <span class="input-label"> {{ 'LOCATION_NAME' |
                                                                    translate }} </span>
                                                                <ng-select [items]="locationCombo"
                                                                    bindLabel="locDisplayField"
                                                                    bindValue="locDisplayField"
                                                                    (search)="loadLocationComboData($event)"
                                                                    (click)="loadLocationComboData({})"
                                                                    appendTo="body" [virtualScroll]="true"
                                                                    (scrollToEnd)="loadLocationComboData({})" (keyup.backspace)="loadLocationComboData($event.target.value ? $event : 'back')" (clear)="loadLocationComboData('clear')"
                                                                    [loading]="scrollsyncLocation"
                                                                    loadingText="Loading..."
                                                                    (change)="selectedLocationData($event)"
                                                                    [(ngModel)]="batchDtlModel.locationName"
                                                                    [ngModelOptions]="{standalone: true}"
                                                                    class="example-full-width input-field">
                                                                </ng-select>
                                                            </div>

                                                            <div class="hight-60px">
                                                                <span>{{'MANUFACTURER' |
                                                                    translate}}</span>
                                                                <ng-select
                                                                    class=" example-full-width input-field"
                                                                    [(ngModel)]="batchDtlModel.manufacturerName"
                                                                    [ngModelOptions]="{standalone: true}"
                                                                    (search)="listOfManufacturer($event)"
                                                                    (click)="listOfManufacturer({})"
                                                                    (scrollToEnd)="listOfManufacturer({})" (keyup.backspace)="listOfManufacturer($event.target.value ? $event : 'back')" (clear)="listOfManufacturer('clear')"
                                                                    [virtualScroll]="true" appendTo="body"
                                                                    (change)="getManfacturerComboValue($event)"
                                                                    [items]="manufactuer" bindLabel="manufacturerName"
                                                                    bindValue="manufacturerName"
                                                                    [loading]="scrollsyncmanufacturerName"
                                                                    loadingText="Loading...">
                                                                </ng-select>
                                                            </div>

                                                            <div class="hight-60px">
                                                                <span class="input-label"> {{ 'SUPPLIER_NAME' |
                                                                    translate }} </span>
                                                                <ng-select
                                                                    class=" example-full-width input-field"
                                                                    [(ngModel)]="batchDtlModel.supplierName"
                                                                    [ngModelOptions]="{standalone: true}"
                                                                    (search)="listOfSupplier($event)"
                                                                    (click)="listOfSupplier({})" [virtualScroll]="true"
                                                                    (scrollToEnd)="listOfSupplier({})" (keyup.backspace)="listOfSupplier($event.target.value ? $event : 'back')"  (clear)="listOfSupplier('clear')"
                                                                    [loading]="scrollSupplierNamesync" appendTo="body"
                                                                    loadingText="Loading..."
                                                                    (change)="fetchIdOfSupplier($event)"
                                                                    [items]="supplierList" bindLabel="supplierName"
                                                                    bindValue="supplierName">
                                                                </ng-select>
                                                            </div>

                                                        </div>

                                                        <div fxFlex="33"> 

                                                            <div class="hight-60px">
                                                                <span class="input-label"> {{ 'ASSET_STATUS' |
                                                                    translate }} </span> 
                                                                    <ng-select (search)="loadAssetStatusComboData($event)" (click)="loadAssetStatusComboData({})" 
                                                                    class="example-full-width" [virtualScroll]="true" (scrollToEnd)="loadAssetStatusComboData({})" (keyup.backspace)="loadAssetStatusComboData($event.target.value ? $event : 'back')"  (clear)="loadAssetStatusComboData('clear')"
                                                                        [loading]="scrollsyncAssetStatus" loadingText="Loading..."
                                                                        (change)="selectedAssetStatusList($event)" tabindex="11"
                                                                        [ngModel]="batchDtlModel.assetStatus  | translate" appendTo="body" 
                                                                          [ngModelOptions]="{standalone: true}">
                                                                        <ng-option *ngFor="let assetStatus of assetStatusCombo" [value]="assetStatus">
                                                                          {{ assetStatus.assetStatusName | translate}}
                                                                        </ng-option>
                                                                    </ng-select> 
                                                            </div>

                                                            <div class="hight-60px">
                                                                <span class="input-label"> {{ 'ASSET_GROUP' |
                                                                    translate }} </span>
                                                                <ng-select
                                                                    class=" example-full-width input-field"
                                                                    [(ngModel)]="batchDtlModel.assetGroupName"
                                                                    [ngModelOptions]="{standalone: true}"
                                                                    (click)="listOfAllAssetGroup({})"
                                                                    [virtualScroll]="true"
                                                                    (search)="listOfAllAssetGroup($event)"
                                                                    appendTo="body"
                                                                    (scrollToEnd)="listOfAllAssetGroup({})" (keyup.backspace)="listOfAllAssetGroup($event.target.value ? $event : 'back')" (clear)="listOfAllAssetGroup('clear')"
                                                                    (change)="getAssetGroupComboValue($event)"
                                                                    [items]="assetGroup" bindLabel="assetGroupName"
                                                                    bindValue="assetGroupName"
                                                                    [loading]="scrollsyncAssetGroup"
                                                                    loadingText="Loading...">
                                                                </ng-select>
                                                            </div>

                                                            <div class="hight-60px">
                                                                <span class="input-label"> {{ 'MODEL_NAME' |
                                                                    translate }} </span>
                                                                <ng-select
                                                                    class=" example-full-width input-field"
                                                                    [(ngModel)]="batchDtlModel.modelName"
                                                                    [ngModelOptions]="{standalone: true}"
                                                                    (search)="listOfAllModel($event)"
                                                                    (click)="listOfAllModel({})" [virtualScroll]="true"
                                                                     appendTo="body"
                                                                    (scrollToEnd)="listOfAllModel({})" (keyup.backspace)="listOfAllModel($event.target.value ? $event : 'back')"(clear)="listOfAllModel('clear')"
                                                                    (change)="getModelComboValue($event)"
                                                                    [items]="modelCombo" bindLabel="modelName"
                                                                    bindValue="modelName" [loading]="scrollsyncModel"
                                                                    loadingText="Loading...">
                                                                </ng-select>
                                                            </div>

                                                        </div>

                                                        <div fxFlex="33"> 

                                                            <div class="hight-60px">
                                                                <span class="input-label"> {{ 'DEPARTMENT_NAME'
                                                                    | translate }} </span>
                                                                <ng-select [items]="assigneeDepartmentCombo"
                                                                    bindLabel="departmentName"
                                                                    bindValue="departmentName" tabindex="9"
                                                                    appendTo="body"
                                                                    (search)="loadAssigneeDepartmentComboData($event)"
                                                                    (click)="loadAssigneeDepartmentComboData($event)"
                                                                    [virtualScroll]="true"
                                                                    (scrollToEnd)="loadAssigneeDepartmentComboData({})" (keyup.backspace)="loadAssigneeDepartmentComboData($event.target.value ? $event : 'back')" (clear)="loadAssigneeDepartmentComboData('clear')"
                                                                    (change)="selectedDepartmentData($event)"
                                                                    [loading]="scrollsyncAssigneeDepartment"
                                                                    loadingText="Loading..."
                                                                    [(ngModel)]="batchDtlModel.departmentName"
                                                                    appendTo="body"
                                                                    class="example-full-width input-field">
                                                                </ng-select>
                                                            </div>

                                                            <div class="hight-60px">
                                                                <span class="input-label"> {{
                                                                    'MENU_SUB_DEPARTMENT' | translate }} </span>
                                                                <ng-select
                                                                    class=" example-full-width input-field"
                                                                    [(ngModel)]="batchDtlModel.subDepartment"
                                                                    [ngModelOptions]="{standalone: true}" tabindex="2"
                                                                    (search)="listOfSubDepartment($event)"
                                                                    (click)="listOfSubDepartment($event)"
                                                                    (change)="getSubDepartmentNameComboValue($event)"
                                                                    [items]="subDepartmentList" [virtualScroll]="true"
                                                                    (scrollToEnd)="listOfSubDepartment({})" (keyup.backspace)="listOfSubDepartment($event.target.value ? $event : 'back')" (clear)="listOfSubDepartment('clear')"
                                                                    [loading]="subDepartmentscrollsync" appendTo="body"
                                                                    loadingText="Loading..."
                                                                    bindLabel="subDepartmentName"
                                                                    bindValue="subDepartmentName">
                                                                </ng-select>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div fxFlex="25" fxLayout="column" fxLayout.lt-md="row"
                                                        fxFlex.lt-md="100">


                                                        <div fxFlex.lt-md="34" style="margin-top: 4px; height: 60px;">
                                                            <mat-form-field class="example-full-width"
                                                                [floatLabel]="'always'" style="width: 100%;">
                                                                <mat-label class="example-label input-label">{{
                                                                    'ASSET_CODE'
                                                                    | translate }}</mat-label>
                                                                <input matInput [(ngModel)]="batchDtlModel.assetCode"
                                                                    [ngModelOptions]="{standalone: true}"
                                                                    oninput="this.value = this.value.toUpperCase()">
                                                            </mat-form-field>
                                                        </div>

                                                        <div fxFlex.lt-md="33">
                                                            <mat-form-field class="example-full-width"
                                                                [floatLabel]="'always'" style="width: 100%;">
                                                                <mat-label class="example-label input-label">{{
                                                                    'ASSET_SERIAL_NO' | translate }}</mat-label>
                                                                <input matInput [(ngModel)]="batchDtlModel.serialNo"
                                                                    [ngModelOptions]="{standalone: true}"
                                                                    oninput="this.value = this.value.toUpperCase()">
                                                            </mat-form-field>
                                                        </div>


                                                        <div style="margin-top: 15px;" fxLayoutAlign="end center"
                                                            fxFlex.lt-md="33">

                                                            <button mat-raised-button color="primary"
                                                                style="margin-right: 10px;" (click)="search()">
                                                                {{ 'COMMON_SEARCH' | translate }}
                                                            </button>
                                                            <button mat-raised-button class=" space"
                                                                style="margin-right: 10px;" color="primary"
                                                                (click)="clearSearchCriteria()">
                                                                {{ 'COMMON_CLEAR' | translate }}
                                                            </button>
                                                        </div>


                                                    </div>

                                                </div>


                                            </mat-expansion-panel>
                                        </div>
                                        <mat-toolbar>
                                            <span>{{'BATCH_ASSET_SUB_MENU'| translate}} List</span>
                                            <span class="example-spacer"></span>

                                            <span class="example-spacer"></span>
                                        
                                          <button mat-raised-button class="space sqr-btn" color="primary" [disabled]="batchHdrFormGroup.invalid"
                                            matTooltip="{{ 'COMMON_CREATE' | translate }}" [matTooltipPosition]="'below'"
                                            *ngIf="!hideButtonInViewMode" (click)="addAssetToBatch()"><mat-icon>add</mat-icon>
                                          </button>
                                          <button [disabled]="hideButtonInViewMode || selectedItem == 0" color="primary" mat-raised-button class="space sqr-btn" *ngIf="modelAccessModule.deleteFlagDisplay"
                                            matTooltip="{{ 'COMMON_DELETE' | translate }}" (click)="deleteAssetFromDtlList(selectedItem, index)">
                                            <mat-icon>delete</mat-icon>
                                          </button>
                                          </mat-toolbar>
                                        <div fxLayout="column" style="padding-top: 20px;">
                                            <table mat-table [dataSource]="batchDtlList">
                                                <ng-container matColumnDef="select">
                                                    <th mat-header-cell *matHeaderCellDef class="table-head-data" style="width:6%;"> Select </th>
                                                    <td mat-cell *matCellDef="let element;let i = index;" style="width:6%;">
                                                      <mat-checkbox color="primary" class="example-margin" (change)="selectAsset(element,i)" [checked]="selectedItem.assetId == element?.assetId"></mat-checkbox></td>
                                                </ng-container>
                                                <ng-container matColumnDef="assetCode">
                                                    <th mat-header-cell id="assetCode" *matHeaderCellDef>
                                                        {{'ASSET_CODE' | translate}}</th>
                                                    <td mat-cell (click)="selectAsset(element,i)" *matCellDef="let element; let i=index;">
                                                        {{element?.assetCode}}</td>
                                                </ng-container>
                                                <ng-container matColumnDef="assetdesc">
                                                    <th mat-header-cell id="assetdesc" *matHeaderCellDef>
                                                        {{'ASSET_DESCRIPTION' | translate}} </th>
                                                    <td mat-cell (click)="selectAsset(element,i)" *matCellDef="let element; let i=index;">
                                                        {{element?.description}}</td>
                                                </ng-container>
                                                <ng-container matColumnDef="assetserialno">
                                                    <th mat-header-cell id="assetserialno" *matHeaderCellDef>
                                                        {{'ASSET_SERIAL_NO' | translate}} </th>
                                                    <td mat-cell (click)="selectAsset(element,i)" *matCellDef="let element; let i=index;">
                                                        {{element?.serialNo}}</td>
                                                </ng-container>
                                                <ng-container matColumnDef="category">
                                                    <th mat-header-cell id="category" *matHeaderCellDef>
                                                        {{ 'ASSET_CATEGORY' | translate }}
                                                    </th>
                                                    <td mat-cell (click)="selectAsset(element,i)" *matCellDef="let element; let i=index;">
                                                        {{ element?.assetCategoryName }}</td>
                                                </ng-container>
                                                <ng-container matColumnDef="subCategoryName">
                                                    <th mat-header-cell id="subCategoryName" *matHeaderCellDef>
                                                        {{'ASSET_SUB_CATEGORY' | translate}} </th>
                                                    <td mat-cell (click)="selectAsset(element,i)" *matCellDef="let element; let i=index;">
                                                        {{element?.subCategoryName}}</td>
                                                </ng-container>
                                                <ng-container matColumnDef="assetGroupName">
                                                    <th mat-header-cell id="assetGroupName" *matHeaderCellDef>
                                                        {{'ASSET_GROUP' | translate}} </th>
                                                    <td mat-cell (click)="selectAsset(element,i)" *matCellDef="let element; let i=index;">
                                                        {{element?.assetGroupName}}</td>
                                                </ng-container>
                                                <ng-container matColumnDef="model">
                                                    <th mat-header-cell id="model" *matHeaderCellDef>
                                                        {{ 'MODEL_NAME' | translate }} </th>
                                                    <td mat-cell (click)="selectAsset(element,i)" *matCellDef="let element; let i=index;">
                                                        {{ element?.modelName }}</td>
                                                </ng-container>
                                                <ng-container matColumnDef="manufacturerName">
                                                    <th mat-header-cell id="manufacturerName" *matHeaderCellDef>
                                                        {{'MANUFACTURER' | translate}} </th>
                                                    <td mat-cell (click)="selectAsset(element,i)" *matCellDef="let element; let i=index;">
                                                        {{element?.manufacturerName}}</td>
                                                </ng-container>
                                                <ng-container matColumnDef="supplierName">
                                                    <th mat-header-cell id="supplierName" *matHeaderCellDef>
                                                        {{'SUPPLIER_NAME' | translate}} </th>
                                                    <td mat-cell (click)="selectAsset(element,i)" *matCellDef="let element; let i=index;">
                                                        {{element?.supplierName}}</td>
                                                </ng-container>
                                                <ng-container matColumnDef="department">
                                                    <th mat-header-cell id="department" *matHeaderCellDef>
                                                        {{'DEPARTMENT_NAME' | translate}}
                                                    </th>
                                                    <td mat-cell (click)="selectAsset(element,i)" *matCellDef="let element; let i=index;">
                                                        {{ element?.departmentName }}
                                                    </td>
                                                </ng-container>
                                                <ng-container matColumnDef="functionality">
                                                    <th mat-header-cell id="functionality" *matHeaderCellDef>
                                                        {{'ASSET_FUNCTIONALITY' | translate}}
                                                    </th>
                                                    <td mat-cell (click)="selectAsset(element,i)" *matCellDef="let element; let i=index;">
                                                        {{element?.functionalStatus}}
                                                    </td>
                                                </ng-container>
                                                <ng-container matColumnDef="assetStatus">
                                                    <th mat-header-cell id="assetStatus" *matHeaderCellDef>
                                                        {{'ASSET_STATUS' | translate}}
                                                    </th>
                                                    <td mat-cell (click)="selectAsset(element,i)" *matCellDef="let element; let i=index;">
                                                        {{ element?.assetStatus | translate }}
                                                    </td>
                                                </ng-container>

                                                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true">
                                                </tr>
                                                <tr mat-row *matRowDef="let element; columns: displayedColumns;">
                                                </tr>
                                            </table>
                                            <mat-card class="no_records_found"
                                                *ngIf="lengthOfBatchDtlListItems==0 && !subLoaderForBatchDtlList">
                                                {{'COMMON_NO_RECORDS_FOUND' | translate}}</mat-card>
                                            <mat-card class="no_records_found" *ngIf="subLoaderForBatchDtlList"
                                                fxLayoutAlign="center center">
                                                <mat-spinner [diameter]="40"></mat-spinner>
                                            </mat-card>
                                        </div>
                                    </div>
                                </mat-card-content>
                            </mat-card>

                        </mat-tab>
                    </mat-tab-group>

                </div>

            </form>
        </div>
    </div>
</div>