<div fxLayout="column" fxFlexFill>
  
  <div fxLayout="row" fxFlex="100" fxFlexFill>
    <div fxFlex="35"  fxLayoutAlign="start center">
      <mat-form-field class="example-full-width" [floatLabel]="'always'">
        <mat-label class="input-label">Search {{'MENU_ASSET_TYPE'| translate}}</mat-label>
        <input matInput type="search" #searchSet name="search" id="search" class="form-control"
         (input)="onSearchChange($event.target.value)">
      </mat-form-field> 
    </div>

    <div fxFlex="65" fxLayoutAlign="end center"></div>    
  </div>
  
  <mat-toolbar>
    <span>{{'MENU_ASSET_TYPE'| translate}}</span>
    <span class="example-spacer"></span>
    <mat-paginator class="asset-list-paginator" #paginatorUsers [pageSizeOptions]="[5, 10, 25, 50, 100]" [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize" (page)="getServerData($event)"></mat-paginator>
    <span class="example-spacer"></span>

  <button mat-raised-button class="space sqr-btn" color="primary"
    matTooltip="{{ 'COMMON_CREATE' | translate }}" [matTooltipPosition]="'below'"
    *ngIf="modelAccessModule.createFlagDisplay" (click)="openAssetTypeCreateDialog(0,'Create')"><mat-icon>add</mat-icon>
  </button>
  <button [disabled]="selectedItem == 0" color="primary" mat-raised-button class="space sqr-btn" *ngIf="modelAccessModule.updateFlagDisplay"
    matTooltip="{{ 'COMMON_EDIT' | translate }}" (click)="openAssetTypeCreateDialog(selectedItem, 'edit')">
    <mat-icon>edit</mat-icon>
  </button>
  <button [disabled]="selectedItem == 0" color="primary" mat-raised-button class="space sqr-btn" *ngIf="modelAccessModule.readFlagDisplay"
  matTooltip="{{ 'COMMON_VIEW' | translate }}" (click)="openAssetTypeCreateDialog(selectedItem, 'view')">
  <mat-icon>visibility</mat-icon>
  </button>
  <button [disabled]="length=='0'" color="primary" mat-raised-button class="space sqr-btn btnpadding"
  matTooltip="{{ 'REPORT_EXPORT' | translate }}" (click)="generateReportForAssetType()">
  {{ 'REPORT_EXPORT' | translate }} </button>
</mat-toolbar>
  <div >
    <div fxLayout="column" fxFlexFill class="category-container-table">   
      <table mat-table [dataSource]="assetTypedataSource" matSort (matSortChange)="customSort($event)" matSortActive="name" matSortDirection="asc" matSortDisableClear>
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef class="table-head-data" style="width:6%;"> Select </th>
          <td mat-cell *matCellDef="let element;let i = index;" style="width:6%;">
            <mat-checkbox color="primary" class="example-margin" (change)="selectAssetType(element)" [checked]="selectedItem.assetTypeId == element?.assetTypeId"></mat-checkbox></td>
        </ng-container>

        <ng-container matColumnDef="sno">
          <th mat-header-cell *matHeaderCellDef class="table-head-data" style="width:6%;"> {{'COMMON_S_NO' | translate }} </th>
          <td mat-cell *matCellDef="let element; let i=index;" style="width:6%;"> {{getIndexValue(i+1)}} </td>
        </ng-container>

        <ng-container matColumnDef="assetTypeName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 46%;"> {{ 'ASSET_TYPE' | translate }} </th>
          <td mat-cell (click)="selectAssetType(element)" *matCellDef="let element" style="width: 46%;" matTooltip="{{element.assetTypeName}}"> {{element.assetTypeName}} </td>
        </ng-container>

        <ng-container matColumnDef="updatedBy">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:15%;">{{ 'COMMON_UPDATED_BY' | translate }} </th>
          <td mat-cell (click)="selectAssetType(element)" *matCellDef="let element" style="width:15%;"> {{element.updatedBy}}</td>
        </ng-container>

        <ng-container matColumnDef="updatedDt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:15%;"> {{ 'COMMON_UPDATED_DT' | translate }} </th>
          <td mat-cell (click)="selectAssetType(element)" *matCellDef="let element" style="width:15%;"> {{element.updatedDtDisp}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;">
        </tr>
      </table>
      <mat-card class="no_records_found" *ngIf="length=='0' && !subLoaderAssetType">{{'COMMON_NO_RECORDS_FOUND' | translate}}</mat-card>
      <mat-card class="no_records_found" *ngIf="subLoaderAssetType"  fxLayoutAlign="center center"> 
          <mat-spinner [diameter]="40"></mat-spinner>
      </mat-card>
    </div>
  </div>
</div>


