<div fxFlex="100"> 
  <div fxLayout="row" fxLayoutAlign="start center">
      <mat-toolbar-row class="breadcrumb-padding" fxLayoutAlign="start center">
        <mat-list class="breadcrumb-padding" aria-label="breadcrumb" fxLayout="row" fxLayoutAlign="start center">
          <mat-list-item class="bread-crumb-content" fxLayoutAlign="start center"><a href="#" [routerLink]="['/home/dashboard']">
              <mat-icon class="small-icon">home</mat-icon>
              </a>
              <mat-icon>keyboard_arrow_right</mat-icon>
            </mat-list-item>
          <mat-list-item class="bread-crumb-content" fxLayoutAlign="start center" aria-current="page">{{'MENU_BUDGET'| translate}} <mat-icon>keyboard_arrow_right</mat-icon>
          </mat-list-item>
          <mat-list-item class="bread-crumb-content" fxLayoutAlign="start center" aria-current="page">
            {{'BUDGET_ITEM'| translate}} 
          </mat-list-item>
        </mat-list>
        <span class="example-spacer"></span>
        <div fxFlex></div>
      </mat-toolbar-row>
    </div>   

    <div fxLayout="row"> 
        <div class="table_section" fxFlex="100">
          <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title class="panel-header">
              {{'COMMON_SEARCH'| translate}} {{'MENU_BUDGET' | translate }}
            </mat-panel-title>
            <mat-panel-description fxLayoutAlign="end end">
              <mat-icon>search</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
    
            <div fxLayout="column" fxFlex="100%">
              <div fxLayout="row" fxLayoutAlign="start center">
                <div fxFlex="30">
                    <span class="input-label"> {{'BUDGET_NAME'| translate}} </span>
                    <ng-select  [(ngModel)]="budget.budgetName" [ngModelOptions]="{standalone: true}"
                      (click)="listOfBudgetName({})" [virtualScroll]="true" (search)="listOfBudgetName($event)"
                      (scrollToEnd)="listOfBudgetName({})" (keyup.backspace)="listOfBudgetName($event.target.value ? $event : 'back')" (clear)="listOfBudgetName('clear')" (change)="setBudgetNameCombo($event)" [items]="budgetNameList"
                      bindLabel="budgetName" appendTo="body" bindValue="budgetName" [loading]="scrollsyncBudgetName"
                      loadingText="Loading..." required>
                    </ng-select>
                </div> 
                
                
                <div fxFlex="70" fxLayoutAlign="end end">
                  <button mat-raised-button color="primary" fxHide.lt-md class="space"
                    (click)="onSearchChange($event)">{{ 'COMMON_SEARCH' | translate }}</button>

                  <button mat-raised-button class="space" fxHide.gt-sm color="primary" matTooltip="{{'COMMON_SEARCH' | translate}}"
                  [matTooltipPosition]="'below'" (click)="onSearchChange($event)" ><mat-icon>search</mat-icon></button>

                  <button mat-raised-button color="primary" fxHide.lt-md class="space"
                    (click)="clearSearch()">{{ 'COMMON_CLEAR' | translate }}</button>
                    
                  <button mat-raised-button class="space" fxHide.gt-sm color="primary" matTooltip="{{'COMMON_CLEAR' | translate}}"
                  [matTooltipPosition]="'below'" (click)="clearSearch()"><mat-icon>clear_all</mat-icon></button>
                </div>
              </div>
            </div>  
        </mat-expansion-panel> 

         <hr> 
        
         <mat-toolbar>
          <span>{{'MENU_BUDGET'| translate}} List</span>
          <span class="example-spacer"></span>
    
          <mat-paginator #paginatorUsers [pageSizeOptions]="[5, 10, 25, 50, 100]" [length]="length" [pageIndex]="pageIndex"
          [pageSize]="pageSize" (page)="getServerData($event)"></mat-paginator>
          <span class="example-spacer"></span>

          <button mat-raised-button color="primary" class="space sqr-btn" matTooltip="{{ 'COMMON_CREATE' | translate }}" 
          [matTooltipPosition]="'below'" (click)="createBudget(0,'add')" *ngIf="budgetAccessModule.createFlagDisplay">
          <mat-icon>add</mat-icon></button>

          <button [disabled]=" selectedItem == 0" matTooltip="{{ 'COMMON_EDIT' | translate }}" mat-raised-button color="primary" class="space sqr-btn"  *ngIf="budgetAccessModule.updateFlagDisplay" (click)="createBudget(selectedItem,'edit')" >
            <mat-icon >edit</mat-icon>
          </button>

          <button [disabled]=" selectedItem == 0" matTooltip="{{ 'COMMON_VIEW' | translate }}" mat-raised-button color="primary" class="space sqr-btn"  *ngIf="budgetAccessModule.readFlagDisplay" (click)="createBudget(selectedItem,'view')" >
            <mat-icon >visibility</mat-icon>
          </button>
    
        </mat-toolbar>

    </div> 
    </div>
    
    
    <div fxLayout="row">   
      <table mat-table [dataSource]="budgetDataSource">
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef> {{'COMMON_SELECT'| translate}} </th>
          <td mat-cell *matCellDef="let element;"> 
             <mat-checkbox color="primary" class="example-margin" (change)="selectBudget(element)"
            [checked]="selectedItem == element?.bdHdrId">
           </mat-checkbox> </td>
        </ng-container>
  
        <ng-container matColumnDef="budgetName">
          <th mat-header-cell *matHeaderCellDef > {{'BUDGET_NAME'| translate}} </th>
          <td mat-cell *matCellDef="let element" (click)="selectBudget(element)"> {{element.budgetName}}</td>
        </ng-container>
  
        <ng-container matColumnDef="createdBy">
          <th mat-header-cell *matHeaderCellDef > {{'COMMON_CREATED_BY' | translate}} </th>
          <td mat-cell *matCellDef="let element" (click)="selectBudget(element)"> {{element.createdBy}} </td>
        </ng-container>
  
        <ng-container matColumnDef="createdDt">
          <th mat-header-cell *matHeaderCellDef > {{'COMMON_CREATED_DT' |translate}} </th>
          <td mat-cell *matCellDef="let element" (click)="selectBudget(element)"> {{element.createdDtDisp}} </td>
        </ng-container>
  
        <ng-container matColumnDef="updatedBy">
          <th mat-header-cell *matHeaderCellDef > {{'COMMON_UPDATED_BY' | translate}} </th>
          <td mat-cell *matCellDef="let element" (click)="selectBudget(element)"> {{element.updatedBy}}</td>
        </ng-container>
        <ng-container matColumnDef="updatedDt">
          <th mat-header-cell *matHeaderCellDef > {{'COMMON_UPDATED_DT'| translate}} </th>
          <td mat-cell *matCellDef="let element" (click)="selectBudget(element)"> {{element.updatedDtDisp}}</td>
        </ng-container>
        <!-- <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> {{'COMMON_ACTION' | translate }} </th>
          <td mat-cell *matCellDef="let element" >
            <button matTooltip="{{ 'COMMON_EDIT' | translate }}" mat-button class="mat-icon-button"
            *ngIf="budgetAccessModule.updateFlagDisplay" (click)="createBudget(element.bdHdrId,'edit')" >
              <mat-icon color="primary">edit</mat-icon>
            </button>
            <button matTooltip="{{ 'COMMON_VIEW' | translate }}" mat-button class="mat-icon-button"
            *ngIf="budgetAccessModule.readFlagDisplay" (click)="createBudget(element.bdHdrId,'view')" >
              <mat-icon color="primary">visibility</mat-icon>
            </button>   
          </td>
        </ng-container> -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;">
        </tr>
  
      </table>
      </div>

      <div fxLayout="row"> 
      <mat-card class="no_records_found" fxLayoutAlign="center center" fxFlex="100" *ngIf="length== 0 && !subLoaderBudget">
        {{'COMMON_NO_RECORDS_FOUND' | translate}}</mat-card>
      <mat-card class="no_records_found" *ngIf="subLoaderBudget" fxFlex="100" fxLayoutAlign="center center">
        <mat-spinner [diameter]="40"></mat-spinner>
      </mat-card>
      </div>
    
</div>
 