.space{
    margin-right: 10px;
  }
  
  .card-design {
    margin-left: 1%;
    border-radius: 0%;
    box-shadow: 1px 1px 10px #d4d4d4;
    width: 100%;
    margin-right: 1%;
  }
  
  .example-full-width {
    width: 90%;
  }
  
  .pd-2 {
    padding: 2%;
    padding-bottom: 3%;
  }
  .shift-left {
      margin-left: -20%;
  }
 
  .link{
    cursor: pointer;
  }
  .spacing{
    margin-bottom: 0!important;
    margin-top: 0px;
  }

  .content_section{
    background-color: #ffffff;
      height: auto;
      padding: 15px;
}

.status-style {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  font-family: Roboto,Helvetica Neue,sans-serif;
}

.pos-rel{
  position: relative;
}

.t-8-px{
  top: 8px;
}

.t-11-px{
  top: 11px;
}

.t-6-px{
  top: 6px;
}

.t-13-px{
  top: 13px;
}

.t-7-px{
  top: 7px;
}

.t-15-px{
  top: 15px;
}

.h-55-px{
  height: 55px;
}

.model-table-container {
  max-height: 36vh !important;
  overflow: auto;
}
.mt-10-px{
  margin-top: 10px;
}

.mt-7-px{
  margin-top: 7px;
}

.mt-20-px{
  margin-top: 20px;
}
