<div fxLayout="column" fxFlexFill>
  <div fxLayout="row">
    <div fxFlex="40"  fxLayoutAlign="start center">
      <mat-form-field style="width: 100%;" [floatLabel]="'always'">
        <input matInput type="search" #searchSet name="search" id="search" class="form-control"
        placeholder="Search {{'MENU_PARAMETER'| translate}}" (input)="onSearchChange($event.target.value)">
      </mat-form-field>     
    </div>

    <div fxFlex="60" fxLayoutAlign="end center">
    </div>
    
  </div>

  <mat-toolbar>
    <span>{{'MENU_PARAMETER'| translate}} List</span>
    <span class="example-spacer"></span>
    <mat-paginator class="asset-list-paginator" #paginatorUsers [pageSizeOptions]="[5, 10, 25, 50, 100]" [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSizeParameter" (page)="getServerData($event)"></mat-paginator>
    <span class="example-spacer"></span>

  <button mat-raised-button class="space sqr-btn" color="primary" matTooltip="{{ 'COMMON_CREATE' | translate }}"
    [matTooltipPosition]="'below'" *ngIf="modelAccessModule.createFlagDisplay"
    (click)="openParameterCreate(0, 'create')"><mat-icon>add</mat-icon>
  </button>
  <button [disabled]="selectedItem == 0" color="primary" mat-raised-button class="space sqr-btn"
    *ngIf="modelAccessModule.updateFlagDisplay" matTooltip="{{ 'COMMON_EDIT' | translate }}"
    (click)="openParameterCreate(selectedItem, 'edit')">
    <mat-icon>edit</mat-icon>
  </button>
  <button [disabled]="selectedItem == 0" color="primary" mat-raised-button class="space sqr-btn"
    *ngIf="modelAccessModule.readFlagDisplay" matTooltip="{{ 'COMMON_VIEW' | translate }}"
    (click)="openParameterCreate(selectedItem, 'view')">
    <mat-icon>visibility</mat-icon>
  </button>
  <button color="primary" mat-raised-button class="space sqr-btn btnpadding"
    matTooltip="{{ 'REPORT_EXPORT' | translate }}" (click)="generateReportForServiceParam()">
    {{ 'REPORT_EXPORT' | translate }}
  </button>
</mat-toolbar>
   
  <div fxFlex="81" fxFlex.sm="93" fxFlex.xs="93">
    <div fxLayout="column" fxFlexFill class="category-container-table">
    <!-- <div  fxLayout="column" fxFlexFill> -->
      <table mat-table [dataSource]="parameterdataSource" matSort (matSortChange)="customSort($event)" 
        matSortActive="name" matSortDirection="asc" matSortDisableClear>
        
        <ng-container matColumnDef="sNo">
          <th mat-header-cell *matHeaderCellDef class="table-head-data" style="width:4%;">{{'COMMON_S_NO' | translate}}</th>
          <td mat-cell *matCellDef="let element;let i = index;" style="width:4%;">{{i+1}}</td>
        </ng-container>

        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef class="table-head-data" style="width:5%;"> Select </th>
          <td mat-cell *matCellDef="let element;let i = index;" style="width:5%;">
            <mat-checkbox color="primary" class="example-margin" (change)="selectParameter(element)" [checked]="selectedItem.parameterId == element?.parameterId"></mat-checkbox></td>
        </ng-container>

        <ng-container matColumnDef="parameterName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:15%;"> {{ 'SR_PARAMETER' | translate }} </th>
          <td mat-cell (click)="selectParameter(element)" *matCellDef="let element" style="width:15%;">  
              {{ (element?.parameterName.length>30) ? (element?.parameterName | slice:0:30)+'...' : (element?.parameterName) }}
          </td> 
        </ng-container>

        <ng-container matColumnDef="parameterTypeTO.parameterTypeName" >  
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:15%;"> {{ 'SR_PARAMETER_TYPE' | translate }} </th>
          <td mat-cell (click)="selectParameter(element)"  *matCellDef="let element" style="width:15%;"> 
              {{ (element?.parameterTypeNameDisp.length>30) ? (element?.parameterTypeNameDisp | slice:0:30)+'...' : (element?.parameterTypeNameDisp) }}
          </td> 
        </ng-container>

        <ng-container matColumnDef="parameterGroupTO.parameterGroupName" >  
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:15%;"> {{ 'SR_PARAMETER_GROUP' | translate }} </th>
          <td mat-cell (click)="selectParameter(element)"  *matCellDef="let element" style="width:15%;"> 
              {{ (element?.parameterGroupName.length>30) ? (element?.parameterGroupName | slice:0:30)+'...' : (element?.parameterGroupName) }}
          </td> 
        </ng-container>
        
        <ng-container matColumnDef="updatedBy">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:10%;"> {{ 'COMMON_UPDATED_BY' | translate }}</th>
          <td mat-cell (click)="selectParameter(element)" *matCellDef="let element" style="width:10%;"> {{element.updatedBy}}</td>
        </ng-container>

        <ng-container matColumnDef="updatedDt" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:10%;"> {{ 'COMMON_UPDATED_DT' | translate }}</th>
          <td mat-cell (click)="selectParameter(element)" *matCellDef="let element" style="width:10%;"> {{element.updatedDtDisp}}</td>
        </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
          <tr mat-row *matRowDef="let element; columns: displayedColumns;">
          </tr>
      </table>
      <mat-card class="no_records_found" *ngIf="length=='0' && !subLoaderParameter">{{'COMMON_NO_RECORDS_FOUND' | translate}}</mat-card>
      <mat-card class="no_records_found" *ngIf="subLoaderParameter"  fxLayoutAlign="center center"> 
        <mat-spinner [diameter]="40"></mat-spinner>
      </mat-card>
    </div>
  </div>
</div>



