<div fxLayout="column" fxFlexFill>
 
    <div fxLayout="row" fxLayoutAlign="start center">
      <div fxLayoutAlign="start center" fxFlex="60">
        <mat-toolbar-row style="position: sticky !important;" aria-label="breadcrumb" >
          <mat-list fxLayoutAlign="start center">
            <mat-list-item fxLayoutAlign="start center">
              <a href="#" [routerLink]="['/home/dashboard']">
                <mat-icon class="small-icon">home</mat-icon>
              </a>
              <mat-icon>keyboard_arrow_right</mat-icon>
            </mat-list-item>      
            <mat-list-item><a>{{'MENU_INVENTORY' | translate}}</a>
              <mat-icon>keyboard_arrow_right</mat-icon>
            </mat-list-item>
            <mat-list-item><a (click)="exitForm()" style="cursor: pointer;" >{{'MENU_STOCK_TRANSFER' | translate}}</a>
                <mat-icon>keyboard_arrow_right</mat-icon>
            </mat-list-item>
            <mat-list-item class="active" aria-current="page">{{headingDisplay}}</mat-list-item>
          </mat-list>  
        </mat-toolbar-row>
      </div>
      <div fxLayoutAlign="end start" fxFlex="40">
        <button mat-raised-button class="space" color="primary"
        (click)="exitForm()">{{'COMMON_BACK' | translate}}</button>
        <button mat-raised-button class="space" color="primary" (click)="clear()"
            [disabled]="disableClear">{{'COMMON_CLEAR' | translate}}</button>
        <button mat-raised-button class="space" color="primary" (click)="submitStockTransfer()"
            [disabled]="!stockTransferHdrForm.dirty || stockTransferHdrForm.invalid || disableSubmit || stockTransferHdrForm.get('stockTransferDtlForm')['controls']==0">Submit</button> 
      </div>
    </div>

    
    <div class="content_section">
        <div  fxLayout="column" fxFlex="100">

            <form [formGroup]="stockTransferHdrForm" fxLayout="column">

                <div  fxLayout="row" fxFlex="100" style="width:100% ;" fxHide.lt-md>
                   
                    <div  fxFlex="25">
                        <div class="form-group mt-5-px">
                            <div class="example-full-width">
                                <span class="input-label"> {{ 'LOCATION_NAME' | translate }} <span
                                        class="mandatory-style">*</span>
                                </span>
                                <ng-select [items]="locationList" autofocus required #stockTransferLocFocus
                                    bindLabel="locDisplayField" bindValue="locDisplayField" (search)="listOfLocation($event)"
                                    (click)="listOfLocation($event)" [virtualScroll]="true"
                                    (scrollToEnd)="listOfLocation({})" (keyup.backspace)="listOfLocation($event.target.value ? $event : 'back')" (clear)="listOfLocation('clear')" [loading]="scrollLocationNamesync"
                                    loadingText="Loading..." (change)="selectedLocationData($event)"
                                    formControlName="locationName"></ng-select>
                                <mat-error
                                    *ngIf="stockTransferHdrForm.controls.locationName.invalid && stockTransferHdrForm.controls.locationName.touched">
                                    <div class="err-field" *ngIf="stockTransferHdrForm.controls.locationName.errors.required">
                                        {{'LOCATION_NAME' | translate}} is Required </div>
                                </mat-error>
                            </div>
                        </div>
                        <div class="form-group mt-25-px" >
                            <div class="example-full-width">
                                <span class="input-label"> {{ 'STOCK_TRANSFER_TYPE' | translate }} <span class="mandatory-style">*</span>
                                </span>
                                <ng-select  formControlName="stockTransferType" [items]="stockTransferType"
                                    bindLabel="name" bindValue="name" dropdownPosition=bottom (change)="selectedTransferType($event)">
                                </ng-select>
                            </div>
                        </div>
                        <div class="form-group mt-20-px" >
                            <mat-form-field class="example-full-width" [floatLabel]="'always'">
                                <mat-label class=" input-label"> {{'STOCK_TRANSFER_NO' | translate}} </mat-label>
                                <input #focusSet matInput formControlName="stockTransferNo"  class="input-field"> 
                                <mat-error *ngIf="stockTransferHdrForm.controls.stockTransferNo.invalid && stockTransferHdrForm.controls.stockTransferNo.touched">
                                    <div *ngIf="stockTransferHdrForm.controls.stockTransferNo.errors.required">{{'STOCK_TRANSFER_NO' | translate}} is Required </div>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxFlex="2"></div>
                    <div  fxFlex="22">
                        <div class="form-group mt-5-px">
                            <span class="input-label"> {{ 'FROM_STORE' | translate }} <span *ngIf="fromStore" class="mandatory-style">*</span></span>
                            <ng-select #fromStoreName  formControlName="fromStoreName"
                                (click)="listOfFromStore({})" (search)="listOfFromStore($event)"
                                (scrollToEnd)="listOfFromStore({})" (keyup.backspace)="listOfFromStore($event.target.value ? $event : 'back')" (clear)="listOfFromStore('clear')" [loading]="scrollFromStoreNamesync"
                                (change)="getFromStoreValue($event)" [items]="fromStoreList" bindLabel="storeName"
                                bindValue="storeName">
                            </ng-select>
                        </div>
                        <div class="form-group mt-25-px" >
                            <span class="input-label"> {{ 'TO_STORE' | translate }} <span *ngIf="toStore" class="mandatory-style">*</span></span>
                            <ng-select #storeName  formControlName="toStoreName"
                                (click)="listOfToStore({})" (search)="listOfToStore($event)"
                                (scrollToEnd)="listOfToStore({})" (keyup.backspace)="listOfToStore($event.target.value ? $event : 'back')" (clear)="listOfToStore('clear')" [loading]="scrollToStoreNamesync"
                                (change)="getToStoreValue($event)" [items]="toStoreList" bindLabel="storeName"
                                bindValue="storeName">
                            </ng-select>
                        </div>
                    </div>
                    <div fxFlex="2"></div>
                    <div  fxFlex="22">
                        <div class="form-group mt-5-px">
                            <div class="example-full-width">
                            <span class="input-label"> {{ 'FROM_ASSET_CODE' | translate }}<span *ngIf="fromAsset" class="mandatory-style">*</span>
                            </span>
                            <ng-select [items]="fromAssetList" required bindLabel="fromAssetDisplayField" bindValue="fromAssetDisplayField"
                                (search)="loadFromAssetCodeComboData($event)" (click)="loadFromAssetCodeComboData($event)"
                                [virtualScroll]="true" (scrollToEnd)="loadFromAssetCodeComboData({})" (keyup.backspace)="loadFromAssetCodeComboData($event.target.value ? $event : 'back')" (clear)="loadFromAssetCodeComboData('clear')" [loading]="scrollFromAssetNamesync"
                                loadingText="Loading..." (change)="selectedFromAssetCodeData($event)" formControlName="fromAssetCode">
                            </ng-select>
                            </div>
                        </div>
                        <div class="form-group mt-25-px">
                            <div class="example-full-width">
                            <span class="input-label"> {{ 'TO_ASSET_CODE' | translate }}<span *ngIf="toAsset" class="mandatory-style">*</span>
                            </span>
                            <ng-select [items]="toAssetList" required bindLabel="toAssetDisplayField" bindValue="toAssetDisplayField"
                                (search)="loadToAssetCodeComboData($event)" (click)="loadToAssetCodeComboData($event)"
                                [virtualScroll]="true" (scrollToEnd)="loadToAssetCodeComboData({})" (keyup.backspace)="loadToAssetCodeComboData($event.target.value ? $event : 'back')" (clear)="loadToAssetCodeComboData('clear')" [loading]="scrollToAssetNamesync"
                                loadingText="Loading..." (change)="selectedToAssetCodeData($event)" formControlName="toAssetCode">
                            </ng-select>
                            </div>
                        </div>
                    </div>
                    <div fxFlex="2"></div>
                    <div  fxFlex="25">
                        <div class="form-group">
                            <mat-form-field class="example-full-width" [floatLabel]="'always'">
                                <mat-label class=" input-label"> {{'STOCK_TRANSFER_STATUS' | translate}} </mat-label>
                                <input readonly matInput formControlName="stockTransferStatus"  class="input-field">
                            </mat-form-field>
                        </div>
                        <div class="form-group" >
                            <mat-form-field class="example-full-width" [floatLabel]="'always'">
                                <mat-label class=" input-label"> {{'STOCK_TRANSFER_BY' | translate}} </mat-label>
                                <input readonly matInput formControlName="createdBy"  class="input-field">
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <mat-form-field class="example-full-width" [floatLabel]="'always'">
                                <mat-label class=" input-label">{{'STOCK_TRANSFER_DT' | translate}}</mat-label>
                                <input matInput formControlName="createdDtDisp" required  class="input-field" >
                                <mat-datepicker-toggle matSuffix [for]="doDate"></mat-datepicker-toggle>
                                <mat-datepicker #doDate></mat-datepicker>
                                <mat-error *ngIf="stockTransferHdrForm.controls.createdDtDisp.invalid && stockTransferHdrForm.controls.createdDtDisp.touched">
                                    <div class="err-field"
                                        *ngIf="stockTransferHdrForm.controls.createdDtDisp.errors.required">
                                        {{'STOCK_TRANSFER_DT' | translate}} is Required </div>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                  
                </div>

                <div  fxLayout="row" fxFlex="100" style="width:100% ;" fxHide.gt-sm fxLayoutAlign="space-between start">
                    
                    <div  fxFlex="50">
                        <div class="form-group">
                            <div class="example-full-width">
                                <span class="input-label"> {{ 'LOCATION_NAME' | translate }} <span
                                        class="mandatory-style">*</span>
                                </span>
                                <ng-select [items]="locationList" autofocus required #stockTransferLocFocus
                                    bindLabel="locDisplayField" bindValue="locDisplayField" (search)="listOfLocation($event)"
                                    (click)="listOfLocation($event)" [virtualScroll]="true"
                                    (scrollToEnd)="listOfLocation({})" (keyup.backspace)="listOfLocation($event.target.value ? $event : 'back')" (clear)="listOfLocation('clear')" [loading]="scrollLocationNamesync"
                                    loadingText="Loading..." (change)="selectedLocationData($event)"
                                    formControlName="locationName"></ng-select>
                                <mat-error
                                    *ngIf="stockTransferHdrForm.controls.locationName.invalid && stockTransferHdrForm.controls.locationName.touched">
                                    <div class="err-field" *ngIf="stockTransferHdrForm.controls.locationName.errors.required">
                                        {{'LOCATION_NAME' | translate}} is Required </div>
                                </mat-error>
                            </div>
                        </div>
                        <div class="form-group"  style="margin-top: 2%;">
                            <div class="example-full-width">
                                <span class="input-label"> {{ 'STOCK_TRANSFER_TYPE' | translate }} <span class="mandatory-style">*</span>
                                </span>
                                <ng-select  formControlName="stockTransferType" [items]="stockTransferType"
                                    bindLabel="name" bindValue="name" dropdownPosition=bottom (change)="selectedTransferType($event)">
                                </ng-select>
                            </div>
                        </div>
                        <div class="form-group"  style="margin-top: 2%;">
                            <mat-form-field class="example-full-width" [floatLabel]="'always'">
                                <mat-label class=" input-label"> {{'STOCK_TRANSFER_NO' | translate}} </mat-label>
                                <input #focusSet matInput formControlName="stockTransferNo"  class="input-field">
                                <mat-error *ngIf="stockTransferHdrForm.controls.stockTransferNo.invalid && stockTransferHdrForm.controls.stockTransferNo.touched">
                                    <div *ngIf="stockTransferHdrForm.controls.stockTransferNo.errors.required">{{'STOCK_TRANSFER_NO' | translate}} is Required </div>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="form-group"  style="margin-top: 10px">
                            <div class="example-full-width">
                                <span class="input-label"> {{ 'FROM_STORE' | translate }} </span>
                                <ng-select #fromStoreName  formControlName="fromStoreName"
                                    (click)="listOfFromStore({})" (search)="listOfFromStore($event)"
                                    (scrollToEnd)="listOfFromStore({})" (keyup.backspace)="listOfFromStore($event.target.value ? $event : 'back')" (clear)="listOfFromStore('clear')" [loading]="scrollFromStoreNamesync"
                                    (change)="getFromStoreValue($event)" [items]="fromStoreList" bindLabel="storeName"
                                    bindValue="storeName">
                                </ng-select>
                            </div>
                        </div>
                        <div class="form-group"  style="margin-top: 28px;">
                            <div class="example-full-width">
                                <span class="input-label"> {{ 'TO_STORE' | translate }} </span>
                                <ng-select #storeName  formControlName="toStoreName"
                                    (click)="listOfToStore({})" (search)="listOfToStore($event)"
                                    (scrollToEnd)="listOfToStore({})" (keyup.backspace)="listOfToStore($event.target.value ? $event : 'back')" (clear)="listOfToStore('clear')" [loading]="scrollToStoreNamesync"
                                    (change)="getToStoreValue($event)" [items]="toStoreList" bindLabel="storeName"
                                    bindValue="storeName">
                                </ng-select>
                            </div>
                        </div>
                    </div>
                    
                    <div  fxFlex="50">
                        
                        <div class="form-group">
                            <div class="example-full-width">
                            <span class="input-label"> {{ 'FROM_ASSET_CODE' | translate }}
                            </span>
                            <ng-select [items]="fromAssetList" required bindLabel="fromAssetDisplayField" bindValue="fromAssetDisplayField"
                                (search)="loadFromAssetCodeComboData($event)" (click)="loadFromAssetCodeComboData($event)"
                                [virtualScroll]="true" (scrollToEnd)="loadFromAssetCodeComboData({})" (keyup.backspace)="loadFromAssetCodeComboData($event.target.value ? $event : 'back')" (clear)="loadFromAssetCodeComboData('clear')" [loading]="scrollFromAssetNamesync"
                                loadingText="Loading..." (change)="selectedFromAssetCodeData($event)" formControlName="fromAssetCode">
                            </ng-select>
                            </div>
                        </div>
                        <div class="form-group"  style="margin-top: 2%;">
                            <div class="example-full-width">
                            <span class="input-label"> {{ 'TO_ASSET_CODE' | translate }}
                            </span>
                            <ng-select [items]="toAssetList" required bindLabel="toAssetDisplayField" bindValue="toAssetDisplayField"
                                (search)="loadToAssetCodeComboData($event)" (click)="loadToAssetCodeComboData($event)"
                                [virtualScroll]="true" (scrollToEnd)="loadToAssetCodeComboData({})" (keyup.backspace)="loadToAssetCodeComboData($event.target.value ? $event : 'back')" (clear)="loadToAssetCodeComboData('clear')" [loading]="scrollToAssetNamesync"
                                loadingText="Loading..." (change)="selectedToAssetCodeData($event)" formControlName="toAssetCode">
                            </ng-select>
                            </div>
                        </div>         
                        <div class="form-group"  style="margin-top: 2%;">
                            <mat-form-field class="example-full-width" [floatLabel]="'always'">
                                <mat-label class=" input-label"> {{'STOCK_TRANSFER_STATUS' | translate}} </mat-label>
                                <input readonly matInput formControlName="stockTransferStatus"  class="input-field">
                            </mat-form-field>
                        </div>
                        <div class="form-group"  style="margin-top: 2%;">
                            <mat-form-field class="example-full-width" [floatLabel]="'always'">
                                <mat-label class="example-label input-label"> {{'STOCK_TRANSFER_BY' | translate}} </mat-label>
                                <input readonly matInput formControlName="createdBy"  class="input-field">
                            </mat-form-field>
                        </div>
                        <div class="form-group"  style="margin-top: 2%;">
                            <mat-form-field class="example-full-width" [floatLabel]="'always'">
                                <mat-label class="example-label input-label">{{'STOCK_TRANSFER_DT' | translate}}</mat-label>
                                <input matInput formControlName="createdDtDisp" required  class="input-field">
                                <mat-datepicker-toggle matSuffix [for]="doDate"></mat-datepicker-toggle>
                                <mat-datepicker #doDate></mat-datepicker>
                                <mat-error *ngIf="stockTransferHdrForm.controls.createdDtDisp.invalid && stockTransferHdrForm.controls.createdDtDisp.touched">
                                    <div class="err-field"
                                        *ngIf="stockTransferHdrForm.controls.createdDtDisp.errors.required">
                                        {{'STOCK_TRANSFER_DT' | translate}} is Required </div>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                  
                </div>

                <div fxLayout="row" fxFlex="100" class="tab-content" >
                    
                    <mat-tab-group style="width:100% ;">
                        
                        <mat-tab>
                            <ng-template mat-tab-label>
                                {{'STOCK_TRANFER_ITEMS' | translate }}
                                <mat-icon *ngIf="stockTransferHdrForm.get('stockTransferDtlForm')['controls']==0 || stockTransferDtlForm.invalid" class="mandatory-style">error</mat-icon>
                              </ng-template>
                            <div class="Table_Section" style="overflow-x: hidden;" fxLayout="column">
                                <div fxLayout="row" fxFlex="100" fxLayoutAlign="start center">   
                                
                                        <button mat-icon-button class="mat-icon-button" matTooltip="{{ 'STOCK_ADD_ITEM' | translate }}"
                                            (click)="addStockTransferForItem()">
                                            <!-- <mat-icon color="primary">add_circle</mat-icon> -->
                                            <div class="plus-icon add-circle-icon"></div>
                                        </button>
                              
                                </div>
                               
                                <div class="hack1" >
                                    <div class="hack2">
                                    <table class="table table-bordered">
                                        <thead class="table_head">
                                        <tr>
                                            <th  style="width:1%">{{'COMMON_S_NO' | translate}}</th>
                                            <th  style="width:7%">{{'ITEM_TYPE' | translate}}<span
                                                class="mandatory-style">*</span></th>
                                            <th  style="width:7%">{{'ITEM_NAME' | translate}}<span
                                                class="mandatory-style">*</span></th>
                                            <th  style="width:10%">{{'ITEM_DESC' | translate}}</th>
                                            <th  style="width:5%">{{'STOCK_AVAILABLE_QTY' | translate}}</th>
                                            <th  style="width:5%">{{'STOCK_TRANSFER_QTY' | translate}}<span
                                                class="mandatory-style">*</span></th>
                                            <th  style="width:5%" *ngIf= "!createMode">{{'STOCK_ISSUE_QTY' | translate}}</th>
                                            <th  style="width:3%" *ngIf="stockTransferHdrForm.controls.stockTransferHdrId.value==0">{{'COMMON_DELETE' | translate}}
                                            </th>
                                            <th  style="width:10%" *ngIf="stockTransferHdrForm.controls.stockTransferHdrId.value>0">{{'ERROR_MESSAGE' | translate}}
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <ng-container formArrayName="stockTransferDtlForm" *ngFor="let element of stockTransferHdrForm.get('stockTransferDtlForm')['controls']; let i = index;">
                                                <tr height="20" [formGroupName]="i">
                                                    <td  style="width:1%"> {{ i+1 }} </td>

                                                    <td  style="width:7%" class="Form_Select">
                                                        <div *ngIf="stockTransferHdrForm.controls.stockTransferDtlForm['controls'][i]['controls'].stockTransferDtlId.value == 0">
                                                        <ng-select  formControlName="itemTypeName"
                                                            (click)="listofItemType({},i)"
                                                            (search)="listofItemType($event)"
                                                            (scrollToEnd)="listofItemType({},i)" (keyup.backspace)="listofItemType($event.target.value ? $event : 'back',i)" (clear)="listofItemType('clear',i)" [loading]="scrollItemTypesync"
                                                            (change)="getItemTypeComboValue($event,i)" [items]="itemTypeList"
                                                            bindLabel="itemTypeName" bindValue="itemTypeName" appendTo="body">
                                                        </ng-select>
                                                        </div>
                    
                                                        <input *ngIf="stockTransferHdrForm.controls.stockTransferDtlForm['controls'][i]['controls'].stockTransferDtlId.value > 0"
                                                        matInput formControlName="itemTypeName" readonly class="input-field">
                                                    </td>

                                                    <td  style="width:7%" class="Form_Select">
                                                        <div *ngIf="stockTransferHdrForm.controls.stockTransferDtlForm['controls'][i]['controls'].stockTransferDtlId.value == 0">
                                                        <ng-select  formControlName="itemName"
                                                            (click)="listOfItemFromInventory({},i)"
                                                            (search)="listOfItemFromInventory($event)"
                                                            (scrollToEnd)="listOfItemFromInventory({},i)" (keyup.backspace)="listOfItemFromInventory($event.target.value ? $event : 'back',i)" (clear)="listOfItemFromInventory('clear',i)" [loading]="scrollItemNamesync"
                                                            (change)="getItemValueFromInventory($event,i)" [items]="itemList"
                                                            bindLabel="itemName" bindValue="itemName" appendTo="body">
                                                        </ng-select>
                                                        </div>
                    
                                                        <input *ngIf="stockTransferHdrForm.controls.stockTransferDtlForm['controls'][i]['controls'].stockTransferDtlId.value > 0"
                                                        matInput formControlName="itemName" readonly class="input-field">
                                                    </td>

                                                    <td  style="width:10%" class="Form_Select">
                                                        <div *ngIf="stockTransferHdrForm.controls.stockTransferDtlForm['controls'][i]['controls'].stockTransferDtlId.value == 0">
                                                        <ng-select  formControlName="description"
                                                            (click)="listOfItemDescFromInventory({},i)" 
                                                            (search)="listOfItemDescFromInventory($event)"                
                                                            (scrollToEnd)="listOfItemDescFromInventory({},i)" (keyup.backspace)="listOfItemDescFromInventory($event.target.value ? $event : 'back',i)" (clear)="listOfItemDescFromInventory('clear',i)" [loading]="scrollItemDescsync"
                                                            (change)="getItemDescValueFromInventory($event,i)" [items]="itemDescList"
                                                            bindLabel="itemDesc" bindValue="itemDesc" appendTo="body">                                              
                                                        </ng-select>
                                                        </div>
                    
                                                        <input *ngIf="stockTransferHdrForm.controls.stockTransferDtlForm['controls'][i]['controls'].stockTransferDtlId.value > 0"
                                                        matInput formControlName="description" readonly class="input-field">
                                                    </td>

                                                    <td  style="width:5%; text-align: right" class="Form_Input">
                                                        <strong>
                                                        <input type="number" matInput formControlName="availQty" readonly  class="input-field" style="font-weight: bold !important;"
                                                            (change)="setAvailableQty(element,i)">
                                                        </strong>
                                                    </td>

                                                    <td  style="width:5%; color: blue; text-align: right" class="Form_Input"
                                                        [ngClass]="{'isError': this.stockTransferHdrForm.controls.stockTransferDtlForm['controls'][i]['controls']['transferQty'].errors && !this.stockTransferHdrForm.controls.stockTransferDtlForm['controls'][i]['controls']['transferQty'].pristine}">
                                                        <strong>
                                                        <input type="number" matInput formControlName="transferQty" class="input-field" [min]="1"
                                                            (change)="setTransferQty(element,i)" style="font-weight: bold !important;">
                                                        </strong>
                                                    </td>
                                                    <td  style="width:5%; color: #096218;text-align: right "  class="Form_Input"
                                                        [ngClass]="{'isError': this.stockTransferHdrForm.controls.stockTransferDtlForm['controls'][i]['controls']['issueQty'].errors && !this.stockTransferHdrForm.controls.stockTransferDtlForm['controls'][i]['controls']['issueQty'].pristine}" *ngIf= "!createMode">
                                                        <strong>
                                                        <input type="number" matInput formControlName="issueQty" class="input-field" [min]="0"
                                                            (change)="setIssueQty(element,i)" style="font-weight: bold !important;">
                                                        </strong>
                                                    </td>

                                                    <td  style="width:3%" *ngIf="stockTransferHdrForm.controls.stockTransferHdrId.value==0">
                                                        <mat-icon class="close-icon-large-remove" (click)="delete(i)">remove_circle_outline
                                                        </mat-icon>
                                                    </td>
                                                    <td  style="width:10%" *ngIf="stockTransferHdrForm.controls.stockTransferHdrId.value>0">
                                                        <input style="font-size:10px !important; color:red" matInput
                                                        formControlName="errorMessage" readonly class="input-field">
                                                    </td>

                                                </tr>
                                            </ng-container>
                                        </tbody>
                                    </table>
                                    </div>
                                </div>
                               
                            </div>            
                        </mat-tab>

                        <mat-tab *ngIf="stockTransferHdrForm.controls.stockTransferHdrId.value > 0" label="{{ 'MENU_WORKFLOW_APPROVAL' | translate }}">
                            <mat-card class="card-style">
                                <mat-card-content>
                            <app-common-workflow-approval-tab 
                            [transactionId]=stockTransferId 
                            [transactionSource]=transactionSource 
                            [stockTransferApproveButton]=approveButtonEnable
                            [stockTransferEmployeeId]=employeeId 
                            [stockTransferStatusId] =approvalId 
                            (confirmStockTransfer) = confirmStockTransferApprove()
                            (stockTransferReject) = rejectStockTransferApprove()>
                            </app-common-workflow-approval-tab>
                            </mat-card-content>
                            </mat-card>
                        </mat-tab>

                    </mat-tab-group>
                   
                </div>             
            </form>
           
        </div>
    </div>

</div>