<div fxLayout="column">
  <div fxFlex="100"> 
    <div fxLayout="row"> 
      <div fxFlex="95">
        <h4 class="section_title"> {{ 'SR_ACTIVITY_EMAIL' | translate }} </h4>
      </div>
      
      <div fxFlex="5" class="first-title"> 
        <mat-icon class="close-icon-large close-icon" (click)="close()">highlight_off</mat-icon>
      </div>
    </div>
 
    <div fxLayout="row">
      <form [formGroup]="sendActivityEmailForm" fxFlex="100">
            <mat-card> 

              <mat-card-content class="info">
 
                <mat-form-field class="example-full-width" [floatLabel]="'always'" hintLabel="{{ CommonhintMsg.MAX_300}}">
                  <mat-label class=" input-label"> {{ 'SR_ACTIVITY_TO_EMAIL' | translate }} </mat-label>
                  <textarea matInput formControlName="messageTo" [maxlength]="300" required class="input-field"></textarea>
                  <mat-hint align="end">{{sendActivityEmailForm.controls.messageTo.value?.length || 0}}/300</mat-hint>
                  <mat-error *ngIf="sendActivityEmailForm.controls.messageTo.invalid && sendActivityEmailForm.controls.messageTo.touched">
                    <div class="err-field" *ngIf="sendActivityEmailForm.controls.messageTo.errors.required">{{ 'SR_ACTIVITY_TO_EMAIL' | translate }} is Required </div>
                    <div class="err-field" *ngIf="sendActivityEmailForm.controls.messageTo.errors.maxlength">{{ 'SR_ACTIVITY_TO_EMAIL' | translate }} Maximum Length is 300 </div>
                    <div class="err-field" *ngIf="sendActivityEmailForm.controls.messageTo.errors.pattern">{{ 'SR_ACTIVITY_TO_EMAIL' | translate }} contains invalid pattern </div>
                  </mat-error>
                </mat-form-field>    
 
                <mat-form-field class="example-full-width" [floatLabel]="'always'" hintLabel="{{ CommonhintMsg.MAX_300}}">
                  <mat-label class=" input-label"> {{ 'SR_ACTIVITY_CC_EMAIL' | translate }} </mat-label>
                  <textarea matInput formControlName="msgDestinationCcEmailId" [maxlength]="300" class="input-field"></textarea>
                  <mat-hint align="end">{{sendActivityEmailForm.controls.msgDestinationCcEmailId.value?.length || 0}}/300</mat-hint>
                  <mat-error *ngIf="sendActivityEmailForm.controls.msgDestinationCcEmailId.invalid && sendActivityEmailForm.controls.msgDestinationCcEmailId.touched">
                    <div class="err-field" *ngIf="sendActivityEmailForm.controls.msgDestinationCcEmailId.errors.maxlength">{{ 'SR_ACTIVITY_TO_EMAIL' | translate }} Maximum Length is 300 </div>
                    <div class="err-field" *ngIf="sendActivityEmailForm.controls.msgDestinationCcEmailId.errors.pattern">{{ 'SR_ACTIVITY_TO_EMAIL' | translate }} contains invalid pattern </div>
                  </mat-error>
                </mat-form-field> 
 
                <mat-form-field class="example-full-width" [floatLabel]="'always'" hintLabel="{{ CommonhintMsg.MAX_250}}">
                  <mat-label class=" input-label"> {{ 'SR_ACTIVITY_EMAIL_SUBJECT' | translate }} </mat-label>
                  <textarea matInput formControlName="emailSubject" [maxlength]="250" required class="input-field"></textarea>
                  <mat-hint align="end">{{sendActivityEmailForm.controls.emailSubject.value?.length || 0}}/250</mat-hint>
                  <mat-error *ngIf="sendActivityEmailForm.controls.emailSubject.invalid && sendActivityEmailForm.controls.emailSubject.touched">
                    <div class="err-field" *ngIf="sendActivityEmailForm.controls.emailSubject.errors.required">{{ 'SR_ACTIVITY_EMAIL_SUBJECT' | translate }} is Required </div>
                    <div class="err-field" *ngIf="sendActivityEmailForm.controls.emailSubject.errors.maxlength">{{ 'SR_ACTIVITY_EMAIL_SUBJECT' | translate }} Maximum Length is 250 </div>
                  </mat-error>
                </mat-form-field> 
 
                <mat-form-field class="example-full-width" [floatLabel]="'always'" hintLabel="{{ CommonhintMsg.MAX_50000}}">
                  <mat-label class=" input-label"> {{ 'SR_ACTIVITY_EMAIL_BODY' | translate }} </mat-label>
                  <textarea matInput formControlName="emailBody" [maxlength]="50000" required class="input-field"></textarea>
                  <mat-hint align="end">{{sendActivityEmailForm.controls.emailBody.value?.length || 0}}/50000</mat-hint>
                  <mat-error *ngIf="sendActivityEmailForm.controls.emailBody.invalid && sendActivityEmailForm.controls.emailBody.touched">
                    <div class="err-field" *ngIf="sendActivityEmailForm.controls.emailBody.errors.required">{{ 'SR_ACTIVITY_EMAIL_BODY' | translate }} is Required </div>
                    <div class="err-field" *ngIf="sendActivityEmailForm.controls.emailBody.errors.maxlength">{{ 'SR_ACTIVITY_EMAIL_BODY' | translate }} Maximum Length is 50000 </div>
                  </mat-error>
                </mat-form-field>  

                <div fxLayout="row" class="submit-button" style="margin-top: 10px;">
                    <button mat-raised-button class="space" color="primary" [disabled]="sendActivityEmailForm.invalid"
                      (click)="sendSrActivityEmail()">
                      <span *ngIf="!uploadFlag"> {{'COMMON_SEND' | translate}} </span>
                      <span *ngIf="uploadFlag"> {{'COMMON_SENDING' | translate}} </span></button>
                </div>
 
              </mat-card-content>

            </mat-card>
 

      </form>
    </div>
  </div>
</div>