<div fxLayout="column">
  <div fxLayout="row">
    <div fxFlex="90" fxLayoutAlign="start center">
      <h4 class="dialogue-box-header">{{headingDisplay}} {{ 'BUILDING_BLOCK' | translate }}</h4>
    </div>
    <div fxFlex="10" fxLayoutAlign="end start">
      <mat-icon class="close-icon" (click)="closeBlockModal()">highlight_off</mat-icon>
    </div>
  </div>
  <form fxLayout="column" [formGroup]="buildingBlockCreateForm">

    <div fxLayout="column">
      <div >
        <span class="input-label"> {{ 'LOCATION_NAME' | translate }} <span class="mandatory-style">*</span></span>
        <ng-select #locationName class="input-field" [items]="locationCombo" bindLabel="locDisplayField"
          bindValue="locDisplayField" (search)="loadLocationComboData($event)" (click)="loadLocationComboData($event)"
          [virtualScroll]="true" (scrollToEnd)="loadLocationComboData({})" (keyup.backspace)="loadLocationComboData($event.target.value ? $event : 'back')" (clear)="loadLocationComboData('clear')" [loading]="scrollsyncLocation"
          loadingText="Loading..." (change)="selectedLocationData($event)" formControlName="locationName" required>
        </ng-select>
        <mat-error
          *ngIf="buildingBlockCreateForm.controls.locationName.invalid && buildingBlockCreateForm.controls.locationName.touched">
          <div class="err-field" *ngIf="buildingBlockCreateForm.controls.locationName.errors.required">
             Kindly Select The "{{'LOCATION_NAME' | translate}}"</div>
        </mat-error>
      </div>

      <div  style="margin-top: 10px;">
        <mat-form-field class="example-full-width" [floatLabel]="'always'" hintLabel="{{ CommonhintMsg.MAX_15 }}">
          <mat-label class="example-label input-label"> {{ 'BLOCK_NAME' | translate }} 
            <span class="mandatory-style">*</span>
          </mat-label>
          <input matInput formControlName="blockName" (blur)="checkForblockNameExistence()" [maxlength]="15" class="input-field"
            oninput="this.value = this.value.toUpperCase()">
          <mat-hint align="end">{{buildingBlockCreateForm.controls.blockName.value?.length || 0}}/15</mat-hint>
          <mat-error
            *ngIf="buildingBlockCreateForm.controls.blockName.errors && buildingBlockCreateForm.controls.blockName.touched">
            <div class="err-field" *ngIf="buildingBlockCreateForm.controls.blockName.errors.required"> "{{ 'BLOCK_NAME' | translate }}" Is Required</div>
            <div class="err-field" *ngIf="buildingBlockCreateForm.controls.blockName.errors.notUnique">{{ErrorMsg}}</div>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="mt-10">
        <mat-form-field class="example-full-width" [floatLabel]="'always'" hintLabel="{{ CommonhintMsg.MAX_300 }}">
          <mat-label class="example-label input-label"> {{ 'COMMON_DESC' | translate }} </mat-label>
          <textarea class="input-field" matInput formControlName="blockDesc" [maxlength]="300"
            oninput="this.value = this.value.toUpperCase()"></textarea>
          <mat-hint align="end">{{buildingBlockCreateForm.controls.blockDesc.value?.length || 0}}/300</mat-hint>
        </mat-form-field>
      </div>

      <div >
        <mat-checkbox color="primary" formControlName="active">
          {{'COMMON_ACTIVE' | translate}}
        </mat-checkbox>
      </div>

      <div fxLayoutAlign="center center" *ngIf="headingDisplay!='View'">
        <button mat-raised-button class="space" color="primary" (click)="submitBlock()"
          [disabled]="buildingBlockCreateForm.invalid || !buildingBlockCreateForm.dirty || uploadBlockFlag">
          <span *ngIf="!uploadBlockFlag">{{buttonDisplay}}</span>
          <span *ngIf="uploadBlockFlag">{{'COMMON_LOADING' | translate}} </span>
        </button>
      </div>
    </div>
  </form>
</div>