<div fxLayout="column" fxFlexFill>

    <div fxLayout="column" style="padding-top:0.5%">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'COMMON_SEARCH'| translate}}
          </mat-panel-title>
          <mat-panel-description fxLayoutAlign="end end">
            <mat-icon>search</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header> 
        <div fxLayout="column" id="exp">

          <div fxLayout="row">
            <div class="form-group" fxFlex="30">
              <div class="example-full-width">
                <span class="input-label"> {{ 'BUSINESS_PARTNER_NAME' | translate }}</span>
                <ng-select [items]="partnerCombo" bindLabel="businessPartnerName" bindValue="businessPartnerName" tabindex="1"
                  (search)="listofBusinessPartnerName($event)" (click)="listofBusinessPartnerName($event)" [virtualScroll]="true"
                  (scrollToEnd)="listofBusinessPartnerName({})"
                  (keyup.backspace)="listofBusinessPartnerName($event.target.value ? $event : 'back')"
                  (clear)="listofBusinessPartnerName('clear')" [loading]="scrollPartnerNamesync" loadingText="Loading..."
                  (change)="setPartnerNameComboValue($event)" [ngModelOptions]="{standalone: true}" appendTo="body"
                  [(ngModel)]="businessPartnerModel.businessPartnerName">
                </ng-select>
              </div>
            </div>
  
            <div fxFlex="20">
              <div class="form-group">
                <div class="example-full-width">
                  <span class="input-label">{{ 'COMMON_COUNTRY' | translate }}</span>
                  <ng-select class=" input-field" [items]="countriesList" (search)="getCountryData($event)" (click)="getCountryData({})"
                    (change)="getCountryList($event)" bindLabel="countryName" appendTo="body" bindValue="countryName"
                    (scrollToEnd)="getCountryData({})" (keyup.backspace)="getCountryData($event.target.value ? $event : 'back')"
                    (clear)="getCountryData('clear')" [loading]="scrollCountrysync" loadingText="Loading..."
                    [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="businessPartnerModel.partnerSiteCountry">
                  </ng-select>
                </div>
              </div>
            </div>

            <div fxFlex="20">
              <div class="form-group">
                <div class="example-full-width">
                  <span class="input-label">{{ 'BUSINESS_PARTNER_ROLE_INFO' | translate }}</span>
                  <ng-select [items]="partnerRolesCombo" (search)="listofBusinessPartnerRoles($event)"
                    (click)="listofBusinessPartnerRoles({})"
                    (change)="setPartnerRolesComboValue($event)" bindLabel="businessPartnerRoleName" 
                    appendTo="body" bindValue="businessPartnerRoleId"
                    (scrollToEnd)="listofBusinessPartnerRoles({})"
                     (keyup.backspace)="listofBusinessPartnerRoles($event.target.value ? $event : 'back')"
                    (clear)="listofBusinessPartnerRoles('clear')" [loading]="scrollPartnerRolessync" loadingText="Loading..."
                    [ngModelOptions]="{standalone: true}" multiple="true"
                    [(ngModel)]="businessPartnerModel.selectedRolesList">
                    <ng-template ng-option-tmp let-item="item">
                      <div title="{{item.businessPartnerRoleName}}">{{item.businessPartnerRoleName}}</div>
                    </ng-template>
                  </ng-select>
                </div>
              </div>
            </div>
  
            <div fxFlex="20">
              <div class="form-group h-55">
                <div class="example-full-width">
                  <mat-form-field class="example-full-width" [floatLabel]="'always'">
                    <mat-label class="example-label">{{'BUSINESS_PARTNER_ACTIVE_FROM' | translate }}</mat-label>
                    <input matInput class="input-field" tabindex="3" 
                       (click)="activeFromDt.open()" [matDatepicker]="activeFromDt" [(ngModel)]="businessPartnerModel.activeFromDtDisp">
                    <mat-datepicker-toggle matSuffix [for]="activeFromDt"></mat-datepicker-toggle>
                    <mat-datepicker #activeFromDt [readonly]="false"></mat-datepicker>
                  </mat-form-field>
                </div>
              </div> 
            </div>
            
          </div>

          <div fxLayout="row">
  
            <div fxFlex="30">
              <div class="form-group">
                <div class="example-full-width">
                  <span class="input-label"> {{ 'BUSINESS_PARTNER_SITE_NAME' | translate }}</span>
                  <ng-select [items]="partnerSiteNameList" bindLabel="partnerSiteName" bindValue="partnerSiteName" tabindex="2"
                    (search)="listOfPartnerSiteName($event)" (click)="listOfPartnerSiteName($event)" [virtualScroll]="true"
                    (scrollToEnd)="listOfPartnerSiteName({})"
                    (keyup.backspace)="listOfPartnerSiteName($event.target.value ? $event : 'back')"
                    (clear)="listOfPartnerSiteName('clear')" [loading]="scrollPartnerSiteNamesync" loadingText="Loading..."
                    (change)="setPartnerSiteNameComboValue($event)" [ngModelOptions]="{standalone: true}" appendTo="body"
                    [(ngModel)]="businessPartnerModel.partnerSiteName">
                  </ng-select>
                </div>
              </div>
            </div>
  
            <div fxFlex="20">
              <div class="form-group">
                <div class="example-full-width">
                  <span class="input-label"> {{ 'COMMON_STATE' | translate }} </span>
                  <ng-select [ngModelOptions]="{standalone: true}" (click)="getStateData({})"
                    [virtualScroll]="true" (search)="getStateData($event)" (scrollToEnd)="getStateData({})"
                    (keyup.backspace)="getStateData($event.target.value ? $event : 'back')" (clear)="getStateData('clear')"
                    (change)="setState($event)" [items]="states" bindLabel="stateName" bindValue="stateName" [loading]="scrollStatesync"
                    loadingText="Loading..." appendTo="body"
                    [(ngModel)]="businessPartnerModel.partnerSiteState">
                  </ng-select>
                </div>
              </div>
            </div>  

            <div fxFlex="20">
              <div class="form-group h-55">
                <div class="example-full-width">
                  <span class="input-label"> {{ 'COMMON_CITY' | translate }} </span>
                  <ng-select [ngModelOptions]="{standalone: true}" (click)="getCityData({})" [virtualScroll]="true"
                    (search)="getCityData($event)" (scrollToEnd)="getCityData({})"
                    (keyup.backspace)="getCityData($event.target.value ? $event : 'back')" (clear)="getCityData('clear')"
                    (change)="setCity($event)" [items]="cities" bindLabel="cityName" bindValue="cityName" [loading]="cityscrollsync"
                    loadingText="Loading..." appendTo="body"
                    [(ngModel)]="businessPartnerModel.partnerSiteCity">
                  </ng-select>
                </div>
              </div>
            </div>

            <div fxFlex="20">
              <div class="form-group h-55">
                <div class="example-full-width">
                  <mat-form-field class="example-full-width" [floatLabel]="'always'">
                    <mat-label class="example-label">{{'BUSINESS_PARTNER_ACTIVE_TILL' | translate }}
                    </mat-label>
                    <input matInput class="input-field" tabindex="4" readonly (click)="picker2.open()"
                      [matDatepicker]="picker2" [(ngModel)]="businessPartnerModel.activeTillDtDisp">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2 [readonly]="false"></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
            </div>

              

          </div>
 

          <div fxFlex="60" fxLayout="row" fxLayoutAlign="end">
            <div fxHide.sm fxHide.xs fxLayoutAlign="end" style="margin-right: 10px;">
              <button mat-raised-button color="primary" class="space" matTooltip="Search"
                (click)="searchBusinessPartner()">{{ 'COMMON_SEARCH'
                | translate }}</button>
              <button mat-raised-button color="primary" class="space" matTooltip="Clear" (click)="clearSearch()">{{
                'COMMON_CLEAR' |
                translate }}</button>
              <button mat-raised-button color="primary" class="space" matTooltip="Export"
                (click)="generateReportOfBusinessPartner()">Export</button>
            </div>

            <div fxHide.gt-sm fxLayoutAlign="space-evenly center">
              <button mat-raised-button color="primary" matTooltip="Search" class="space"
                (click)="searchBusinessPartner()">
                <mat-icon>search</mat-icon>
              </button>
              <button mat-raised-button color="primary" matTooltip="Clear" class="space" (click)="clearSearch()">
                <mat-icon>clear_all</mat-icon>
              </button>
              <button mat-raised-button color="primary" matTooltip="Export" class="space"
                (click)="generateReportOfBusinessPartner()">
                <mat-icon>file_download</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    <hr />
  
    <mat-toolbar>
      
      <span class="example-spacer"></span>
  
      <mat-paginator #paginatorUsers [pageSizeOptions]="[5, 10, 25, 50, 100]" [length]="length" [pageIndex]="pageIndex"
      [pageSize]="pageSize" (page)="getServerData($event)"></mat-paginator>
      <span class="example-spacer"></span>
     
      <button mat-raised-button color="primary" *ngIf="businessPartnerAccessModule.createFlagDisplay" class="space sqr-btn" 
      matTooltip="{{ 'COMMON_CREATE' | translate }}" [matTooltipPosition]="'below'"
      (click)="createBusinessPartner(0,'add')" ><mat-icon>add</mat-icon></button>
  
      <button [disabled]=" selectedItem == 0"  matTooltip="{{ 'COMMON_EDIT' | translate }}" mat-raised-button class="space sqr-btn" color="primary"
      *ngIf="businessPartnerAccessModule.updateFlagDisplay" (click)="createBusinessPartner(selectedItem,'edit')">
      <mat-icon>edit</mat-icon>
      </button>
  
      <button [disabled]=" selectedItem == 0"  matTooltip="{{ 'COMMON_VIEW' | translate }}" mat-raised-button class="space sqr-btn" color="primary"
      *ngIf="businessPartnerAccessModule.readFlagDisplay" (click)="createBusinessPartner(selectedItem,'view')">
      <mat-icon>visibility</mat-icon>
     </button>
  
    </mat-toolbar>
  
    </div>

    <div class="example-container">
    <div fxLayout="row">
  
      <table mat-table [dataSource]="businessPartnerDataSource" matSort (matSortChange)="customSort($event)" matSortActive="name"
        matSortDirection="asc" matSortDisableClear>

        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef class="table-head-data"><span>Select</span></th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox color="primary" class="example-margin" (change)="selectBusinessPartner(element)"
             [checked]="selectedItem.businessPartnerId == element.businessPartnerId">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="sNo">
          <th mat-header-cell *matHeaderCellDef class="table-head-data" style="width:5%;">{{'COMMON_S_NO' | translate }}</th>
          <td mat-cell *matCellDef="let element;let i = index;" style="width:5%;">{{i+1}}</td>
        </ng-container>
  
        <ng-container matColumnDef="businessPartnerName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'BUSINESS_PARTNER_NAME' | translate }} </th>
          <td mat-cell *matCellDef="let element" style="text-overflow: ellipsis;" (click)="selectBusinessPartner(element)"> {{element.businessPartnerName}}</td>
        </ng-container>
  
        <!-- <ng-container matColumnDef="businessPartnerCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'BUSINESS_PARTNER_CODE' | translate }} </th>
          <td mat-cell *matCellDef="let element" (click)="selectBusinessPartner(element)"> {{element.businessPartnerCode}}</td>
        </ng-container> -->
  
        <ng-container matColumnDef="activeFromDt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'BUSINESS_PARTNER_ACTIVE_FROM' | translate }} </th>
          <td mat-cell *matCellDef="let element" (click)="selectBusinessPartner(element)"> {{element.activeFromDtDisp}}</td>
        </ng-container>
  
        <ng-container matColumnDef="activeTillDt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'BUSINESS_PARTNER_ACTIVE_TILL' | translate }} </th>
          <td mat-cell *matCellDef="let element" (click)="selectBusinessPartner(element)"> {{element.activeTillDtDisp}}</td>
        </ng-container>

        <ng-container matColumnDef="businessPartnerRoleNameDisp">
          <th mat-header-cell *matHeaderCellDef> {{'BUSINESS_PARTNER_ROLES' | translate }} </th>
          <td mat-cell *matCellDef="let element" style="width:15%; text-overflow: ellipsis;" (click)="selectBusinessPartner(element)"> {{element.businessPartnerRoleNameDisp}}</td>
        </ng-container>
  
        <ng-container matColumnDef="partnerSiteCount">
          <th mat-header-cell *matHeaderCellDef> {{ 'BUSINESS_PARTNER_SITE_COUNT' | translate }} </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;" (click)="selectBusinessPartner(element)"> {{element.partnerSiteCount}} </td>
        </ng-container>
  
        <ng-container matColumnDef="updatedBy">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'COMMON_UPDATED_BY' | translate }} </th>
          <td mat-cell *matCellDef="let element" (click)="selectBusinessPartner(element)"> {{element.updatedBy}}</td>
        </ng-container>
  
        <ng-container matColumnDef="updatedDt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'COMMON_UPDATED_DT' | translate }}</th>
          <td mat-cell *matCellDef="let element" (click)="selectBusinessPartner(element)"> {{element.updatedDtDisp}}</td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;">
        </tr>
      </table> 
    </div>
  
    <div fxLayout="row">
      <mat-card class="no_records_found" *ngIf="length=='0'  && !subLoaderBusinessPartner">
        {{'COMMON_NO_RECORDS_FOUND' | translate}}</mat-card>
      <mat-card class="no_records_found" *ngIf="subLoaderBusinessPartner"  fxFlex="100" fxLayoutAlign="center center">
        <mat-spinner [diameter]="40"></mat-spinner>
      </mat-card>
    </div>
  </div>
  
  </div>