.pad-1-per{
  padding: 1%;
}

.pad-2-per{
  padding: 2% !important;
}

.btn-margin-5px{
  margin: 5px;
}

.header-style {
  font-size: 20px;
  margin-left: 2%;
  padding: 5px;
}

.logo-style{
  padding-top: 5px;
}

.main-body{
  padding: 0px 15px 0px 15px ;
}

.pad-1-per{
  padding: 1%;
}

.top-content-resp{
  margin-top: 0px !important;
}

.card {
  border: 0;
  border-radius: 0px;
  color: #333333;
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.example-full-width {
  width: 95%;
}


mat-label {
  font-family: Roboto,Helvetica Neue,sans-serif !important;
  font-size: 20px !important;
  pointer-events: none;
  transform-origin: 0 0;
}

.mt-3-per{
  margin-top: 3%;
}

.mt-4-per{
  margin-top: 4%;
}

.mt-5-per{
  margin-top: 5%;
}

.width-90-per{
  width: 92%;
}