<div fxLayout="column">
  <div [ngClass.lt-md]="'top-content-resp'" [ngClass.gt-sm]="'top-content'" fxFlex="100" fxLayout="row"
    fxLayoutAlign="space-between center" fxLayout.xs="column">
    <mat-toolbar-row fxLayoutAlign="start center">
      <nav aria-label="breadcrumb">
        <mat-list fxLayout="row" fxLayoutAlign="start center">
          <mat-list-item id="breadCrumbHome"><a href="#" [routerLink]="['/home/dashboard']">
              <mat-icon>home</mat-icon>
              <mat-icon>keyboard_arrow_right</mat-icon>
            </a></mat-list-item>
          <mat-list-item id="breadCrumbMaster">{{'MENU_SETTING' | translate}}</mat-list-item>
          <mat-icon>keyboard_arrow_right</mat-icon>
          <mat-list-item id="breadCrumbOrg"><a (click)="backToOrganization()" class="bread-crumb-link">Organization</a></mat-list-item>
          <mat-icon>keyboard_arrow_right</mat-icon>
          <mat-list-item class="active" aria-current="page">{{headingDisplay}}</mat-list-item>
        </mat-list>
      </nav>
    </mat-toolbar-row>

    <div fxLayoutAlign="end center">
      <button mat-raised-button color="primary" class="btn-margin-5px" tabindex="15" (click)="exit()" id="backButton">{{
        'COMMON_BACK' | translate }}</button>
      <button mat-raised-button color="primary" class="btn-margin-5px" (click)="clearForm()" [disabled]="disableClear"
        id="clearButton">{{ 'COMMON_CLEAR' | translate }}</button>
      <button mat-raised-button color="primary" class="btn-margin-5px"
        [disabled]="organisationForm.invalid || !organisationForm.dirty || uploadOrganizationFlag" tabindex="16"
        (click)="submitOrgData()" id="saveButton">
        <span *ngIf="!uploadOrganizationFlag">{{displayButton}}</span>
        <span *ngIf="uploadOrganizationFlag">{{'COMMON_LOADING' | translate}}</span></button>
    </div>
  </div>

  <div class="card" fxLayout="column">
    <div fxLayout="row" fxFlex="100" fxLayoutAlign="start center">
      <div class="dialogue-box-header pad-2-per" id="orgHeader">
        {{headingDisplay}} {{ 'MENU_ORGANIZATION' | translate }}
      </div>
    </div>

    <div fxLayout="row" fxLayout.xs="column">
      <form [formGroup]="organisationForm" fxLayout="row" fxFlex="100" fxLayoutAlign="space-between start"
        fxLayout.xs="column">
        <div flex fxFlex="30" flex-xs="100" fxLayout="column" fxFlexOrder="1" fxFlexAlign.xs="center" fxFlexFill
          class="pad-1-per">
          <div class="pad-2-per">
            <mat-form-field [floatLabel]="'always'" hintLabel="{{ CommonhintMsg.MAX_100 }}" class="example-full-width">
              <mat-label> {{ 'ORGANIZATION_NAME' | translate }}
                <span class="mandatory-style">*</span>
              </mat-label>
              <input matInput formControlName="orgName" #orgNameField [maxlength]="100" id="orgName"
                tabindex="1">
              <mat-hint align="end">{{organisationForm.controls.orgName.value?.length || 0}}/100</mat-hint>
              <mat-error *ngIf="organisationForm.controls.orgName.invalid && organisationForm.controls.orgName.touched">
                <div class="err-field" *ngIf="organisationForm.controls.orgName.errors.required">
                  {{ 'ORGANIZATION_NAME' | translate }} Is Required </div>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="pad-2-per">
            <mat-form-field class="example-full-width" [floatLabel]="'always'" hintLabel="{{ CommonhintMsg.MAX_5 }}">
              <mat-label class="example-label  input-label"> {{ 'ORGANIZATION_CODE' | translate }}
              </mat-label>
              <input matInput formControlName="orgCode" [maxlength]="5"
                oninput="this.value = this.value.toUpperCase()" class="input-field">
              <mat-hint align="end">{{organisationForm.controls.orgCode.value?.length || 0}}/5
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="pad-2-per width-90-per">
            <span class="input-label">{{ 'COMMON_COUNTRY' | translate }}
              <span class="mandatory-style">*</span></span>
            <ng-select formControlName="orgCountry" [items]="countries" (search)="getCountryData($event)"
              (click)="getCountryData({})" bindLabel="countryName" (change)="getCountryList($event)" required (scrollToEnd)="getCountryData({})" (keyup.backspace)="getCountryData($event.target.value ? $event : 'back')" (clear)="getCountryData('clear')"
              bindValue="countryName" id="orgCountry" tabindex="4" class="input-field" [loading]="scrollsync" loadingText="Loading...">
            </ng-select>
            <mat-error
              *ngIf="organisationForm.controls.orgCountry.invalid && organisationForm.controls.orgCountry.touched">
              <div class="err-field" *ngIf="organisationForm.controls.orgCountry.errors.required">
                Kindly Select The "{{ 'COMMON_COUNTRY' | translate }}"</div>
            </mat-error>
          </div>

          <div class="pad-2-per mt-4-per">
            <mat-form-field [floatLabel]="'always'" hintLabel="{{ CommonhintMsg.MAX_10_DIG }}"
              class="example-full-width">
              <mat-label class="example-label input-label"> {{ 'COMMON_ZIP_CODE' | translate }} 
                <span class="mandatory-style">*</span>
              </mat-label>
              <input matInput formControlName="orgPinCode" tabindex="7" [maxlength]=10 id="orgPinCode"
              oninput="this.value = this.value.toUpperCase()">
              <mat-hint align="end">{{organisationForm.controls.orgPinCode.value?.toString().length || 0}}/10</mat-hint>
              <mat-error
                *ngIf="organisationForm.controls.orgPinCode.invalid && organisationForm.controls.orgPinCode.touched">
                <div class="err-field" *ngIf="organisationForm.controls.orgPinCode.errors.required">
                  "{{ 'COMMON_ZIP_CODE' | translate }}" Is Required </div>
              </mat-error>
            </mat-form-field>
          </div>


          <div class="pad-2-per">
            <mat-form-field [floatLabel]="'always'" hintLabel="{{ CommonhintMsg.MAX_50 }}" class="example-full-width">
              <mat-label class="example-label input-label"> {{ 'COMMON_EMAIL_ID' | translate }} </mat-label>
             <input matInput formControlName="orgEmailId" [maxlength]="50" id="orgEmailId" tabindex="11" (input)="onOrgEmailInput($event)" type="email">
              <mat-hint align="end">{{organisationForm.controls.orgEmailId.value?.length || 0}}/50</mat-hint>
              <mat-error
                *ngIf="organisationForm.controls.orgEmailId.invalid && organisationForm.controls.orgEmailId.touched">
                <div *ngIf="organisationForm.controls.orgEmailId.errors.pattern">
                  {{ 'COMMON_EMAIL_ID' | translate }} Format Should Be "xxx@yyy.zzz" </div>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="pad-1-per width-90-per">
            <span class="input-label">{{ 'DATE_FORMAT' | translate }}
              <span class="mandatory-style">*</span>
          </span>
          <ng-select  formControlName="dateFormat" [items]="formatList" bindLabel="format" bindValue="format" appendTo="body">
          </ng-select>
          <mat-error
          *ngIf="organisationForm.controls.dateFormat.invalid && organisationForm.controls.dateFormat.touched">
              <div class="err-field" *ngIf="organisationForm.controls.dateFormat.errors.required">
                Kindly Select The "{{ 'DATE_FORMAT' | translate }}"</div>
            </mat-error>
          </div>

        </div>

        <div flex fxFlex="30" flex-xs="100" fxLayout="column" fxFlexOrder="2" fxFlexFill class="pad-1-per">

          <div class="pad-2-per">
            <mat-form-field [floatLabel]="'always'" hintLabel="{{ CommonhintMsg.MAX_100 }}" class="example-full-width">
              <mat-label class="example-label input-label"> {{ 'COMMON_ADDRESS_1' | translate }} 
                <span class="mandatory-style">*</span>
              </mat-label>
              <input id="orgAddress1" matInput #focusSet formControlName="orgAddress1" [maxlength]="100"
                tabindex="2">
              <mat-hint align="end">{{organisationForm.controls.orgAddress1.value?.length || 0}}/100</mat-hint>
              <mat-error
                *ngIf="organisationForm.controls.orgAddress1.invalid && organisationForm.controls.orgAddress1.touched">
                <div class="err-field" *ngIf="organisationForm.controls.orgAddress1.errors.required">
                  "{{ 'COMMON_ADDRESS_1' | translate }}" Is Required</div>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="pad-2-per">
            <mat-form-field [floatLabel]="'always'" hintLabel="{{ CommonhintMsg.MAX_100 }}" class="example-full-width">
              <mat-label class="example-label input-label"> {{ 'COMMON_ADDRESS_2' | translate }}</mat-label>
              <input id="orgAddress2" matInput formControlName="orgAddress2" [maxlength]="100" tabindex="3">
              <mat-hint align="end">{{organisationForm.controls.orgAddress2.value?.length || 0}}/100</mat-hint>
            </mat-form-field>
          </div>


          <div class="pad-2-per width-90-per">
            <span class="example-label input-label">{{ 'COMMON_STATE' | translate }}
              <span class="mandatory-style">*</span></span>
            <ng-select id="orgState" formControlName="orgState" [items]="states" bindLabel="stateName"
              (search)="getStateData($event)" [virtualScroll]="true" (scrollToEnd)="getStateData({})" (keyup.backspace)="getStateData($event.target.value ? $event : 'back')" (clear)="getStateData('clear')"
              [loading]="stateScrollsync" loadingText="Loading..." (click)="getStateData({})" (change)="getStateList($event)"
              bindValue="stateName" tabindex="5" class="input-field" required>
            </ng-select>
            <mat-error *ngIf="organisationForm.controls.orgState.invalid && organisationForm.controls.orgState.touched">
              <div class="err-field" *ngIf="organisationForm.controls.orgState.errors.required">
                Kindly Select The "{{ 'COMMON_STATE' | translate }}" </div>
            </mat-error>
          </div>

          <div class="pad-2-per width-90-per mt-3-per">
            <span class="input-label">{{ 'COMMON_CITY' | translate }}
              <span class="mandatory-style">*</span></span>
            <ng-select id="orgCity" formControlName="orgCity" [items]="cities" bindLabel="cityName"
              (search)="getCityData($event)" (click)="getCityData({})" [loading]="Cityscrollsync" loadingText="Loading..."
              (change)="getCityList($event)" [virtualScroll]="true" (scrollToEnd)="getCityData({})" (keyup.backspace)="getCityData($event.target.value ? $event : 'back')" (clear)="getCityData('clear')" bindValue="cityName"
              tabindex="6" class="input-field" required>
            </ng-select>
            <mat-error *ngIf="organisationForm.controls.orgCity.invalid && organisationForm.controls.orgCity.touched">
              <div class="err-field" *ngIf="organisationForm.controls.orgCity.errors.required">
                Kindly Select The "{{ 'COMMON_CITY' | translate }}" </div>
            </mat-error>
          </div>

          <div class="pad-2-per mt-3-per">
            <mat-form-field [floatLabel]="'always'" hintLabel="{{ CommonhintMsg.MAX_20 }}" class="example-full-width">
              <mat-label class="example-label input-label"> {{ 'COMMON_COUNTRY_CODE' | translate }}
                <span class="mandatory-style">*</span>
              </mat-label>
              <input matInput id="countryCode" formControlName="countryCode" [maxlength]="20" tabindex="10">
              <mat-hint align="end">{{organisationForm.controls.countryCode.value?.length || 0}}/20</mat-hint>
              <mat-error
                *ngIf="organisationForm.controls.countryCode.invalid && organisationForm.controls.countryCode.touched">
                <div class="err-field" *ngIf="organisationForm.controls.countryCode.errors.required">
                  "{{ 'COMMON_COUNTRY_CODE' | translate }}" Is Required</div>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="pad-2-per width-90-per">
            <span class="example-label input-label">{{ 'COMMON_CURRENCY_CODE' | translate }}
              <span class="mandatory-style">*</span></span>
            <ng-select id="orgCurCd" formControlName="orgCurCd" (search)="listOfCurrencyCd($event)"  (change)="getCurrencyCodeList($event)"
              (click)="listOfCurrencyCd({})" [items]="currencycdList" [virtualScroll]="true" [loading]="currencyCdScrollsync"
              loadingText="Loading..." (scrollToEnd)="listOfCurrencyCd({})" (keyup.backspace)="listOfCurrencyCd($event.target.value ? $event : 'back')" (clear)="listOfCurrencyCd('clear')" bindLabel="curCd" bindValue="curCd"
              tabindex="13" class="input-field" required>
            </ng-select>
            <mat-error *ngIf="organisationForm.controls.orgCurCd.invalid && organisationForm.controls.orgCurCd.touched">
              <div class="err-field" *ngIf="organisationForm.controls.orgCurCd.errors.required">
                Kindly Select The "{{ 'COMMON_CURRENCY_CODE' | translate }}" </div>
            </mat-error>
          </div>


          <div fxLayout="row" fxFlex="100" class="pad-2-per" fxLayoutAlign="space-between center">
            <!-- <div fxFlex="49" class="pad-1-per">
              <mat-form-field [floatLabel]="'always'" hintLabel="{{ CommonhintMsg.MAX_15_DIG }}"
                class="example-full-width">
                <mat-label class="example-label input-label"> {{ 'COMMON_PHONE_NO' | translate }}
                  <span class="mandatory-style">*</span>
                </mat-label>
                <input id="phoneNo" matInput formControlName="phoneNo" [maxlength]="15" [minlength]="10" tabindex="8">
                <mat-hint align="end">{{organisationForm.controls.phoneNo.value?.length || 0}}/15</mat-hint>
                <mat-error
                  *ngIf="organisationForm.controls.phoneNo.invalid && organisationForm.controls.phoneNo.touched">
                    <div class="err-field" *ngIf="organisationForm.controls.phoneNo.errors.required">
                      "{{ 'COMMON_PHONE_NO' | translate }}" Is Required </div>
                    <div class="err-field" *ngIf="organisationForm.controls.phoneNo.errors.pattern?false:organisationForm.controls.phoneNo.errors.minlength">
                      "{{ 'COMMON_PHONE_NO' | translate }}" Should Be Of Minimum 10 digits </div>
                  <div class="err-field" *ngIf="organisationForm.controls.phoneNo.errors.pattern">
                    Kindly Enter Valid "{{ 'COMMON_PHONE_NO' | translate }}" </div>
                </mat-error>
              </mat-form-field>
            </div>

            <div fxFlex="49" class="pad-1-per">
              <mat-form-field [floatLabel]="'always'" hintLabel="{{ CommonhintMsg.MAX_15_DIG }}"
                class="example-full-width">
                <mat-label class="example-label input-label"> {{ 'COMMON_ALT_PHONE_NO' | translate }}</mat-label>
                <input matInput id="altPhoneNo" formControlName="altPhoneNo" [maxlength]="15" [minlength]="10" tabindex="9">
                <mat-hint align="end">{{organisationForm.controls.altPhoneNo.value?.length || 0}}/15</mat-hint>
                <mat-error
                  *ngIf="organisationForm.controls.altPhoneNo.invalid && organisationForm.controls.altPhoneNo.touched">
                    <div *ngIf="organisationForm.controls.altPhoneNo.errors.pattern?false:organisationForm.controls.altPhoneNo.errors.minlength">
                      "{{ 'COMMON_ALT_PHONE_NO' | translate }}" Should Be Of Minimum 10 Digits</div>
                  <div *ngIf="organisationForm.controls.altPhoneNo.errors.pattern">
                    Kindly Enter Valid "{{ 'COMMON_ALT_PHONE_NO' | translate }}" </div>
                </mat-error>
              </mat-form-field>
            </div> -->
          </div>

          <!-- <div class="pad-2-per" fxLayout="column">

            <div *ngIf="this.fileName!='' && this.fileName!=null">
              <img [src]="imgURL" class="logo-style" alt="Logo" />
              <form class="logoedit"> </form>
            </div>

            <div *ngIf="organisationForm.controls.organizationId.value>0">
              <button color="grey" type="button" (click)="triggerClickEvent()" mat-mini-fab
                matTooltip="{{'COMMON_ATTACH_IMAGE' | translate}}" [matTooltipPosition]="'below'" tabindex="12">
                <mat-icon>attachment</mat-icon>
              </button>

              <div style="padding: 11px !important;font-size: 14px;color: rgb(48, 4, 131);">{{this.fileName}}
              </div>
              <input style="display:none" #imageUpload type="file" name="organizFile" formControlName="organizFile"
                (change)="handleFileInput($event.target.files)" />
            </div>

            <div style="line-height: 100px;">
              <img *ngIf="!logoUploadFlag" src="{{serverUrl}}" class="logo-style" alt="Logo" />
              <form class="logoedit"> </form>
            </div>
          </div> -->
        </div>

        <div flex fxFlex="30" flex-xs="100" fxLayout="column" fxFlexOrder="3" fxFlexFill class="pad-1-per">

          

          


          <!-- <div class="pad-2-per">
            <mat-form-field [floatLabel]="'always'" hintLabel="{{ CommonhintMsg.MAX_20 }}" class="example-full-width">
              <mat-label class="example-label input-label"> {{ 'COMMON_COUNTRY_CODE' | translate }}
                <span class="mandatory-style">*</span>
              </mat-label>
              <input matInput id="countryCode" formControlName="countryCode" [maxlength]="20" tabindex="10">
              <mat-hint align="end">{{organisationForm.controls.countryCode.value?.length || 0}}/20</mat-hint>
              <mat-error
                *ngIf="organisationForm.controls.countryCode.invalid && organisationForm.controls.countryCode.touched">
                <div class="err-field" *ngIf="organisationForm.controls.countryCode.errors.required">
                  "{{ 'COMMON_COUNTRY_CODE' | translate }}" Is Required</div>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="pad-2-per">
            <span class="example-label input-label">{{ 'COMMON_CURRENCY_CODE' | translate }}
              <span class="mandatory-style">*</span></span>
            <ng-select id="orgCurCd" formControlName="orgCurCd" (search)="listOfCurrencyCd($event)"  (change)="getCurrencyCodeList($event)"
              (click)="listOfCurrencyCd({})" [items]="currencycdList" [virtualScroll]="true" [loading]="currencyCdScrollsync"
              loadingText="Loading..." (scrollToEnd)="listOfCurrencyCd({})" (keyup.backspace)="listOfCurrencyCd($event.target.value ? $event : 'back')" (clear)="listOfCurrencyCd('clear')" bindLabel="curCd" bindValue="curCd"
              tabindex="13" class="input-field" required>
            </ng-select>
            <mat-error *ngIf="organisationForm.controls.orgCurCd.invalid && organisationForm.controls.orgCurCd.touched">
              <div class="err-field" *ngIf="organisationForm.controls.orgCurCd.errors.required">
                Kindly Select The "{{ 'COMMON_CURRENCY_CODE' | translate }}" </div>
            </mat-error>
          </div> -->

          <div class="pad-1-per" style="margin-top: 2%;">
              <mat-form-field [floatLabel]="'always'" hintLabel="{{ CommonhintMsg.MAX_15_DIG }}"
                class="example-full-width">
                <mat-label class="example-label input-label"> {{ 'COMMON_PHONE_NO' | translate }}
                  <span class="mandatory-style">*</span>
                </mat-label>
                <input id="phoneNo" matInput formControlName="phoneNo" [maxlength]="15" [minlength]="10" tabindex="8">
                <mat-hint align="end">{{organisationForm.controls.phoneNo.value?.length || 0}}/15</mat-hint>
                <mat-error
                  *ngIf="organisationForm.controls.phoneNo.invalid && organisationForm.controls.phoneNo.touched">
                    <div class="err-field" *ngIf="organisationForm.controls.phoneNo.errors.required">
                      "{{ 'COMMON_PHONE_NO' | translate }}" Is Required </div>
                    <div class="err-field" *ngIf="organisationForm.controls.phoneNo.errors.pattern?false:organisationForm.controls.phoneNo.errors.minlength">
                      "{{ 'COMMON_PHONE_NO' | translate }}" Should Be Of Minimum 10 digits </div>
                  <div class="err-field" *ngIf="organisationForm.controls.phoneNo.errors.pattern">
                    Kindly Enter Valid "{{ 'COMMON_PHONE_NO' | translate }}" </div>
                </mat-error>
              </mat-form-field>
            </div>

            <div  class="pad-1-per" style="margin-top: 1%;">
              <mat-form-field [floatLabel]="'always'" hintLabel="{{ CommonhintMsg.MAX_15_DIG }}"
                class="example-full-width">
                <mat-label class="example-label input-label"> {{ 'COMMON_ALT_PHONE_NO' | translate }}</mat-label>
                <input matInput id="altPhoneNo" formControlName="altPhoneNo" [maxlength]="15" [minlength]="10" tabindex="9">
                <mat-hint align="end">{{organisationForm.controls.altPhoneNo.value?.length || 0}}/15</mat-hint>
                <mat-error
                  *ngIf="organisationForm.controls.altPhoneNo.invalid && organisationForm.controls.altPhoneNo.touched">
                    <div *ngIf="organisationForm.controls.altPhoneNo.errors.pattern?false:organisationForm.controls.altPhoneNo.errors.minlength">
                      "{{ 'COMMON_ALT_PHONE_NO' | translate }}" Should Be Of Minimum 10 Digits</div>
                  <div *ngIf="organisationForm.controls.altPhoneNo.errors.pattern">
                    Kindly Enter Valid "{{ 'COMMON_ALT_PHONE_NO' | translate }}" </div>
                </mat-error>
              </mat-form-field>
            </div>

          <div class="pad-1-per" style="margin-top: 2%;">
            <mat-form-field [floatLabel]="'always'" hintLabel="{{ CommonhintMsg.MAX_30 }}" class="example-full-width">
              <mat-label class="example-label input-label"> {{ 'COMMON_WEBSITE' | translate }} </mat-label>
              <input matInput formControlName="orgWebURL" [maxlength]="30" id="orgWebURL" tabindex="14">
              <mat-hint align="end">{{organisationForm.controls.orgWebURL.value?.length || 0}}/30</mat-hint>
            </mat-form-field>
          </div>

          <div class="pad-1-per" style="margin-top: 4%;" fxLayout="column">

            <div *ngIf="this.fileName!='' && this.fileName!=null">
              <img [src]="imgURL" class="logo-style" alt="Logo" />
              <form class="logoedit"> </form>
            </div>

            <div *ngIf="organisationForm.controls.organizationId.value>0">
              <button color="grey" type="button" (click)="triggerClickEvent()" mat-mini-fab
                matTooltip="{{'COMMON_ATTACH_IMAGE' | translate}}" [matTooltipPosition]="'below'" tabindex="12">
                <mat-icon>attachment</mat-icon>
              </button>

              <div style="padding: 11px !important;font-size: 14px;color: rgb(48, 4, 131);">{{this.fileName}}
              </div>
              <input style="display:none" #imageUpload type="file" name="organizFile" formControlName="organizFile"
                (change)="handleFileInput($event.target.files)" />
            </div>

            <div style="line-height: 100px;">
              <img *ngIf="!logoUploadFlag" src="{{serverUrl}}" class="logo-style" alt="Logo" />
              <form class="logoedit"> </form>
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>
