<div fxLayout="column">
  <div class="content_section_background">
    <div class="row">
      <div class="table_section">

        <div  style="padding-top: 0.5%;">
          <mat-expansion-panel fxLayout="column" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title class="panel-header">
                {{'COMMON_SEARCH'| translate}} {{'PRINTER_TEMPLATE'| translate}}
              </mat-panel-title>
              <mat-panel-description fxLayoutAlign="end end">
                <mat-icon>search</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div fxFlex="100">
              <form fxLayout="row" [formGroup]="printerForm">

                <div fxFlex="33">
                  <div class="example-full-width">
                  <span class="input-label">{{'LOCATION_NAME' | translate}}</span>
                  <ng-select class=" input-field" required formControlName="locationName"
                    (search)="listOfLocationName($event)" (click)="listOfLocationName({})" appendTo="body"
                    (change)="setLocationNameComboValue($event)" [items]="locationCombo" [virtualScroll]="true"
                    (scrollToEnd)="listOfLocationName({})" (keyup.backspace)="listOfLocationName($event.target.value ? $event : 'back')" (clear)="listOfLocationName('clear')" [loading]="scrollLocationNameSync" bindLabel="locDisplayField"
                    bindValue="locDisplayField" tabindex="1">
                  </ng-select>
                  </div>
                </div>

                <div fxFlex="33">
                  <div class="example-full-width">
                    <span class="input-label">{{'PRINTER_MODEL' | translate}}</span>
                    <ng-select  [(ngModel)]="printerTemplateModel.printerModel"
                      [ngModelOptions]="{standalone: true}" (search)="listOfPrinterModel($event)" appendTo="body"
                      (click)="listOfPrinterModel({})" (change)="setPrinterModel($event)" [items]="printerModelCombo"
                      [virtualScroll]="true" (scrollToEnd)="listOfPrinterModel({})" (keyup.backspace)="listOfPrinterModel($event.target.value ? $event : 'back')" (clear)="listOfPrinterModel('clear')" [loading]="scrollPrinterModelSync"
                      bindLabel="printerModel" bindValue="printerModel" tabindex="1">
                    </ng-select>
                  </div>
                </div>


                <div fxFlex="33" fxLayoutAlign="end center">
                  <button mat-raised-button fxHide.sm fxHide.xs class="space" color="primary"
                    (click)="searchPrinterTemplate()">{{'COMMON_SEARCH' | translate}}</button>
                  <button mat-raised-button fxHide.gt-sm matTooltip="Search" class="space" color="primary"
                    (click)="searchPrinterTemplate()">
                    <mat-icon>search</mat-icon>
                  </button>

                  <button mat-raised-button fxHide.sm fxHide.xs class="space" color="primary"
                    (click)="clear()">{{'COMMON_CLEAR' |
                    translate}}</button>
                  <button mat-raised-button fxHide.gt-sm matTooltip="Clear" class="space" color="primary"
                    (click)="clear()">
                    <mat-icon>clear_all</mat-icon>
                  </button>
                </div>

              </form>
            </div>
          </mat-expansion-panel>
        </div>

        <mat-toolbar>
          <span>{{'PRINTER_TEMPLATE'| translate}} List</span>
          <span class="example-spacer"></span>

          <mat-paginator #paginatorUsers [pageSizeOptions]="[5, 10, 25, 50, 100]" [length]="length" [pageIndex]="pageIndex"
          [pageSize]="pageSize" (page)="getServerData($event)">
          </mat-paginator>
          <span class="example-spacer"></span>

          <button mat-raised-button class="space sqr-btn" *ngIf="modelAccessModule.createFlagDisplay"
            (click)="printerTemplateCreate(0,'add')" color="primary">
            <mat-icon>add</mat-icon>
          </button>

          <button mat-raised-button class="space sqr-btn" [disabled]="selectedItem == 0" matTooltip="{{ 'COMMON_DOWNLOAD' | translate }}" matTooltipPosition="below" (click)="downloadDocument(selectedItem.templatePath)" color="primary">
            <mat-icon>cloud_download</mat-icon>
          </button>

          <button mat-raised-button class="space sqr-btn" [disabled]="selectedItem == 0" *ngIf="modelAccessModule.updateFlagDisplay"
          matTooltip="{{'COMMON_EDIT' | translate}}" (click)="printerTemplateCreate(selectedItem,'edit')" color="primary">
            <mat-icon >edit</mat-icon>
          </button>

          <button mat-raised-button class="space sqr-btn" [disabled]="selectedItem == 0" *ngIf="modelAccessModule.deleteFlagDisplay" color="primary">
            <mat-icon matTooltip="{{'COMMON_DELETE' | translate}}"
            (click)="deletePrinterTemplate(selectedItem.printerTemplateId,selectedItem.templatePath)">delete</mat-icon>
          </button>
        </mat-toolbar>


    <div class="printer-container-table">
        <table mat-table [dataSource]="printerTemplateDataSource" matSort (matSortChange)="customSort($event)"
          matSortActive="name" matSortDirection="asc" matSortDisableClear >
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef class="table-head-data"><span>Select</span></th>
            <td mat-cell *matCellDef="let element" >
              <mat-checkbox color="primary" class="example-margin" (change)="selectPrinterTemplate(element)"
                [checked]="selectedItem.printerTemplateId == element.printerTemplateId">
              </mat-checkbox>
            </td>
          </ng-container>
          <ng-container matColumnDef="sno">
            <th mat-header-cell class="table-head-data" *matHeaderCellDef> {{ 'COMMON_S_NO' | translate }} </th>
            <td mat-cell class="table-cell-data" *matCellDef="let element; let i=index;" (click)="selectPrinterTemplate(element)">
              {{getIndexValue(i+1)}} </td>
          </ng-container>
          <ng-container matColumnDef="printerModelTO.printerModel">
            <th mat-header-cell class="table-head-data" *matHeaderCellDef mat-sort-header >{{'PRINTER_MODEL' | translate }}</th>
            <td mat-cell class="table-cell-data" *matCellDef="let element" (click)="selectPrinterTemplate(element)">
              {{element.printerModel}} </td>
          </ng-container>
          <ng-container matColumnDef="printerLabelSizeTO.labelSize">
            <th mat-header-cell class="table-head-data" *matHeaderCellDef mat-sort-header style="text-align:center;">{{
              'PRINTER_LABEL_SIZE' | translate }}
            </th>
            <td mat-cell class="table-cell-data" *matCellDef="let element" style="text-align:center;"
            (click)="selectPrinterTemplate(element)">
              {{element.labelSize}} </td>
          </ng-container>
          <ng-container matColumnDef="templateName">
            <th mat-header-cell class="table-head-data" *matHeaderCellDef mat-sort-header style="text-align:center;">{{
              'PRINTER_TEMPLATE_NAME' | translate }}
            </th>
            <td mat-cell class="table-cell-data" *matCellDef="let element" style="text-align:center;"
            (click)="selectPrinterTemplate(element)">
              {{element.templateName}} </td>
          </ng-container>
          <ng-container matColumnDef="fileName">
            <th mat-header-cell class="table-head-data" *matHeaderCellDef mat-sort-header style="text-align:center;">{{
              'PRINTER_FILE_NAME' | translate }}
            </th>
            <td mat-cell class="table-cell-data" *matCellDef="let element" style="text-align:center;"
            (click)="selectPrinterTemplate(element)">
              {{element.fileName}} </td>
          </ng-container>
          <ng-container matColumnDef="defaultTemplate">
            <th mat-header-cell class="table-head-data" *matHeaderCellDef mat-sort-header style="text-align:center;">{{
              'PRINTER_DEFAULT_TEMPLATE' | translate
              }}</th>
            <td mat-cell *matCellDef="let element" style="text-align:center;" (click)="selectPrinterTemplate(element)">
              <mat-icon *ngIf=element.defaultTemplate style="color: #3f51b5">check_circle_outline</mat-icon>
              <mat-icon *ngIf=!element.defaultTemplate style="color: #3f51b5">highlight_off</mat-icon>
            </td>
          </ng-container>
          <ng-container matColumnDef="updatedBy">
            <th mat-header-cell class="table-head-data" *matHeaderCellDef mat-sort-header>{{ 'COMMON_UPDATED_BY' |
              translate }} </th>
            <td mat-cell class="table-cell-data" *matCellDef="let element" (click)="selectPrinterTemplate(element)">
              {{element.updatedBy}}</td>
          </ng-container>
          <ng-container matColumnDef="updatedDt">
            <th mat-header-cell class="table-head-data" *matHeaderCellDef mat-sort-header>{{ 'COMMON_UPDATED_DT' |
              translate }} </th>
            <td mat-cell class="table-cell-data" *matCellDef="let element" (click)="selectPrinterTemplate(element)">
              {{element.updatedDtDisp}}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
          <tr mat-row *matRowDef="let element; columns: displayedColumns;">
          </tr>
        </table>

        <mat-card class="no_records_found" *ngIf="length=='0' && !subLoaderPrinterTemplate"
          fxLayoutAlign="center center">
          {{'COMMON_NO_RECORDS_FOUND' | translate}}</mat-card>

        <mat-card class="no_records_found" *ngIf="subLoaderPrinterTemplate" fxLayoutAlign="center center">
          <mat-spinner [diameter]="40"></mat-spinner>
        </mat-card>
      </div>
      </div>
    </div>
  </div>
</div>
