<div fxLayout="column" class="card-style">

  <div fxLayoutAlign="start center">
    <div fxFlex="80" fxFlex.xs="60" fxFlex.sm="60">
      <h4 class="section_title">{{ 'MENU_LOCATION_ACCESS' | translate }}</h4>
    </div>
    <div fxFlex="20" fxFlex.xs="40" fxFlex.sm="40" fxLayout="row" fxLayoutAlign="end end">
      <button mat-raised-button color="primary" (click)="clear()" tabindex="3" class="space" [disabled]="!modelAccessModule.createFlagDisplay && !modelAccessModule.updateFlagDisplay && !modelAccessModule.deleteFlagDisplay"> {{'COMMON_CLEAR' |
        translate}} </button>
      <button mat-raised-button color="primary" (click)="submitData()"
        [disabled]="userComboFormGroup.invalid || uploadFlagUser || (!modelAccessModule.createFlagDisplay && !modelAccessModule.updateFlagDisplay && !modelAccessModule.deleteFlagDisplay)" tabindex="2">
        <span *ngIf="!uploadFlagUser"> {{'COMMON_SUBMIT' | translate}} </span>
        <span *ngIf="uploadFlagUser"> {{'COMMON_LOADING' | translate}} </span>
      </button>
    </div>
  </div>

  <form [formGroup]="userComboFormGroup" fxLayout="row">
    <div fxFlex="30">
      <p class="input-label"> {{ 'USER' | translate }} <span class="mandatory-style">*</span> </p>
      <ng-select #userNameFocus class=" input-field" [items]="userComboData" bindLabel="userName"
        (search)="userComboSearch($event)" (click)="userComboSearch($event)" tabindex="1" [virtualScroll]="true"
        (scrollToEnd)="userComboSearch({})" (keyup.backspace)="userComboSearch($event.target.value ? $event : 'back')" (clear)="userComboSearch('clear')" [loading]="scrolluserComboSync" loadingText="Loading..."
        (change)="userComboSelectValue($event)" formControlName="usersearchCombo" #locationComboField>
      </ng-select>
      <mat-error
        *ngIf="userComboFormGroup.controls.usersearchCombo.invalid && userComboFormGroup.controls.usersearchCombo.touched">
        <div class="err-field" *ngIf="userComboFormGroup.controls.usersearchCombo.errors.required">
          "{{'USER' | translate}}" Is Required</div>
      </mat-error>
    </div>
    <div fxFlex="30"></div>
    <div fxFlex="30">
      <!-- <div>
          <button mat-raised-button color="primary" (click)="clear()" tabindex="3"> {{'COMMON_CLEAR' |
            translate}} </button>
          <button mat-raised-button color="primary" (click)="submitData()"
            [disabled]="userComboFormGroup.invalid || uploadFlagUser" tabindex="2">
            <span *ngIf="!uploadFlagUser"> {{'COMMON_SUBMIT' | translate}} </span>
            <span *ngIf="uploadFlagUser"> {{'COMMON_LOADING' | translate}} </span>
          </button>
        </div> -->
    </div>
  </form> 
    <div class="user-container-table">
      <table mat-table [dataSource]="locationAccessModelList" *ngIf="locationAccessModel.userId>0">

        <!-- Name Column -->
        <ng-container matColumnDef="accessLocationName">
          <th mat-header-cell *matHeaderCellDef> {{ 'MENU_LOCATION_ACCESS' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.accessLocName}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="locShortName">
          <th mat-header-cell *matHeaderCellDef> {{ 'USER_SHORT_NAME' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.locShortName}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="locationCode">
          <th mat-header-cell *matHeaderCellDef> {{ 'USER_LOCATION_CODE' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.locationCode}} </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="allocateFlag" >
          <th mat-header-cell *matHeaderCellDef> {{ 'USER_ACCESS' | translate }} </th>
          <td mat-cell *matCellDef="let element">
            <mat-slide-toggle [checked]="element.allocateFlag" color="primary" *ngIf="modelAccessModule.createFlagDisplay || modelAccessModule.updateFlagDisplay || modelAccessModule.deleteFlagDisplay"
              [disabled]="disableAssignOption===element.accessLocationId" [(ngModel)]="element.allocateFlag"
              [ngModelOptions]="{standalone: true}"></mat-slide-toggle>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>  

</div>