<div fxLayout="column">
  <div fxLayout="row">
    <div fxFlex="90">
      <h4 class="dialogue-box-header"> {{'CONTRACT_INSURANCE_DOCUMNET' | translate}}</h4>
    </div>
    <div fxFlex="10" fxLayoutAlign="end start">
      <mat-icon (click)="closeModal()" class="close-icon">highlight_off</mat-icon>
    </div>
  </div>
 
  <form [formGroup]="contractDocumentForm">
    
    <div fxLayout="column">
        <div class="form-group">
          <mat-form-field class="example-full-width" [floatLabel]="'always'">
            <mat-label class="input-label"> {{ 'CONTRACT_DOCUMENT_NAME' | translate }} </mat-label>
            <input #docName matInput formControlName="docName" required oninput="this.value = this.value.toUpperCase()" class="input-field" (blur)="uniqueValidation()">
            <mat-error *ngIf="contractDocumentForm.controls.docName.invalid && contractDocumentForm.controls.docName.touched">
              <div class="err-field" *ngIf="contractDocumentForm.controls.docName.errors.required">"{{ 'CONTRACT_DOCUMENT_NAME' | translate }}" Is Required </div>
              <div class="err-field" *ngIf="contractDocumentForm.controls.docName.errors.maxlength">{{ 'CONTRACT_DOCUMENT_NAME' | translate }} Maximum length is 50</div>
              <div class="err-field" *ngIf="contractDocumentForm.controls.docName.errors.notUnique">{{ 'CONTRACT_DOC' | translate }} With Same Name Exists Already</div>
            </mat-error>
          </mat-form-field>
        </div>
   
  
      <div>
        <div class="form-group">
            <div class="example-full-width">
            <span class="input-label"> {{ 'CONTRACT_DOCUMENT_TYPE' | translate }} <span class="mandatory-style">*</span> </span>
          <ng-select formControlName="docType" (change)="setDocType($event)" bindLabel="name" 
            [items]="docTypeList">
          </ng-select>
          <mat-error *ngIf="contractDocumentForm.controls.docType.invalid && contractDocumentForm.controls.docType.touched">
            <div class="err-field" *ngIf="contractDocumentForm.controls.docType.errors.required" class="err-field">Kindly Select The "{{ 'CONTRACT_DOCUMENT_TYPE' | translate }}"</div>
          </mat-error>
          </div>
        </div>   
      </div>
   
    <div fxLayout="row" fxFlex="100" class="form-group"  style="margin-top: 15px;">
      <label fxFlex="10" class="input-label">{{ 'COMMON_FILE' | translate }}<span class="mandatory-style">*</span></label>
      <div  fxFlex="50" fxLayoutAlign="start center">
            <button color="grey" onclick="document.getElementById('imgContractupload').click()" mat-mini-fab matTooltip="{{'COMMON_ATTACH_FILE' | translate}}" [matTooltipPosition]="'below'">
                <mat-icon>attachment</mat-icon>
              </button>
              <div style="padding: 11px !important;font-size: 14px;color: rgb(48, 4, 131);">{{this.fileName}}</div>
              <input style="display:none" id="imgContractupload" type="file" name="organizFile" formControlName="filePath" (change)="handleFileInput($event.target.files)"/>
      </div>  
    </div>

   
      <div fxLayoutAlign="center center">
          <button mat-raised-button type="button" (click)="uploadContractDocFile()" 
          color="primary" [disabled]="contractDocumentForm.invalid || !contractDocumentForm.dirty">{{ 'COMMON_SUBMIT' | translate }}</button>
      </div>
    </div>
  </form>
</div>