<div fxLayout="column">
  <div fxLayout="row">
    <div fxFlex="45" fxFlex.sm="40">
      <mat-toolbar-row>
        <mat-list fxLayout="row">
          <mat-list-item><a href="#" [routerLink]="['/home/dashboard']">
              <mat-icon>home</mat-icon>
              <mat-icon>keyboard_arrow_right</mat-icon>
            </a>
          </mat-list-item>

          <mat-list-item>{{ 'MENU_SETTING' | translate }}
            <mat-icon>keyboard_arrow_right</mat-icon>
          </mat-list-item>

          <mat-list-item><a (click)="navigateToUser()" class="bread-crumb-link">{{ 'MENU_USER_MGMT' | translate }}</a>
            <mat-icon>keyboard_arrow_right</mat-icon>
          </mat-list-item>

          <mat-list-item><a (click)="navigateToUser()" class="bread-crumb-link">{{ 'MENU_USER' | translate }}</a>
            <mat-icon>keyboard_arrow_right</mat-icon>
          </mat-list-item>

          <mat-list-item aria-current="page">{{headingDisplay}}</mat-list-item>
        </mat-list>
      </mat-toolbar-row>
    </div>
    <div fxFlex="30" fxFlex.sm="25" fxLayoutAlign="start center">
      <span class="mandatory-style" *ngIf="editable_msg != ''">{{editable_msg}}"{{ 'COMMON_GROUP_ACCESS' | translate }}"{{editable_msg1}}</span>
    </div>
    <div fxFlex="25" fxFlex.sm="35" fxLayoutAlign="end center">
      <button mat-raised-button class="space" color="primary" (click)="exit()">{{'COMMON_BACK' | translate}}</button>
      <button *ngIf="!modeDisplay" mat-raised-button color="primary" class="space" (click)="clear()"
       [disabled]="disbleClear">{{ 'COMMON_CLEAR' |
        translate }}</button>
      <button *ngIf="!modeDisplay" mat-raised-button type="button" class="space col-md-2" color="primary"
        [disabled]="userAddEditFormGroup.invalid || uploadFlagUser" (click)="save()">
        <span *ngIf="!uploadFlagUser"> {{buttonDisplay}} </span>
        <span *ngIf="uploadFlagUser"> {{'COMMON_LOADING' | translate}} </span>
      </button>
     
    </div>
  </div>

  <form fxLayout="column" [formGroup]="userAddEditFormGroup">
    <div>
      <mat-card fxLayout="column" class="card-design">
        <mat-card-content fxLayout="column" >
          <div fxLayout="row" fxLayout.lt-md="column" fxFlex="100">
            <div fxLayout.lt-md="row" fxFlex.lt-md="100"  fxLayout="row" fxFlex="50">
            <div fxFlex="50">
              <div class="mt-10-px h_40_px">
              <span>{{ 'LOCATION_NAME' | translate }} <span class="mandatory-style">*</span>
              </span>
              <ng-select [tabIndex]=1 [items]="locationCombo" autofocus #FormFirstItemUser
                bindLabel="locDisplayField" (search)="loadLocationComboData($event)" required
                (click)="loadLocationComboData($event)" [virtualScroll]="true" (scrollToEnd)="loadLocationComboData({})" (keyup.backspace)="loadLocationComboData($event.target.value ? $event : 'back')" (clear)="loadLocationComboData('clear')"
                [loading]="scrollsync" loadingText="Loading..." (change)="selectedLocationData($event)"
                formControlName="locationName" class="example-full-width input-field"></ng-select>
                <mat-error
                  *ngIf="userAddEditFormGroup.controls.locationName.invalid && userAddEditFormGroup.controls.locationName.touched">
                  <div class="err-field" *ngIf="userAddEditFormGroup.controls.locationName.errors.required">
                    Kindly Select The "{{'LOCATION_NAME' | translate}}" </div>
                </mat-error>
              </div>
              <div class="mt-32-px">
                <mat-form-field class="example-full-width input-label" [floatLabel]="'always'" hintLabel="{{ CommonhintMsg.MAX_50 }}">
                  <mat-label> {{'COMMON_EMAIL_ID' | translate}}
                    <span class="mandatory-style"></span>
                  </mat-label>
                  <input matInput tabindex="5" formControlName="emailId" required (input)="onEmailIdInput($event)" type="email">
                  <mat-hint align="end">{{userAddEditFormGroup.controls.emailId.value?.length || 0}}/50</mat-hint>
                  <mat-error *ngIf="userAddEditFormGroup.controls.emailId.invalid && userAddEditFormGroup.controls.emailId.touched">
                    <div class="err-field" *ngIf="userAddEditFormGroup.controls.emailId.errors.required">
                      "{{'COMMON_EMAIL_ID' | translate}}" Is Required</div>
                    <div class="err-field" *ngIf="userAddEditFormGroup.controls.emailId.errors.pattern">
                      {{ 'COMMON_EMAIL_ID' | translate }} Format Should Be "xxx@yyy.zzz"</div>
                  </mat-error>
                </mat-form-field>
              </div>
              </div>

            <div fxFlex="50">
              <div class="mt-10-px">
              <span>{{ 'USER_TYPE' | translate }}</span>
              <ng-select [tabIndex]=2 [items]="userTypeCombo" formControlName="userType"
                (change)="selectUserType($event)" bindLabel="userTypeName" bindValue="userTypeName" class="example-full-width input-field"></ng-select>
              </div>
              <div class="mt-32-px">
                <mat-form-field class="example-full-width input-label" [floatLabel]="'always'" hintLabel="{{ CommonhintMsg.MAX_15 }}">
                  <mat-label> {{'COMMON_PHONE_NO' | translate}} 
                    <span class="mandatory-style">*</span>
                  </mat-label>
                  <input matInput [tabIndex]=6 formControlName="phoneNumber" [maxlength]="15" [minlength]="10" class="example-full-width">
                  <mat-hint align="end">{{userAddEditFormGroup.controls.phoneNumber.value?.length || 0}}/15</mat-hint>
                  <mat-error
                    *ngIf="userAddEditFormGroup.controls.phoneNumber.invalid && userAddEditFormGroup.controls.phoneNumber.touched">
                    <div class="err-field" *ngIf="userAddEditFormGroup.controls.phoneNumber.errors.required">
                      "{{'COMMON_PHONE_NO' | translate}}" Is Required</div>
                      <div class="err-field" *ngIf="userAddEditFormGroup.controls.phoneNumber.errors.pattern?false:userAddEditFormGroup.controls.phoneNumber.errors.minlength">
                        "{{'COMMON_PHONE_NO' | translate}}" Should Be Of Minimum 10 Digits</div>
                    <div class="err-field" *ngIf="userAddEditFormGroup.controls.phoneNumber.errors.pattern">
                      Kindly Enter Valid "{{ 'COMMON_PHONE_NO' | translate }}"</div>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            </div>
            <div fxLayout.lt-md="row" fxFlex.lt-md="100"  fxLayout="row" fxFlex="50">
            <div fxFlex="50">
              <div class="mt-10-px">
              <span>{{userTypeName}}</span>
              <ng-select [tabIndex]=3 [items]="customerEmployeeSupplierComboData"
                bindValue="custSuppEmpName" (search)="getCustomerComboData($event)"
                (click)="getCustomerComboData($event)" [virtualScroll]="true" (scrollToEnd)="getCustomerComboData({})" (keyup.backspace)="getCustomerComboData($event.target.value ? $event : 'back')" (clear)="getCustomerComboData('clear')"
                [loading]="custScrollsync" loadingText="Loading..." (change)="getEmpCustSuppData($event)"
                bindLabel="custSuppEmpName" formControlName="custEmpName" class="example-full-width input-field">
              </ng-select>
              <mat-error *ngIf="userAddEditFormGroup.controls.custEmpName.invalid">
                <div class="err-field" *ngIf="userAddEditFormGroup.controls.custEmpName.errors.notUnique">{{EmpErrorMsg}}</div>
              </mat-error>
              </div>
              <div [ngClass]="EmpErrorMsg == '' ? 'mt-32-px' : 'mt-10-px'">
                <mat-form-field class="example-full-width input-label" [floatLabel]="'always'" hintLabel="{{ CommonhintMsg.MAX_50 }}">
                  <mat-label> {{'USER_LOGIN_ID' | translate}} <span class="mandatory-style">*</span></mat-label>
                  <input matInput [tabIndex]=7 formControlName="loginId"  [maxlength]="50"
                    (input)="checkUniqueConstrainForUser()" class="input-field" oninput="this.value = this.value.toLowerCase()"> 
                  <mat-hint align="end">{{userAddEditFormGroup.controls.loginId.value?.length || 0}}/50</mat-hint>
                  <mat-error
                    *ngIf="userAddEditFormGroup.controls.loginId.errors && userAddEditFormGroup.controls.loginId.touched">
                    <div class="err-field" *ngIf="userAddEditFormGroup.controls.loginId.errors.required">
                      "{{'USER_LOGIN_ID' | translate}}" Is Required
                    </div>
                    <div class="err-field" *ngIf="userAddEditFormGroup.controls.loginId.errors.notUnique">
                      {{ErrorMsg}}</div>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div fxFlex="50">
              <div class="mt-4-px">
              <mat-form-field class="example-full-width input-label" [floatLabel]="'always'" hintLabel="{{ CommonhintMsg.MAX_50 }}">
                <mat-label> {{'USER' | translate}} <span class="mandatory-style">*</span></mat-label>
                <input matInput  autocomplete="new-user" [tabIndex]=4 formControlName="userName"  [maxlength]="50"
                  class="input-field">
                <mat-hint align="end">{{userAddEditFormGroup.controls.userName.value?.length || 0}}/50</mat-hint>
                <mat-error
                  *ngIf="userAddEditFormGroup.controls.userName.invalid && userAddEditFormGroup.controls.userName.touched">
                  <div class="err-field" *ngIf="userAddEditFormGroup.controls.userName.errors.required">"{{'USER' | translate}}" Is Required
                  </div>
                </mat-error>
              </mat-form-field>
              </div>
              <div class="mt-13-px">
                <mat-form-field class="example-full-width input-label" [floatLabel]="'always'"
                  hintLabel="{{ CommonhintMsg.MAX_100 }}">
                  <mat-label> {{'USER_PWD' | translate}} <span class="mandatory-style">*</span></mat-label>
                  <input matInput autocomplete="new-password" [tabIndex]=8 formControlName="password" type="password" [maxlength]="100" class="input-field">
                  <mat-hint align="end">{{userAddEditFormGroup.controls.password.value?.length || 0}}/100</mat-hint>
                  <mat-error
                    *ngIf="userAddEditFormGroup.controls.password.invalid && userAddEditFormGroup.controls.password.touched">
                    <div class="err-field" *ngIf="userAddEditFormGroup.controls.password.errors.required">"{{'USER_PWD' | translate}}" Is Required
                    </div>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            </div>
          </div>

          <div fxLayout="row" fxFlex="100">
            <div fxFlex="25" fxFlex.lt-md="50" class="mt-13-px">
              <mat-form-field class="example-full-width input-label" [floatLabel]="'always'" >
                <mat-label> {{'USER_VALID_FROM' | translate}} <span class="mandatory-style">*</span></mat-label>
                <input matInput [tabIndex]=9 formControlName="validFromDtDisp" (click)="picker1.open()"
                  [max]="userAddEditFormGroup.controls.validToDtDisp.value" [matDatepicker]="picker1"
                  (keypress)="dateValidation1($event)" class="input-field">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
                <mat-error
                  *ngIf="userAddEditFormGroup.controls.validFromDtDisp.invalid && userAddEditFormGroup.controls.validFromDtDisp.touched">
                  <div class="err-field" *ngIf="userAddEditFormGroup.controls.validFromDtDisp.errors.required">
                   Kindly Select The "{{'USER_VALID_FROM' | translate}}" Date</div>
                </mat-error>
              </mat-form-field>
            </div>

            <div fxFlex="25"  fxFlex.lt-md="50" class="mt-13-px">
              <mat-form-field class="example-full-width input-label" [floatLabel]="'always'">
                <mat-label> {{'USER_VALID_TO' | translate}} </mat-label>
                <input matInput [tabIndex]=10 formControlName="validToDtDisp" (click)="picker2.open()"
                  [matDatepicker]="picker2" [min]="userAddEditFormGroup.controls.validFromDtDisp.value"
                  (keypress)="dateValidation2($event)" class="input-field">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>

            <div fxFlex="25"  fxFlex.lt-md="50" class="mt-25-px">
              <mat-checkbox formControlName="active" color="primary" class="example-margin">
                <mat-label> {{'COMMON_ACTIVE' | translate}} </mat-label>
                <br />
              </mat-checkbox>
            </div>
          </div>

        </mat-card-content>
      </mat-card>
    </div>
    <div fxLayout="column">
      <div fxLayout="column" style="margin-bottom:5%;">
        <div [@.disabled]="true">
          <mat-tab-group [selectedIndex]="selectedIndex">
            <mat-tab [formGroup]="employeeAddEditFormGroup">
              <ng-template mat-tab-label>
                {{'USER_PERSONAL_INFO' | translate }}
              </ng-template>
              <mat-card>
                <div fxLayout="row" fxFlex="100">
                  <div fxFlex="25">
                    <div>
                      <div class="row title"> {{ 'EMPLOYEE_CONTACT_NO' | translate }} </div>
                      <div class="row value"> {{employeeAddEditFormGroup.controls.personalContactNo.value}} </div>
                    </div>
                    <br />
                      <div class="row title"> {{ 'EMPLOYEE_GENDER' | translate }} </div>
                      <div class="row value"> {{employeeAddEditFormGroup.controls.gender.value}} </div>
                  </div>
                  <div fxFlex="25">
                    <div>
                      <div class="row title"> {{ 'COMMON_EMAIL_ID' | translate }} </div>
                      <div class="row value"> {{employeeAddEditFormGroup.controls.personalEmailId.value}} </div>
                    </div>
                    <br />
                  </div>
                  <div fxFlex="25">
                    <div class="col-md-12">
                      <div class="row title"> {{ 'EMPLOYEE_BLOOD_GROUP' | translate }} </div>
                      <div class="row value"> {{employeeAddEditFormGroup.controls.bloodGroup.value}} </div>
                    </div>
                    <br />
                  </div>
                  <div fxFlex="25">
                      <div class="row title"> {{ 'EMPLOYEE_DATE_OF_BIRTH' | translate }} </div>
                      <div class="row value"> {{employeeAddEditFormGroup.controls.dobDisp.value}} </div>
                    <br />
                  </div>
                </div>
              </mat-card>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                {{'USER_SKILL_TRAINING' | translate }}
              </ng-template>
              <mat-card fxLayout="column">
                <mat-card-content fxLayout="column">
                  <table mat-table [dataSource]="skillTraingDataSource" matSort>
                    <ng-container matColumnDef="sno">
                      <th mat-header-cell *matHeaderCellDef> {{'COMMON_S_NO' | translate}}
                      </th>
                      <td mat-cell *matCellDef="let element; let i=index;"> {{i+1}} </td>
                    </ng-container>
                    <ng-container matColumnDef="skillName">
                      <th mat-header-cell *matHeaderCellDef>
                        {{'EMPLOYEE_SKILL_NAME' | translate}}</th>
                      <td mat-cell *matCellDef="let element"> {{element.skillName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="noOfYears">
                      <th mat-header-cell *matHeaderCellDef>
                        {{'EMPLOYEE_NO_OF_YEARS' | translate}} </th>
                      <td mat-cell *matCellDef="let element"> {{element.noOfYears}} </td>
                    </ng-container>
                    <ng-container matColumnDef="level">
                      <th mat-header-cell *matHeaderCellDef> {{'EMPLOYEE_LEVEL' | translate}}
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element.level}} </td>
                    </ng-container>
                    <ng-container matColumnDef="remarks">
                      <th mat-header-cell *matHeaderCellDef> {{'COMMON_REMARKS' | translate}}
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element.remarks}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="skillTrainingDispCol;sticky: true"></tr>
                    <tr mat-row *matRowDef="let element; columns: skillTrainingDispCol;">
                  </table>
                </mat-card-content>
              </mat-card>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                {{'USER_PREVIOUS_EXPERIENCE' | translate }}
              </ng-template>
              <mat-card fxLayout="column">
                <mat-card-content fxLayout="column">
                  <table mat-table [dataSource]="experienceDataSource" matSort>
                    <ng-container matColumnDef="sno">
                      <th mat-header-cell *matHeaderCellDef> {{'COMMON_S_NO' | translate}}
                      </th>
                      <td mat-cell *matCellDef="let element; let i=index;"> {{i+1}} </td>
                    </ng-container>
                    <ng-container matColumnDef="companyName">
                      <th mat-header-cell *matHeaderCellDef>
                        {{'EMPLOYEE_COMPANY' | translate}} </th>
                      <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="startDateDisp">
                      <th mat-header-cell *matHeaderCellDef>
                        {{'EMPLOYEE_FROM_DATE' | translate}} </th>
                      <td mat-cell *matCellDef="let element"> {{element.startDateDisp}} </td>
                    </ng-container>
                    <ng-container matColumnDef="endDateDisp">
                      <th mat-header-cell *matHeaderCellDef>
                        {{'EMPLOYEE_TO_DATE' | translate}} </th>
                      <td mat-cell *matCellDef="let element"> {{element.endDateDisp}} </td>
                    </ng-container>
                    <ng-container matColumnDef="designation">
                      <th mat-header-cell *matHeaderCellDef>
                        {{'DESIGNATION_NAME' | translate}} </th>
                      <td mat-cell *matCellDef="let element"> {{element.designation}} </td>
                    </ng-container>
                    <ng-container matColumnDef="address">
                      <th mat-header-cell *matHeaderCellDef> {{'COMMON_ADDRESS' | translate}}
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="experienceDispCol;sticky: true"></tr>
                    <tr mat-row *matRowDef="let element; columns: experienceDispCol;">
                  </table>
                </mat-card-content>
              </mat-card>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                {{'USER_DESIGNATION' | translate }}
              </ng-template>
              <mat-card fxLayout="column">
                <mat-card-content fxLayout="column">
                  <table mat-table [dataSource]="designationDataSource" matSort>
                    <ng-container matColumnDef="sno">
                      <th mat-header-cell *matHeaderCellDef> {{'COMMON_S_NO' | translate}} </th>
                      <td mat-cell *matCellDef="let element; let i=index;"> {{i+1}} </td>
                    </ng-container>
                    <ng-container matColumnDef="designationName">
                      <th mat-header-cell *matHeaderCellDef> {{'DESIGNATION_NAME' | translate}} </th>
                      <td mat-cell *matCellDef="let element"> {{element.designationName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="fromDateDisp">
                      <th mat-header-cell *matHeaderCellDef> {{'EMPLOYEE_FROM_DATE' | translate}}
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element.fromDateDisp}} </td>
                    </ng-container>
                    <ng-container matColumnDef="tillDateDisp">
                      <th mat-header-cell *matHeaderCellDef> {{'EMPLOYEE_TILL_DATE' | translate}}
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element.tillDateDisp}} </td>
                    </ng-container>
                    <ng-container matColumnDef="reportingPersonName">
                      <th mat-header-cell *matHeaderCellDef>
                        {{'EMPLOYEE_REPORTING_MANAGER' | translate}} </th>
                      <td mat-cell *matCellDef="let element"> {{element.reportingPersonName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="reportingHodName">
                      <th mat-header-cell *matHeaderCellDef> {{'EMPLOYEE_REPORTING_HOD' | translate}}
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element.reportingHodName}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="designationDispCol;sticky: true"></tr>
                    <tr mat-row *matRowDef="let element; columns: designationDispCol;">
                  </table>
                </mat-card-content>
              </mat-card>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                {{'USER_QUALIFICATION' | translate }}
              </ng-template>
              <mat-card fxLayout="column">
                <mat-card-content fxLayout="column">
                  <table mat-table [dataSource]="qualificationDataSource" matSort>
                    <ng-container matColumnDef="sno">
                      <th mat-header-cell *matHeaderCellDef> {{'COMMON_S_NO' | translate}}
                      </th>
                      <td mat-cell *matCellDef="let element; let i=index;"> {{i+1}} </td>
                    </ng-container>
                    <ng-container matColumnDef="qualificationName">
                      <th mat-header-cell *matHeaderCellDef>
                        {{'EMPLOYEE_QUALIFICATION' | translate}} </th>
                      <td mat-cell *matCellDef="let element"> {{element.qualificationName}}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="startDateDisp">
                      <th mat-header-cell *matHeaderCellDef>
                        {{'EMPLOYEE_FROM_DATE' | translate}} </th>
                      <td mat-cell *matCellDef="let element"> {{element.startDateDisp}} </td>
                    </ng-container>
                    <ng-container matColumnDef="completedDateDisp">
                      <th mat-header-cell *matHeaderCellDef>
                        {{'EMPLOYEE_TO_DATE' | translate}}</th>
                      <td mat-cell *matCellDef="let element"> {{element.completedDateDisp}}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="university">
                      <th mat-header-cell *matHeaderCellDef>
                        {{'EMPLOYEE_UNIVERSITY' | translate}} </th>
                      <td mat-cell *matCellDef="let element"> {{element.university}} </td>
                    </ng-container>
                    <ng-container matColumnDef="percentage">
                      <th mat-header-cell *matHeaderCellDef>
                        {{'EMPLOYEE_PERCENTAGE' | translate}} </th>
                      <td mat-cell *matCellDef="let element"> {{element.percentage}} </td>
                    </ng-container>
                    <ng-container matColumnDef="yearOfPassing">
                      <th mat-header-cell *matHeaderCellDef>
                        {{'EMPLOYEE_YEAR_OF_PASSED' | translate}} </th>
                      <td mat-cell *matCellDef="let element"> {{element.yearOfPassing}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="qualificationDispCol;sticky: true"></tr>
                    <tr mat-row *matRowDef="let element; columns: qualificationDispCol;">
                  </table>
                </mat-card-content>
              </mat-card>
            </mat-tab>
            <mat-tab *ngIf="false">
              <ng-template mat-tab-label>
                {{'AI_AUTOMATED_REPORTS' | translate }}
              </ng-template>
              <mat-card-content fxLayout="column" style="margin-top: 8px;margin-left: 8px;">
                <mat-slide-toggle [(ngModel)]="receiveAutomatedAssetReport"
                  [checked]="userAddEditFormGroup.controls.receiveAutomatedAssetReport.value" color="primary"
                  (change)="saveReport($event.checked)">Receive Daily Asset Summary Report</mat-slide-toggle>
                <p class="mat-caption" style="margin-top: 8px;">
                  Reports are generated daily at 6:00 PM and will be sent to your registered email address.
                </p>
                <mat-divider style="margin-top: 24px; margin-bottom: 24px;"></mat-divider>
              </mat-card-content>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </form>
</div>